<section class="about-features">
    <div class="about-features__content">
        <div class="about-features__top-row">
            <div class="about-features__top-item">
                OSIO + ICL Техно
            </div>
            <div class="about-features__top-item">
                Лидеры по производству
                вычислительной техники
            </div>
        </div>
        <ul class="about-features__list">
            <li class="about-features__list-item">
                <div class="about-features__card">
                    <img src="/images/about-features/decor-1.svg" alt="" class="about-features__card-decor">
                    <div class="about-features__card-title-wrapper">
                        <div class="about-features__card-number">
                            1
                        </div>
                        <h3 class="about-features__card-title">
                            компания
                        </h3>
                    </div>
                    <div class="about-features__card-text">
                        головная компания
                        ICL — резиденты Особой экономической зоны «Иннополис»
                    </div>
                    <div class="about-features__card-text-second">
                        головная компания
                        ICL — резиденты Особой экономической зоны «Иннополис»
                    </div>
                    <div class="about-features__card-small-text">
                        ICL Техно — лидер российского рынка в области поставок компьютерного оборудования с 30-летним
                        опытом успешной работы. А резидентство подчеркивает наш вклад в развитие отечественного
                        ИТ-сектора.
                    </div>
                    <div class="about-features__card-image-wrapper">
                        <img src="/images/about-features/1.webp" alt="" class="about-features__card-image">
                    </div>
                    <div class="about-features__card-btn" type="button">
                        <span class="about-features__card-btn-plus">
                            +
                        </span>
                    </div>
                    <div class="about-features__card-clickable-area">

                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>