<section class="about-intro">
    <div class="about-intro__bg">
        <img src="/images/about-intro.webp" alt="" class="about-intro__bg-image">
    </div>
    <div class="about-intro__content">
        <div class="about-intro__row">
            <div class="about-intro__text-content">
                <h1 class="about-intro__heading">
                    Создаём технику на&nbsp;российском заводе
                </h1>
                <div class="about-intro__text">
                    OSiO — розничный бренд, который создала российская компания с 30-летним опытом в области
                    производства и поставок ИТ-техники ICL Техно. Наша продукция выпускается на собственном заводе под
                    Казанью. Мы тестируем все оборудование и полностью отвечаем за качество.
                </div>
            </div>
            <a href="/videos/video.mp4" class="about-intro__video-link" data-fancybox="">
                <img src="/images/about-intro-video.webp" alt="" class="about-intro__video-link-preview">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#brand-play"></use>
                </svg>
            </a>
        </div>
        <div class="about-intro__advantages">
            <ul class="about-intro__advantages-list">
                <li class="about-intro__advantages-list-item">
                    <div class="about-intro__advantages-card">
                        <img src="/images/about-intro/1.svg" alt="" class="about-intro__advantages-card-icon">
                        <h3 class="about-intro__advantages-card-title">
                            Сервисная поддержка
                            в&nbsp;100+ городах
                        </h3>
                    </div>
                </li>
                <li class="about-intro__advantages-list-item">
                    <div class="about-intro__advantages-card">
                        <img src="/images/about-intro/2.svg" alt="" class="about-intro__advantages-card-icon">
                        <h3 class="about-intro__advantages-card-title">
                            Круглосуточная
                            горячая линия
                        </h3>
                    </div>
                </li>
                <li class="about-intro__advantages-list-item">
                    <div class="about-intro__advantages-card">
                        <img src="/images/about-intro/3.svg" alt="" class="about-intro__advantages-card-icon">
                        <h3 class="about-intro__advantages-card-title">
                            Апгрейд техники
                            без&nbsp;потери гарантии
                        </h3>
                    </div>
                </li>
                <li class="about-intro__advantages-list-item">
                    <div class="about-intro__advantages-card">
                        <img src="/images/about-intro/4.svg" alt="" class="about-intro__advantages-card-icon">
                        <h3 class="about-intro__advantages-card-title">
                            Широкое портфолио комплектаций
                        </h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>