<section class="about-features">
    <div class="about-features__content">
        <div class="about-features__top-row">
            <div class="about-features__top-item">
                OSIO + ICL Техно
            </div>
            <div class="about-features__top-item">
                Лидеры по производству
                вычислительной техники
            </div>
        </div>
        <ul class="about-features__list">
            <li class="about-features__list-item">
                <div class="about-features__card">
                    <img src="/images/about-features/decor-1.svg" alt="" class="about-features__card-decor">
                    <div class="about-features__card-title-wrapper">
                        <div class="about-features__card-number">
                            1
                        </div>
                        <h3 class="about-features__card-title">
                            компания
                        </h3>
                    </div>
                    <div class="about-features__card-text">
                        головная компания
                        ICL — резиденты Особой экономической зоны «Иннополис»
                    </div>
                    <div class="about-features__card-text-second">
                        головная компания
                        ICL — резиденты Особой экономической зоны «Иннополис»
                    </div>
                    <div class="about-features__card-small-text">
                        ICL Техно — лидер российского рынка в области поставок компьютерного оборудования с 30-летним
                        опытом успешной работы. А резидентство подчеркивает наш вклад в развитие отечественного
                        ИТ-сектора.
                    </div>
                    <div class="about-features__card-image-wrapper">
                        <img src="/images/about-features/1.webp" alt="" class="about-features__card-image">
                    </div>
                    <div class="about-features__card-btn" type="button">
                        <span class="about-features__card-btn-plus">
                            +
                        </span>
                    </div>
                    <div class="about-features__card-clickable-area">

                    </div>
                </div>
            </li>
            <li class="about-features__list-item">
                <div class="about-features__card">
                    <img src="/images/about-features/decor-2.svg" alt="" class="about-features__card-decor">
                    <img src="/images/about-features/decor-2-alt.svg" alt="" class="about-features__card-decor">
                    <div class="about-features__card-title-wrapper">
                        <div class="about-features__card-number">
                            2
                        </div>
                        <h3 class="about-features__card-title">
                            Название бренда
                        </h3>
                    </div>
                    <div class="about-features__card-text">
                        Название бренда, вдохновлено химическими элементами — кислород, кремний, кислород
                    </div>
                    <div class="about-features__card-text-second">
                        Название бренда, вдохновлено химическими элементами — кислород, кремний, кислород
                    </div>
                    <div class="about-features__card-small-text about-features__card-small-text--align-end">
                        Вместе они создают диоксид кремния
                        (SiO2) — основной элемент процессора.
                    </div>
                    <div class="about-features__card-image-wrapper">
                        <img src="/images/about-features/2.webp" alt="" class="about-features__card-image">
                    </div>
                    <div class="about-features__card-btn" type="button">
                        <span class="about-features__card-btn-plus">
                            +
                        </span>
                    </div>
                    <div class="about-features__card-clickable-area">

                    </div>
                </div>
            </li>
            <li class="about-features__list-item">
                <div class="about-features__card">
                    <img src="/images/about-features/decor-3.svg" alt="" class="about-features__card-decor">

                    <div class="about-features__card-title-wrapper">
                        <div class="about-features__card-number">
                            3
                        </div>
                        <h3 class="about-features__card-title">
                            Миссия
                        </h3>
                    </div>
                    <div class="about-features__card-text">
                        Создаем качественную технику для вашего комфорта и удобства
                    </div>
                    <div class="about-features__card-text-second">
                        Создаем качественную технику для вашего комфорта и удобства
                    </div>
                    <div class="about-features__card-small-text">
                        Создаем качественную технику для вашего комфорта и удобства, используя многолетний опыт компании
                        ICL
                    </div>
                    <div class="about-features__card-image-wrapper">
                        <img src="/images/about-features/3.webp" alt="" class="about-features__card-image">
                    </div>
                    <div class="about-features__card-btn" type="button">
                        <span class="about-features__card-btn-plus">
                            +
                        </span>
                    </div>
                    <div class="about-features__card-clickable-area">

                    </div>
                </div>
            </li>
            <li class="about-features__list-item">
                <div class="about-features__card">
                    <img src="/images/about-features/decor-4.svg" alt="" class="about-features__card-decor">

                    <div class="about-features__card-title-wrapper">
                        <div class="about-features__card-number">
                            4
                        </div>
                        <h3 class="about-features__card-title">
                            Вокруг тебя. О тебе.
                        </h3>
                    </div>
                    <div class="about-features__card-text">
                        Человек – это ось, вокруг которой выстроен наш бренд. Он всегда рядом
                    </div>
                    <div class="about-features__card-text-second">
                        Человек – это ось, вокруг которой выстроен наш бренд. Он всегда рядом
                    </div>
                    <div class="about-features__card-small-text about-features__card-small-text--align-end">
                        Используем различные тесты для проверки качества перед отправкой продукта вам и сделали активную
                        онлайн-поддержку, чтобы быть всегда на связи.
                    </div>
                    <div class="about-features__card-image-wrapper">
                        <img src="/images/about-features/4.webp" alt="" class="about-features__card-image">
                    </div>
                    <div class="about-features__card-btn" type="button">
                        <span class="about-features__card-btn-plus">
                            +
                        </span>
                    </div>
                    <div class="about-features__card-clickable-area">

                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>