<section class="actual-materials">
    <div class="actual-materials__content">
        <div class="actual-materials__top-row">
            <div class="actual-materials__tabs-nav">
                <ul class="actual-materials__tabs-nav-list">
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link active">
                            все
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            первый запуск
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            установка драйверов
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            настройка по
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            wi-fi
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            подключение принтера
                        </a>
                    </li>
                    <li class="actual-materials__tabs-nav-list-item">
                        <a href="#" class="actual-materials__tabs-nav-link">
                            сброс настроек
                        </a>
                    </li>
                </ul>
            </div>
            {{> search-form }}
        </div>
        <h2 class="actual-materials__heading">
            актуальное
        </h2>
        <div class="actual-materials__tabs">
            {{#times 7}}
                <div class="actual-materials__tabs-item">
                    <div class="actual-materials__slider">
                        <div class="actual-materials__slider-wrapper">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/1.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    установка драйверов
                                                </div>
                                                <h3 class="material-card__title">
                                                    Как установить драйверы
                                                    и обновления ПО самостоятельно
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/2.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    wi-fi
                                                </div>
                                                <h3 class="material-card__title">
                                                    Подключение к Wi-Fi
                                                    и настройка сети за 5 минут
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/3.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    первый запуск
                                                </div>
                                                <h3 class="material-card__title">
                                                    Быстрая настройка устройства: шаг за шагом
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/4.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    настройка по
                                                </div>
                                                <h3 class="material-card__title">
                                                    Устранение распространённых неполадок: простые решения
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/1.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    установка драйверов
                                                </div>
                                                <h3 class="material-card__title">
                                                    Как установить драйверы
                                                    и обновления ПО самостоятельно
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="material-card">
                                            <div class="material-card__image-container">
                                                <img src="/images/materials/2.webp" alt="" class="material-card__image">
                                            </div>
                                            <div class="material-card__content">
                                                <div class="material-card__category">
                                                    wi-fi
                                                </div>
                                                <h3 class="material-card__title">
                                                    Подключение к Wi-Fi
                                                    и настройка сети за 5 минут
                                                </h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actual-materials__arrows">
                            <button class="actual-materials__arrow actual-materials__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="actual-materials__arrow actual-materials__arrow--next">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#slider-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            {{/times}}
        </div>
    </div>
</section>