<section class="adapter">
    <div class="adapter__content">
        <div class="adapter__text-content">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/20.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Соберите свой идеальный комплект
                </h2>
                <div class="line-text-content__text">
                    Готовы к работе в любых условиях? Добавьте к ноутбуку дополнительный оригинальный блок питания с с
                    технологией Quick Charge 3.0 и разъемом Type-C. Заряжайте устройство там, где вам удобно, не тратя
                    время на перенос одного адаптера между комнатами.
                </div>
                <div class="line-text-content__power">
                    65
                    <span>
                        ВТ
                    </span>
                </div>
            </div>
        </div>
        <div class="adapter__image-wrapper">
            <img src="/images/new-blocks/adapter/illustration-2.webp" alt="" class="adapter__image">
        </div>
    </div>
</section>