<section class="advantages">
    <div class="advantages__content">
        <div class="advantages__top-row">
            <div class="advantages__top-text">
                OSIO
            </div>
            <div class="advantages__top-text">
                Объединение людей и технологий
            </div>
        </div>
        <h2 class="advantages__heading">
            Вокруг тебя: забота и внимание, которые вдохновляют
        </h2>
        <div class="advantages__slider">
            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <div class="advantages__slider-card">
                        <img src="/images/advantages/1.svg" alt="" class="advantages__slider-card-icon">
                        <h3 class="advantages__slider-card-title">
                            87 городов
                        </h3>
                        <div class="advantages__slider-card-text">
                            Пользователи компьютерной техники OSiO могут полагаться на оперативную сервисную
                            поддержку и гарантийное обслуживание благодаря нашим сервисным центрам по всей России.
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__slider-card">
                        <img src="/images/advantages/2.svg" alt="" class="advantages__slider-card-icon">
                        <h3 class="advantages__slider-card-title">
                            Быстрая онлайн-поддержка
                        </h3>
                        <div class="advantages__slider-card-text">
                            Наша команда экспертов всегда готова оказать помощь или ответить на любые вопросы
                            относительно всех моделей, представленных на сайте.
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__slider-card">
                        <img src="/images/advantages/3.svg" alt="" class="advantages__slider-card-icon">
                        <h3 class="advantages__slider-card-title">
                            3 года гарантии
                        </h3>
                        <div class="advantages__slider-card-text">
                            Мы предлагаем расширенную гарантию на 3 года, обеспечивая дополнительную защиту
                            и уверенность в качестве наших продуктов.
                        </div>
                    </div>
                </li>
                <li class="advantages__list-item">
                    <div class="advantages__slider-card">
                        <img src="/images/advantages/4.svg" alt="" class="advantages__slider-card-icon">
                        <h3 class="advantages__slider-card-title">
                            33 года на рынке
                        </h3>
                        <div class="advantages__slider-card-text">
                            Мы тоже миллениалы и успешно работаем на российском IT-рынке уже 32 года, предлагая
                            передовые решения и надежные продукты.
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>