<section class="line-promo line-promo--with-slider" style="--slides-count: 2;">
    <div class="line-promo__content">

        <div class="line-promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Ваш надежный инструмент
                                    для продуктивной работы
                                </h2>
                                <div class="line-promo__text">
                                    Ноутбук OSiO BaseLine сочетает высокую производительность и компактный размер,
                                    идеально подходя для
                                    рабочих задач. Удобная клавиатура и современные разъёмы обеспечивают комфортную
                                    работу в офисе или
                                    удалённо.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/baseline/partner.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Ваш верный<br>
                                    помощник в учебе
                                </h2>
                                <div class="line-promo__text">
                                    OSiO BaseLine станет вашим надежным союзником в учебе. Благодаря лёгкости,
                                    длительному времени работы от батареи и эргономичному дизайну, он позволяет
                                    эффективно справляться с заданиями, независимо от того, где вы находитесь.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/baseline/poz.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-promo__slider-pagination"></div>
        </div>
        <div class="line-promo__pin-spacer"></div>
    </div>
</section>