<section class="line-fullscreen-image line-fullscreen-image--capacity">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/baseline/capacity-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/baseline/capacity.webp" alt="MDN" class="line-fullscreen-image__main-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">

        <div class="line-text-content">
            <img src="/images/baseline/icons/2.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Большая емкость<br>
                батареи
            </h2>
            <div class="line-text-content__text">
                Аккумулятор емкостью 5 000 mAh наделяет
                BaseLine способностью долго работать
                без подключения к розетке.
            </div>

        </div>


        <div class="line-tooltip" style="--x: 48%; --y: 62%; --mobile-x: 26%; --mobile-y: 67%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>
            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>