<section class="line-promo">
    <div class="line-promo__content">
        <div class="line-promo__top-row">
            <h2 class="line-promo__heading">
                Ваш надежный инструмент
                для продуктивной работы
            </h2>
            <div class="line-promo__text">
                Ноутбук OSiO BaseLine сочетает высокую производительность и компактный размер, идеально подходя для
                рабочих задач. Удобная клавиатура и современные разъёмы обеспечивают комфортную работу в офисе или
                удалённо.
            </div>
        </div>
        <div class="line-promo__image-wrapper">
            <img src="/images/baseline/partner.webp" alt="" class="line-promo__image">
        </div>
    </div>
</section>