<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/baseline/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/1.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Full HD<br>
                            IPS дисплей
                        </h3>
                        <div class="line-features__card-text">
                            250 нит
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/baseline/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/2.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            3 цвета
                        </h3>
                        <div class="line-features__card-text">
                            на выбор
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/baseline/features/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/3.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            5000 mAh
                        </h3>
                        <div class="line-features__card-text">
                            емкая батарея
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/baseline/features/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/4.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            широкий выбор<br>
                            портов
                        </h3>
                        <div class="line-features__card-text">
                            включая разъём RJ-45<br>
                            и Kensington Lock
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/baseline/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/5.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            процессор<br>
                            Intel N100
                        </h3>
                        <div class="line-features__card-text">
                            сопоставимый с процессорами<br>
                            Intel Core i3 8/10-го поколения
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/baseline/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/6.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Апгрейд<br>
                            RAM до 16 Gb
                        </h3>
                        <div class="line-features__card-text">
                            возможность увеличения памяти
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/baseline/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/7.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            новая <br>OC Uncom
                        </h3>
                        <div class="line-features__card-text">
                            для надежности <br>и удобства без границ
                        </div>
                        <div class="line-features__made-in-russia">
                            <img src="/images/rus.svg" alt="" class="line-features__made-in-russia-icon">
                            <span class="line-features__made-in-russia-text">
                                Сделано <br>в России
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/baseline/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/baseline/features/8.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            большой<br>
                            тачпад
                        </h3>
                        <div class="line-features__card-text">
                            отдельная цифровая клавиатура
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>