<section class="line-variants">
    <div class="line-variants__content">
        <div class="line-variants__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-variants__slider-text-card">
                            <img src="/images/baseline/icons/1.svg" alt="" class="line-variants__slider-card-icon">
                            <h3 class="line-variants__slider-text-card-title">
                                цвет на<br>
                                любой вкус
                            </h3>
                            <div class="line-variants__slider-text-card-image-wrapper">
                                <img src="/images/baseline/variants/1.webp" alt=""
                                    class="line-variants__slider-text-card-image">
                            </div>
                            <h4 class="line-variants__slider-text-card-color" style="color: #77787D;">
                                серый
                            </h4>
                            <div class="line-variants__slider-nav">
                                <button class="line-variants__slider-nav-btn active" style="--color: #C7C7C7;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn" style="--color: #171717;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn" style="--color: #3E6090;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="line-variants__slider-image-card">
                            <img src="/images/baseline/variants-photos/1.webp" alt=""
                                class="line-variants__slider-image-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-variants__slider-text-card">
                            <img src="/images/baseline/icons/1.svg" alt="" class="line-variants__slider-card-icon">
                            <h3 class="line-variants__slider-text-card-title">
                                цвет на<br>
                                любой вкус
                            </h3>
                            <div class="line-variants__slider-text-card-image-wrapper">
                                <img src="/images/baseline/variants/2.webp" alt=""
                                    class="line-variants__slider-text-card-image">
                            </div>
                            <h4 class="line-variants__slider-text-card-color" style="color: #171717;">
                                черный
                            </h4>
                            <div class="line-variants__slider-nav">
                                <button class="line-variants__slider-nav-btn" style="--color: #C7C7C7;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn active" style="--color: #171717;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn" style="--color: #3E6090;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="line-variants__slider-image-card">
                            <img src="/images/baseline/variants-photos/2.webp" alt=""
                                class="line-variants__slider-image-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-variants__slider-text-card">
                            <img src="/images/baseline/icons/1.svg" alt="" class="line-variants__slider-card-icon">
                            <h3 class="line-variants__slider-text-card-title">
                                цвет на<br>
                                любой вкус
                            </h3>
                            <div class="line-variants__slider-text-card-image-wrapper">
                                <img src="/images/baseline/variants/3.webp" alt=""
                                    class="line-variants__slider-text-card-image">
                            </div>
                            <h4 class="line-variants__slider-text-card-color" style="color: #3E6090;">
                                синий
                            </h4>
                            <div class="line-variants__slider-nav">
                                <button class="line-variants__slider-nav-btn" style="--color: #C7C7C7;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn" style="--color: #171717;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                                <button class="line-variants__slider-nav-btn active" style="--color: #3E6090;">
                                    <span class="line-variants__slider-nav-btn-text">

                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="line-variants__slider-image-card">
                            <img src="/images/baseline/variants-photos/3.webp" alt=""
                                class="line-variants__slider-image-card-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>