<section
    class="line-fullscreen-image line-fullscreen-image--ports line-fullscreen-image--ports-blue line-fullscreen-image--ports-margin">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/baseline/ports-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/baseline/ports.webp" alt="MDN" class="line-fullscreen-image__main-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-text-content">
            <img src="/images/baseline/icons/4.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                подключение<br>
                до двух мониторов
            </h2>
            <div class="line-text-content__text">
                <p>
                    Type-C порт можно использовать не только для совместимых устройств,
                    но и для подключения внешнего дисплея. При этом ноутбук будет сразу заряжаться.
                    HDMI порт позволит подключить второй монитор.
                </p>
                <p>
                    Ноутбук дополнительно оборудован двумя стандартными USB портами плюс дополнительный порт Type-C.
                </p>
                <p>
                    Разъем RJ-45 позволит получить максимальную скорость по локальной сети.
                </p>
            </div>
        </div>
    </div>
</section>