<section class="line-intro">
    <div class="line-intro__bg">
        <picture>
            <source srcset="/images/baseline/intro/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/baseline/intro/bg.webp" alt="" class="line-intro__bg-image" />
        </picture>
    </div>
    <div class="line-intro__content">
        <div class="breadcrumbs line-intro__breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                НОУТБУКИ
            </a>
            <a class="active">
                линейки baseline
            </a>
        </div>
        <div class="line-intro__row">
            <div class="line-intro__text-content">

                <h1 class="line-intro__heading">
                    <span class="line-intro__heading-name">
                        BaseLine
                    </span>
                    <span class="line-intro__heading-text">
                        Идеальный компаньон для работы и учёбы
                    </span>
                </h1>
                <div class="line-intro__text">
                    Ноутбуки серии BaseLine с диагональю экрана 15,6” - бюджетное решение для пользователей, которым
                    необходим надежный и функциональный ноутбук
                    для повседневных задач.
                </div>
                <div class="line-intro__btns">
                    <a href="#" class="line-intro__buy-btn">
                        купить
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="line-intro__download-btn">
                        драйверы и документация
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#document"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="line-intro__image-wrapper">
                <img src="/images/baseline/intro/laptop.webp" alt="" class="line-intro__image">
            </div>
        </div>
    </div>
</section>