<section class="line-image-with-text line-image-with-text--upgrade">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/baseline/icons/8.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Возможность<br>
                    апгрейда
                </h2>
                <div class="line-text-content__text">
                    Без потери гарантии можно увеличить оперативную
                    память до 16 GB, а также заменить SSD на более объемный.
                </div>
                <div class="line-text-content__weight">
                    до <b>16 gb ram</b>
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/baseline/upgrade.webp" alt="" class="line-image-with-text__image">
            <div class="line-tooltip" style="--x: 57%; --y: 68%; --mobile-x: 30%; --mobile-y: 58%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>