<section class="line-image-with-text line-image-with-text--compatibility">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/baseline/icons/9.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    совместимость<br>
                    с linux
                </h2>
                <div class="line-text-content__text">
                    OSiO BaseLine B150i совместим с большинством<br>
                    популярных сборок и ядер.
                </div>
                <div class="line-text-content__os">
                    <img src="/images/baseline/linux.webp" alt="" class="line-text-content__os-image">
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/baseline/compatibility.webp" alt="" class="line-image-with-text__image">

        </div>
    </div>
</section>