<section class="line-image-with-text line-image-with-text--cooling line-image-with-text--cooling-baseline">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/baseline/icons/3.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    пассивное<br>
                    охлаждение
                </h2>
                <div class="line-text-content__text">
                    Пассивное охлаждение — это не только бесшумная работа ноутбука, но и высокая энергоэффективность
                    использования батареи без снижения мощности процессора.
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/baseline/cooling.webp" alt="" class="line-image-with-text__image">
            <div class="line-tooltip" style="--x: 41%; --y: 68%; --mobile-x: 30%; --mobile-y: 58%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>