<section class="line-image-with-text line-image-with-text--preinstalled">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/baseline/icons/7.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Веб-звонки<br>
                    на ваших правилах
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Камера 1.92 мегапикселя подходит для комфортной
                        работы по видеосвязи.
                    </p>
                    <p>
                        Веб-камера ноутбука оснащена специальной шторкой.
                        Она закрывает веб-камеру, когда она не используется, и позволит сохранить вашу приватность.
                    </p>
                    <p>
                        Направленный микрофон служит для особой четкости вашего голоса на конфколлах.
                    </p>
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/baseline/web-calls.webp" alt="" class="line-image-with-text__image">
            <div class="line-tooltip" style="--x: 43%; --y: 81%; --mobile-x: 26%; --mobile-y: 73%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>