<section class="line-image-with-text line-image-with-text--preinstalled line-image-with-text--preinstalled-wide-text">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/baseline/icons/5.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Комфортная работа<br>
                    с большими документами
                </h2>
                <div class="line-text-content__text">
                    Отдельная цифровая клавиатура – незаменимый помощник при работе с данными. Большой тачпад с
                    мультитачем позволит точно контролировать положение курсора
                    в больших таблицах и документах.
                </div>

            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/baseline/keyboard.webp" alt="" class="line-image-with-text__image">
            <div class="line-tooltip" style="--x: 43%; --y: 81%; --mobile-x: 24%; --mobile-y: 34%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-tooltip" style="--x: 61%; --y: 38%; --mobile-x: 33%; --mobile-y: 75%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>