<section class="line-efficiency">
    <div class="line-efficiency__content">
        <div class="line-efficiency__top-row">
            <div class="line-text-content">
                <img src="/images/baseline/icons/11.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    мощная эффективность
                </h2>
                <div class="line-text-content__text">
                    Процессоры Intel N100 гораздо мощнее и эффективнее, чем Intel Celeron,
                    Pentium Gold, Silver и даже Intel Core i3-10300
                </div>
            </div>
        </div>
        <div class="line-efficiency__image-wrapper">
            <picture>
                <source srcset="/images/baseline/efficiency-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/baseline/efficiency.webp" alt="" class="line-efficiency__image" />
            </picture>
            <picture>
                <source srcset="/images/baseline/efficiency-specs-mobile.svg" media="(max-width: 640px)" />
                <img src="/images/baseline/efficiency-specs.svg" alt="" class="line-efficiency__specs" />
            </picture>
        </div>
        <div class="line-efficiency__bottom-row">
            <div class="line-efficiency__desc-blocks">
                <div class="line-efficiency__desc-block">
                    <p>
                        Мощность процессора N100 по результатам различных тестов превосходит даже Core i3-10300 (10-ое
                        поколение) и многие другие процессоры линейки Intel Pentium, Celeron, Core i5 7-го поколения, а
                        также AMD Ryzen 3.
                    </p>
                </div>
                <div class="line-efficiency__desc-block">
                    <p>
                        Основная мощность процессора раскрывается при работе с офисными программами Excel, Word, Power
                        Point и т.д.
                    </p>
                </div>
                <div class="line-efficiency__desc-block">
                    <p>
                        Процессор не был спроектирован для игр, но выдает такие показатели в играх:
                    </p>
                    <ul>
                        <li>
                            CS:GO – 60 FPS,
                        </li>
                        <li>
                            Forza Horizon 4 – 30 FPS,
                        </li>
                        <li>
                            Resident Evil 5 – 70 FPS,
                        </li>
                        <li>
                            Grid Autosport – 60 FPS.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>