<section class="battery">
    <div class="battery__bg">
        <picture>
            <source srcset="/images/new-blocks/battery-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/battery.webp" alt="" />
        </picture>
    </div>
    <div class="battery__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/5.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Большая емкость<br>
                батареи
            </h2>
            <div class="line-text-content__text">
                Аккумулятор емкостью 5 000 mAh наделяет
                BaseLine способностью долго работать
                без подключения к розетке.
            </div>
        </div>
    </div>
</section>