<section class="memory-upgrade">
    <div class="memory-upgrade__bg">
        <picture>
            <source srcset="/images/new-blocks/memory-upgrade-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/memory-upgrade.webp" alt="" />
        </picture>
    </div>
    <div class="memory-upgrade__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/2.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Возможность апгрейда до 16 gb ram
            </h2>
            <div class="line-text-content__text">
                Мы предусмотрели возможность увеличения производительности ноутбука. Без потери гарантии можно
                самостоятельно увеличить оперативную память до 16Gb,
                а также заменить SSD на более объемный.
            </div>
        </div>
    </div>
</section>