<section class="block-privacy">
    <div class="block-privacy__content">
        <div class="block-privacy__left-col">
            <picture>
                <source srcset="/images/block-2/privacy/1-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/block-2/privacy/1.webp" alt="" class="block-privacy__image">
            </picture>
        </div>
        <div class="block-privacy__right-col">
            <div class="line-text-content">
                <img src="/images/block/icons/9.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    приватность под контролем
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    Выдвижной модуль с камерой 5 Mp, микрофонами и индикатором включенной камеры (светодиодом).
                    Выдвиньте для кристально четких видеозвонков, уберите — чтобы обезопасить свою частную жизнь
                    физически. Никаких лишних глаз.
                </div>
            </div>
        </div>
    </div>
</section>