<section class="block-dynamic block-dynamic--2">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content">
                <img src="/images/block/icons/5.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Встроенные<br>
                    динамики
                </h2>
                <div class="line-text-content__text">
                    Встроенные динамики c кнопками регулирования громкости обеспечивают четкое воспроизведение музыки,
                    фильмов и голоса в видео, избавляя от необходимости подключать внешние колонки. А если вам нужен
                    приватный звук — просто подключите наушники через удобный разъём 3.5 мм.
                </div>
            </div>
            <div class="block-dynamic__image-wrapper">
                <picture>
                    <source srcset="/images/block-2/dynamic/1-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/block-2/dynamic/1.webp" alt="" class="block-dynamic__image" />
                </picture>
            </div>
        </div>
    </div>
</section>