<section class="block-interfaces">
    <div class="block-interfaces__content">
        <div class="block-interfaces__top-row">
            <div class="line-text-content">
                <img src="/images/block/icons/2.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Удобные<br>
                    интерфейсы
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Основные разъемы используемые каждый день, для удобства расположены
                        на лицевой части моноблока. Для расширения возможностей, можно подключить
                        второй монитор через разъем HDMI.
                    </p>
                    <p>
                        На моноблоке расположен разъем Kensington Lock, дающий возможность
                        надежно защитить устройство от перемещения.
                    </p>
                </div>
            </div>
        </div>
        <ul class="block-interfaces__list">
            <li class="block-interfaces__list-item">
                <div class="block-interfaces__card">
                    <picture>
                        <source srcset="/images/block/interfaces/1-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/block/interfaces/1.webp" alt="MDN" class="block-interfaces__card-image" />
                    </picture>
                </div>
            </li>
            <li class="block-interfaces__list-item">
                <div class="block-interfaces__card">
                    <picture>
                        <source srcset="/images/block/interfaces/2-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/block/interfaces/2.webp" alt="MDN" class="block-interfaces__card-image" />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>