<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block-2/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/1.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            24” FHD или 27” QHD дисплей
                        </h3>
                        <div class="line-features__card-text">
                            с регулировкой высоты и наклона
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block-2/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/2.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            2 цвета и 2 диагонали
                        </h3>
                        <div class="line-features__card-text">
                            на выбор
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block-2/features/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/3.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            процессор 12-14 поколения
                        </h3>
                        <div class="line-features__card-text">
                            полноценные десктопные процессоры
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block-2/features/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/4.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Умная эргономика<br> – порты внизу
                        </h3>
                        <div class="line-features__card-text">
                            и кабель-мееджмент от хаоса в проводах
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block-2/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/5.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Выдвижная<br> web-камера
                        </h3>
                        <div class="line-features__card-text">
                            5 MP
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block-2/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/6.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            WiFi 6 RJ-45
                        </h3>
                        <div class="line-features__card-text">
                            с гигабитной скоростью
                        </div>
                    </div>
                    <img src="/images/block-2/features/wifi.svg" alt="" class="line-features__card-wifi">
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block-2/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/7.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            крепление Vesa
                        </h3>
                        <div class="line-features__card-text">
                            10x10
                        </div>
                    </div>

                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block-2/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block-2/features/8.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Апгрейд<br>
                            без потери гарантии
                        </h3>
                        <div class="line-features__card-text">
                            2 слота DDR4 с поддержкой до 64 Gb
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>