<section class="block-select-color">
    <div class="block-select-color__content">
        <div class="block-select-color__top">
            <div class="line-text-content">
                <img src="/images/block/icons/8.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    цвет на<br>
                    любой вкус
                </h2>
            </div>
        </div>
        <div class="block-select-color__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="block-select-color__slider-card">
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/1-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/1.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/2-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/2.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/3-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/3.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/4-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/4.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="block-select-color__slider-color" style="color: #171717;">
                            черный
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-select-color__slider-card">
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/2/1-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/2/1.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/2/2-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/2/2.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/2/3-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/2/3.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/2/4-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/2/4.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="block-select-color__slider-color" style="color: #CCCCCC;">
                            белый
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="block-select-color__slider-card">
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/3/1-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/3/1.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/3/2-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/3/2.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/3/3-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/3/3.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/3/4-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/3/4.webp" alt=""
                                        class="block-select-color__slider-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="block-select-color__slider-color" style="color: #3C495E;">
                            синий
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-select-color__slider-nav">
            <button class="block-select-color__slider-nav-btn active" style="--color: #171717;">
                <span class="block-select-color__slider-nav-btn-text">

                </span>
            </button>
            <button class="block-select-color__slider-nav-btn" style="--color: #E9E9E9;">
                <span class="block-select-color__slider-nav-btn-text">

                </span>
            </button>

            <button class="block-select-color__slider-nav-btn" style="--color: #3C495E;">
                <span class="block-select-color__slider-nav-btn-text">

                </span>
            </button>
        </div>
    </div>
</section>