<section class="block-cooling">
    <div class="block-cooling__content">
        <div class="block-cooling__image-wrapper">
            <picture>
                <source srcset="/images/block-2/cooling/1-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/block-2/cooling/1.webp" alt="" class="block-cooling__image">
            </picture>
        </div>
        <div class="block-cooling__wrapper">
            <div class="line-text-content">
                <img src="/images/block/icons/11.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    продуманная система<br>
                    охлаждения
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    Верхнее расположение системы охлаждения в FocusLine — это не случайность, а продуманное решение. Оно
                    предотвращает перегрев даже под нагрузкой и сводит шум к минимуму.
                </div>
            </div>
        </div>
    </div>
</section>