<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/1.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Full HD<br>
                            IPS дисплей
                        </h3>
                        <div class="line-features__card-text">
                            250 нит
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/2.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            3 цвета
                        </h3>
                        <div class="line-features__card-text">
                            на выбор
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block/features/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/3.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            мощный процессор
                        </h3>
                        <div class="line-features__card-text">
                            Intel Core i3/i5
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block/features/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/4.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Ультратонкий дизайн <br>
                            от корпуса до дисплея
                        </h3>
                        <div class="line-features__card-text">
                            толщина всего 56 мм
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/5.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Камера <br>
                            5 Mp
                        </h3>
                        <div class="line-features__card-text">
                            со шторкой приватности
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/block/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/6.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            WiFi
                        </h3>
                        <div class="line-features__card-text">
                            6-го поколения
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card line-features__card--white">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/7.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Необходимые<br> разъемы
                        </h3>
                        <div class="line-features__card-text">
                            на передней части корпуса
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/block/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/block/features/8.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            звук
                        </h3>
                        <div class="line-features__card-text">
                            направленный
                            на пользователя
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>