<section class="block-dynamic block-dynamic--inverted">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content">
                <img src="/images/block/icons/5.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Веб-звонки<br>
                    на ваших правилах
                </h2>
                <div class="line-text-content__text">
                    Камера 5 мегапикселей — когда важна каждая деталь на встрече.
                    Веб-камера моноблока оснащена специальной шторкой.
                    Она закрывает веб-камеру, когда она не используется,
                    и позволит сохранить вашу приватность.
                </div>
            </div>
            <div class="block-dynamic__image-wrapper">
                <picture>
                    {{!-- <source srcset="/images/block/dynamic-mobile.webp" media="(max-width: 640px)" /> --}}
                    <img src="/images/block/web-calls.webp" alt="" class="block-dynamic__image" />
                </picture>
            </div>
        </div>
    </div>
</section>