<section class="block-dynamic">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content">
                <img src="/images/block/icons/7.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Ультратонкий<br>
                    дизайн
                </h2>
                <div class="line-text-content__text">
                    Все компоненты моноблока аккуратно размещены
                    в подставке, что обеспечивает компактный дизайн
                    и устойчивость конструкции на рабочем столе.
                    Корпус имеет толщину всего 56 мм, что делает
                    его невероятно тонким и стильным.
                </div>
                <div class="line-text-content__weight">
                    <b>56</b> мм
                </div>

            </div>
            <div class="block-dynamic__image-wrapper block-dynamic__image-wrapper--right-large">
                <picture>
                    <source srcset="/images/block/design-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/block/design.webp" alt="" class="block-dynamic__image" />
                </picture>
                <div class="line-tooltip" style="--x: 57%; --y: 68%; --mobile-x: 30%; --mobile-y: 52%;">
                    <button class="line-tooltip__btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#tooltip-plus"></use>
                        </svg>
                    </button>
                    <div class="line-tooltip__content">
                        <div class="line-tooltip__content-inner">
                            <div class="line-tooltip__text">
                                Защита зрения Eye Comfort
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>