<section class="line-promo line-promo--with-slider" style="--slides-count: 3;">
    <div class="line-promo__content">
        <div class="line-promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Надежное решение<br>
                                    для вашей работы
                                </h2>
                                <div class="line-promo__text">
                                    Моноблок OSiO BaseLine обеспечивает комфортную работу с документами
                                    и корпоративными приложениями благодаря высокой производительности и удобному
                                    интерфейсу, что делает его
                                    идеальным выбором для офисной и удаленной работы.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/block/partner.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Вдохновение для<br>
                                    творчества без границ
                                </h2>
                                <div class="line-promo__text">
                                    Идеальное решение для дизайнеров, художников и создателей контента. Моноблок
                                    поддерживает плавную работу с графическими программами, а точная цветопередача
                                    и быстрая обработка данных помогают воплощать любые креативные идеи.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/block/woman.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Центр цифрового комфорта <br>
                                    для всей семьи
                                </h2>
                                <div class="line-promo__text">
                                    Моноблок OSiO BaseLine станет универсальным устройством для дома: от просмотра
                                    фильмов и видеозвонков до образовательных занятий и интернет-сёрфинга. Благодаря
                                    современному дизайну он органично впишется в любой интерьер.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/block/woman-2.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-promo__slider-pagination"></div>
        </div>
        <div class="line-promo__pin-spacer"></div>
    </div>
</section>