<section class="block-select-color">
    <div class="block-select-color__content">
        <div class="block-select-color__top">
            <div class="line-text-content">
                <img src="/images/block/icons/8.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    цвет на<br>
                    любой вкус
                </h2>
            </div>
        </div>
        <div class="block-select-color__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="block-select-color__slider-card">
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/1-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/1.webp" alt=""
                                        class="block-dynamic__image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/2-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/2.webp" alt=""
                                        class="block-dynamic__image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/3-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/3.webp" alt=""
                                        class="block-dynamic__image" />
                                </picture>
                            </div>
                            <div class="block-select-color__slider-image-card">
                                <picture>
                                    <source srcset="/images/block/select-color/1/4-mobile.webp"
                                        media="(max-width: 640px)" />
                                    <img src="/images/block/select-color/1/4.webp" alt=""
                                        class="block-dynamic__image" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>