<section class="block-screen">
    <div class="block-screen__bg">
        <picture>
            <source srcset="/images/block-2/screen/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/block-2/screen/bg.webp" alt="MDN" class="block-screen__bg-image" />
        </picture>
    </div>
    <div class="block-screen__content block-screen__content--block-2">
        <div class="line-text-content">
            <img src="/images/block/icons/1.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Стиль от корпуса <br>
                до дисплея
            </h2>
            <div class="line-text-content__text">
                Два вида диагонали для ваших целей. Ультратонкие рамки дисплея, тонкий корпус на металлической опоре для
                безграничного наслаждения контентом. Яркий дисплей с IPS матрицей 250 нит обеспечивает 2k изображение
                и обладает широкими углами обзора.
            </div>
            <div class="line-text-content__weight">
                <b>24” FHD и 27” QHD </b>
            </div>
        </div>
        <ul class="block-screen__list">
            <li class="block-screen__list-item">
                <div class="block-screen__card">
                    <img src="/images/block/screen/1.svg" alt="" class="block-screen__card-icon">
                    <div class="block-screen__card-text-content">
                        <h3 class="block-screen__card-title">
                            Диагональ дисплея
                        </h3>
                        <div class="block-screen__card-amount">
                            23,8” и 27”
                        </div>
                    </div>
                </div>
            </li>
            <li class="block-screen__list-item">
                <div class="block-screen__card">
                    <img src="/images/block/screen/2.svg" alt="" class="block-screen__card-icon">
                    <div class="block-screen__card-text-content">
                        <h3 class="block-screen__card-title">
                            Разрешение экрана в пикселях
                        </h3>
                        <div class="block-screen__card-amount">
                            1920×1080/<br>2560×1440
                        </div>
                    </div>
                </div>
            </li>
            <li class="block-screen__list-item">
                <div class="block-screen__card">
                    <img src="/images/block/screen/3.svg" alt="" class="block-screen__card-icon">
                    <div class="block-screen__card-text-content">
                        <h3 class="block-screen__card-title">
                            Тип матрицы экрана
                        </h3>
                        <div class="block-screen__card-amount">
                            IPS
                        </div>
                    </div>
                </div>
            </li>
            <li class="block-screen__list-item">
                <div class="block-screen__card">
                    <img src="/images/block/screen/4.svg" alt="" class="block-screen__card-icon">
                    <div class="block-screen__card-text-content">
                        <h3 class="block-screen__card-title">
                            Яркость дисплея
                        </h3>
                        <div class="block-screen__card-amount">
                            250 кд/м2
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="line-tooltip" style="--x: 65%; --y: 35%; --mobile-x: 78%; --mobile-y: 32%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>
            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                </div>
            </div>
        </div>
        <div class="line-tooltip" style="--x: 46%; --y: 66%; --mobile-x: 30%; --mobile-y: 42%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>
            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>