<section class="cyberline-specs">
    <div class="cyberline-specs__content">
        <ul class="cyberline-specs__list">
            <li class="cyberline-specs__list-item">
                <div class="cyberline-specs__card">
                    <div class="cyberline-specs__card-bg cyberline-specs__card-bg--no-overlay">
                        <img src="/images/block/specs/1.webp" alt="" class="cyberline-specs__card-bg-image">
                    </div>
                    <div class="cyberline-specs__card-content">
                        <h3 class="cyberline-specs__card-title">
                            Быстрый интернет<br>
                            Wi-Fi 6
                        </h3>
                        <div class="cyberline-specs__card-text">
                            <p>
                                Wi-Fi 6E&nbsp;увеличивает скорость до&nbsp;2,4&nbsp;Гбит/с, улучшает сигнал для больших
                                помещений
                                и&nbsp;обеспечивает стабильное соединение. Дополнительная защита делает его более
                                безопасным,
                                защищая данные от&nbsp;несанкционированного доступа.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cyberline-specs__list-item">
                <div class="cyberline-specs__card">
                    <div class="cyberline-specs__card-bg cyberline-specs__card-bg--no-overlay">
                        <img src="/images/block/specs/2.webp" alt="" class="cyberline-specs__card-bg-image">
                    </div>
                    <div class="cyberline-specs__card-content">
                        <h3 class="cyberline-specs__card-title">
                            Предустановленные<br>
                            программы
                        </h3>
                        <div class="cyberline-specs__card-text">
                            <p>
                                Наши моноблоки имеют предустановленное&nbsp;ПО: <b>антивирус Kaspersky, Яндекс Браузер
                                    и&nbsp;МойОфис.</b> Это экономит время на&nbsp;настройку, позволяя
                                сразу
                                работать или развлекаться.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>