<section class="block-processor">
    <div class="block-processor__content">
        <img src="/images/block/icons/4.svg" alt="" class="block-processor__icon">
        <div class="block-processor__top">
            <h2 class="block-processor__heading">
                мощная эффективность<br>
                Для широкого спектра задач
            </h2>
            <div class="block-processor__text">
                Линейка процессоров Core i3 и i5 обеспечивает отличную производительность.
                Вы можете выбрать 8 или 16 Гб оперативной памяти для работы с несколькими приложениями. SSD-накопители
                256 или 512 Гб обеспечивают быструю загрузку.
            </div>
        </div>
        <div class="block-processor__image-wrapper">
            <picture>
                <source srcset="/images/block/processor-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/block/processor.webp" alt="MDN" class="block-processor__image" />
            </picture>
        </div>
    </div>
</section>