<section class="block-dynamic">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content">
                <img src="/images/block/icons/5.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Встроенный<br>
                    динамик
                </h2>
                <div class="line-text-content__text">
                    Встроенный динамик моноблока обеспечивает звук, направленный прямо на пользователя, создавая
                    уникальное ощущение погружения. Благодаря этому, каждый звук, будь то музыка или диалог, звучит
                    чётко и насыщенно, усиливая впечатления от использования устройства.
                </div>
            </div>
            <div class="block-dynamic__image-wrapper">
                <picture>
                    <source srcset="/images/block/dynamic-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/block/dynamic.webp" alt="" class="block-dynamic__image" />
                </picture>
            </div>
        </div>
    </div>
</section>