<section class="block-dynamic block-dynamic--inverted">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content">
                <img src="/images/block/icons/6.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    свобода вращения
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    В моноблок встроен G-sensor, благодаря которому при повороте на 90° ориентация рабочего стола
                    меняется. Эргономичный дизайн моноблока обеспечивает комфортную работу, позволяя регулировать
                    регулировать высоту дисплея, наклонять его в диапазоне от -5 до 15 градусов и переводить
                    в портретный режим, что делает его идеальным для различных задач и условий освещения.
                </div>
                <div class="line-text-content__weight">
                    на себя от <b>-5°</b>
                </div>
                <div class="line-text-content__weight">
                    от себя до <b>15°</b>
                </div>
                <div class="line-text-content__weight">
                    поворот <b>90°</b>
                </div>
            </div>
            <div class="block-dynamic__image-wrapper">
                <picture>
                    <source srcset="/images/block-2/angle/1-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/block-2/angle/1.webp" alt="" class="block-dynamic__image" />
                </picture>
                <div class="line-tooltip" style="--x: 45%; --y: 68%; --mobile-x: 60%; --mobile-y: 60%;">
                    <button class="line-tooltip__btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#tooltip-plus"></use>
                        </svg>
                    </button>
                    <div class="line-tooltip__content">
                        <div class="line-tooltip__content-inner">
                            <div class="line-tooltip__text">
                                Защита зрения Eye Comfort
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-tooltip" style="--x: 22%; --y: 46%; --mobile-x: 25%; --mobile-y: 32%;">
                    <button class="line-tooltip__btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#tooltip-plus"></use>
                        </svg>
                    </button>
                    <div class="line-tooltip__content">
                        <div class="line-tooltip__content-inner">
                            <div class="line-tooltip__text">
                                Защита зрения Eye Comfort
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>