<section class="line-promo">
    <div class="line-promo__content">
        <div class="line-promo__top-row">
            <h2 class="line-promo__heading">
                Надежное решение
                для вашей работы
            </h2>
            <div class="line-promo__text">
                Моноблок OSiO BaseLine обеспечивает комфортную работу с документами
                и корпоративными приложениями благодаря высокой производительности и удобному интерфейсу, что делает его
                идеальным выбором для офисной и удаленной работы.
            </div>
        </div>
        <div class="line-promo__image-wrapper">
            <img src="/images/block/partner.webp" alt="" class="line-promo__image">
        </div>
    </div>
</section>