<section class="line-promo line-promo--with-slider" style="--slides-count: 1;">
    <div class="line-promo__content">
        <div class="line-promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    мощь и элегантность<br>
                                    в одном корпусе
                                </h2>
                                <div class="line-promo__text">
                                    FocusLine — это моноблок для тех, кому важны суть и результат.Это не просто
                                    компактный компьютер — это центральный элемент вашего пространства, сочетающий мощь
                                    современной платформы, яркий дисплей и лаконичный дизайн, который работает на вас —
                                    дома, в офисе или на передовой вашего бизнеса.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <picture>
                                    <source srcset="/images/block-2/partner/1-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/block-2/partner/1.webp" alt="" class="line-promo__image">
                                </picture>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="line-promo__slider-pagination"></div>
        </div>
        <div class="line-promo__pin-spacer"></div>
    </div>
</section>