<section class="brand-connection">
    <div class="brand-connection__content">
        <div class="brand-connection__top-row">
            <div class="line-text-content">
                <img src="/images/brand-connection.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Прямая связь<br>
                    с брендом
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Сервисное обслуживание, консультации, гарантия — всё это доступно без посредников.
                    </p>
                </div>
            </div>
        </div>
        <a href="/videos/video.mp4" class="brand-connection__video" data-fancybox>
            <div class="brand-connection__video-bg">
                <img src="/images/brand-connection.webp" alt="" class="brand-connection__video-bg-image">
            </div>
            <svg aria-hidden="true" width="14" height="14">
                <use xlink:href="#partner-play"></use>
            </svg>
        </a>
    </div>
</section>