<section class="brand">
    <div class="brand__bg">

        <picture>
            <source srcset="/images/brand-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/brand.webp" alt="MDN" class="brand__bg-image" />
        </picture>

        <video src="/videos/video.mp4" playsinline="" autoplay="" muted="" loop="" class="brand__bg-image"></video>
    </div>
    <div class="brand__content">
        <div class="brand__text-content">
            <h2 class="brand__heading">
                Создано в России и для российских пользователей
            </h2>
            <div class="brand__large-text">
                OSiO — это новый бренд, созданный российской компанией ICL Techno. Наша продукция отличается стильным
                и изысканным дизайном, высоким уровнем удобства, отечественным производством и надежностью.
            </div>
            <div class="brand__small-text">
                OSiO вдохновляется самим человеком — его чувствами, целями развития, направлением движения и мечтами,
                стремясь стать неотъемлемой частью современной городской жизни.
            </div>
        </div>
        <a href="/videos/video.mp4" class="brand__video-link" data-fancybox="">
            <div class="brand__video-link-image-wrapper">
                <img src="/images/brand-video.webp" alt="" class="brand__video-link-image">
                <video src="/videos/video.mp4" playsinline="" autoplay="" muted="" loop=""
                    class="brand__video-link-image"></video>
            </div>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#brand-play"></use>
            </svg>
        </a>
    </div>
</section>