<section class="buy">
    <div class="buy__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                купить osio
            </a>
        </div>
        <div class="buy__text">
            самый широкий ассортимент на сайтах партнеров
        </div>
        <div class="buy__slider">
            <div class="buy__slider-text">
                7 магазинов
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/1.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    DNS
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/2.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    Эльдорадо
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/3.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    М.Видео
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/4.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    Технопарк
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/5.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    Ситилинк
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/6.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    Wildberries
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="buy__slider-card">
                            <a href="#" class="buy__slider-card-main">
                                <div class="buy__slider-card-main-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <div class="buy__slider-card-logo-container">
                                    <img src="/images/shops/7.webp" alt="" class="buy__slider-card-logo">
                                </div>
                                <h3 class="buy__slider-card-title">
                                    Ozon
                                </h3>
                            </a>
                            <div class="buy__slider-card-info">
                                <div class="buy__slider-card-info-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                </div>
                                <a href="#" class="buy__slider-card-info-link-wrapper"></a>
                                <div class="buy__slider-card-info-contacts">
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            горячая линия:
                                        </div>
                                        <a href="tel:+78002502525" class="buy__slider-card-info-contacts-item-link">8
                                            800 250 25 25</a>
                                    </div>
                                    <div class="buy__slider-card-info-contacts-item">
                                        <div class="buy__slider-card-info-contacts-item-title">
                                            сайт:
                                        </div>
                                        <a href="https://ozon.ru" class="buy__slider-card-info-contacts-item-link"
                                            target="_blank">ozon.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy__remark">
            Покупайте с выгодой — где и когда вам удобно
        </div>
    </div>
</section>