<section class="categories categories--about">
    <div class="categories__content">
        <div class="categories__top-row">
            <a href="#" class="categories__link">
                продукция
            </a>
            <a href="#" class="categories__link">
                где купить
            </a>
        </div>
        <ul class="categories__list">
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    {{> category-pattern }}
                    <img src="/images/categories/1.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Ноутбуки
                    </h3>
                    <div class="categories__card-link">
                        Перейти
                    </div>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    {{> category-pattern }}
                    <img src="/images/categories/2.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Моноблоки
                    </h3>
                    <div class="categories__card-link">
                        Перейти
                    </div>
                </a>
            </li>
            <li class="categories__list-item">
                <a href="#" class="categories__card">
                    {{> category-pattern }}
                    <img src="/images/categories/3.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Системные блоки
                    </h3>
                    <div class="categories__card-link">
                        Скоро в продаже
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>