<section class="categories">
    <div class="categories__content">
        <ul class="categories__list">
            <li class="categories__list-item">
                <div class="categories__card">
                    <a href="#" class="categories__card-link-wrapper">

                    </a>
                    {{> category-pattern }}
                    <img src="/images/categories/1.webp" alt="" class="categories__card-image">
                    <div class="categories__card-layers">
                        <div class="categories__card-layer">
                            <img src="/images/categories/layer-1.webp" alt="" class="categories__card-layer-image">
                        </div>
                        <div class="categories__card-layer">
                            <img src="/images/categories/layer-2.webp" alt="" class="categories__card-layer-image">
                        </div>
                        <div class="categories__card-layer">
                            <img src="/images/categories/layer-3.webp" alt="" class="categories__card-layer-image">
                        </div>
                    </div>
                    <h3 class="categories__card-title">
                        Ноутбуки
                    </h3>
                    <div class="categories__card-lines-btns">
                        <a href="#" class="categories__card-lines-btn">
                            FocusLine
                        </a>
                        <a href="#" class="categories__card-lines-btn">
                            BaseLine
                        </a>
                        <a href="#" class="categories__card-lines-btn">
                            CyberLine
                        </a>
                    </div>
                    <a href="#" class="categories__card-link">
                        Перейти
                    </a>
                </div>
            </li>
            <li class="categories__list-item">
                <div class="categories__card">
                    <a href="#" class="categories__card-link-wrapper">

                    </a>
                    {{> category-pattern }}
                    <img src="/images/categories/2.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Моноблоки
                    </h3>
                    <a href="#" class="categories__card-link">
                        Перейти
                    </a>
                </div>
            </li>
            <li class="categories__list-item">
                <div class="categories__card">
                    <a href="#" class="categories__card-link-wrapper">

                    </a>
                    {{> category-pattern }}
                    <img src="/images/categories/5.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Мониторы
                    </h3>
                    <div class="categories__card-link">
                        Перейти
                    </div>
                </div>
            </li>
            <li class="categories__list-item">
                <div class="categories__card">
                    <a href="#" class="categories__card-link-wrapper">

                    </a>
                    {{> category-pattern }}
                    <img src="/images/categories/6.webp" alt="" class="categories__card-image">
                    <h3 class="categories__card-title">
                        Компьютеры
                    </h3>
                    <div class="categories__card-link">
                        Перейти
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>