<section class="charger">
    <div class="charger__bg">
        <picture>
            <source srcset="/images/new-blocks/charger-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/charger.webp" alt="" />
        </picture>
    </div>
    <div class="charger__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/1.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Зарядка через<br>
                USB Type-C
            </h2>
            <div class="line-text-content__text">
                Современный порт USB Type-C версии 3.1 со скоростью передачи данных до 5 Гбит/с позволяет не только
                подключать внешний монитор, но и заряжать ноутбук
                во&nbsp;время работы.
            </div>
        </div>
    </div>
</section>