<section class="clips">
    <div class="clips__content">
        <div class="clips__image-container">
            <img src="/images/new-blocks/clips/illustration.webp" alt="" class="clips__image">
        </div>
        <div class="clips__text-content">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/16.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Никаких пломб<br> и хлипких защелок
                </h2>
                <div class="line-text-content__text">
                    Вы имеете полное право владеть своей техникой без ограничений, и в отличие от многих готовых
                    решений, наш системный блок не опечатан пломбами и не требует специальных усилий для вскрытия.
                </div>
            </div>
        </div>
    </div>
</section>