<section class="connections">
    <div class="connections__bg">
        <picture>
            <source srcset="/images/new-blocks/connections/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/connections/bg.webp" alt="MDN" class="block-screen__bg-image" />
        </picture>
    </div>
    <div class="connections__content">
        <div class="connections__text-content">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/14.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Максимум возможностей
                    для подключения
                </h2>
                <div class="line-text-content__text">
                    Компьютер обладает всеми необходимыми разъёмами для подключения аксессуаров. Для удобства, самые
                    важные вынесены на верхнюю часть устройства. К ПК можно подключить одновременно до трёх мониторов
                    используя разъёмы HDMI, USB Type-C и MiniDP.
                </div>
            </div>
        </div>
        <div class="connections__image-wrapper">
            <picture>
                <source srcset="/images/new-blocks/connections/illustration-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/new-blocks/connections/illustration.webp" alt="MDN" class="connections__image" />
            </picture>
        </div>
    </div>

</section>