<section class="contacts">
    <div class="contacts__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                контакты
            </a>
        </div>
        <div class="contacts__row">
            <div class="contacts__wrapper">
                <h1 class="contacts__heading">
                    контакты
                </h1>
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <div class="contacts__card-key">
                                Телефон горячей линии:
                            </div>
                            <a href="tel:+78002011178" class="contacts__card-value">8 (800) 201-11-78 </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <div class="contacts__card-key">
                                График работы линии:
                            </div>
                            <div class="contacts__card-value">9:00 - 18:00</div>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <div class="contacts__card-key">
                                Телефон поддержки:
                            </div>
                            <a href="tel:+78002011178" class="contacts__card-value">8 (800) 201-11-78 </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <div class="contacts__card-key">
                                E-mail для связи:
                            </div>
                            <a href="mailto:osio@osio.ru" class="contacts__card-value">E-mail для связи:</a>
                        </div>
                    </li>
                </ul>
                <div class="contacts__bottom">
                    <a href="#" class="contacts__download">
                        скачать реквизиты
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#document"></use>
                        </svg>
                    </a>
                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts__image-wrapper">
                <img src="/images/contacts.webp" alt="" class="contacts__image">
            </div>
        </div>
        <div class="contacts__partners">
            <h2 class="contacts__partners-heading">
                контакты партнеров
            </h2>
            <ul class="contacts__partners-list">
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Ситилинк
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        М.Видео
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Эльдорадо
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Ozon
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Wildberries
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Яндекс Маркет
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Регард
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        НИКС
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        КомпьютерМаркет
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Беру
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Технопарк
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        ОнлайнТрейд
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        XCOM-SHOP
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Плеер.ру
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Oldi
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Flash Computers
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        123.ru
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Техносила
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Oldi
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Беру
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        ОнлайнТрейд
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Flash Computers
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        XCOM-SHOP
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Технопарк
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Техносила
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Плеер.ру
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        123.ru
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        КЕЙ (K-Trade)
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Технопоинт
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        АллоИнфо
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        CompYou
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Notik
                    </a>
                </li>
                <li class="contacts__partners-list-item">
                    <a href="#" class="contacts__partners-link">
                        Сотмаркет
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>