<div class="cookie">
    <button class="cookie__close" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
            <path
                d="M12.9607 13.5896L7.96216 18.5881L7.35538 17.9814L12.3539 12.9828L7.35398 7.98293L7.96356 7.37336L12.9635 12.3733L17.962 7.37475L18.5688 7.98154L13.5702 12.9801L18.5702 17.98L17.9606 18.5895L12.9607 13.5896Z" />
        </svg>

    </button>
    <div class="cookie__text">
        Для обеспечения корректной работы сайта, анализа трафика и улучшения пользовательского опыта мы используем
        cookie. Продолжая пользоваться сайтом, вы соглашаетесь с их использованием. Ознакомьтесь с нашей <a
            href="#">Политикой
            конфиденциальности.</a>
    </div>
    <button class="cookie__accept" type="button">
        принять
    </button>
</div>