<section class="cooling">
    <div class="cooling__content">
        <div class="cooling__image-wrapper">
            <img src="/images/new-blocks/cooling/illustration.webp" alt="" class="cooling__image">
        </div>
        <div class="cooling__text-content">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/17.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    продуманная система<br>
                    охлаждения
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Высокая производительность требует надежного охлаждения. Мы позаботились о том, чтобы ваша
                        система оставалась мощной и стабильной даже в самых жаркиех игровых баталиях.
                    </p>
                    <p>
                        Система из 4 RGB-вентиляторов не даст вашей сборке перегреться даже под максимальной нагрузкой.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>