<section class="line-image-with-text line-image-with-text--cooling">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/cyberline/icons/1.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    продуманная система<br>
                    охлаждения
                </h2>
                <div class="line-text-content__text">
                    <p>
                        В&nbsp;зависимости от&nbsp;комплектации ноутбука, активная система охлаждения представляет
                        из&nbsp;себя
                        2&nbsp;высокоэффективных вентилятора из&nbsp;4&nbsp;или 5&nbsp;теплоотводящих трубок.
                    </p>
                    <p>
                        Мы&nbsp;уделили особое внимание теплоотведению.
                        Все ноутбуки прошли долговременные нагрузочные тесты,
                        с&nbsp;одновременной загрузкой процессора и&nbsp;видеокарты,
                        без замечаний и&nbsp;перегрева.
                    </p>
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/cyberline/cooling.webp" alt="" class="line-image-with-text__image">
        </div>
    </div>
</section>