<section class="line-intro">
    <div class="line-intro__bg">
        <picture>
            <source srcset="/images/cyberline/intro/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/intro/bg.webp" alt="" class="line-intro__bg-image" />
        </picture>
    </div>
    <div class="line-intro__content">
        <div class="breadcrumbs line-intro__breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                НОУТБУКИ
            </a>
            <a class="active">
                линейки cyberline
            </a>
        </div>
        <div class="line-intro__row">
            <div class="line-intro__text-content">

                <h1 class="line-intro__heading">
                    <span class="line-intro__heading-name">
                        CyberLine
                    </span>
                    <span class="line-intro__heading-text">
                        Игровой ноутбук для
                        взыскательных геймеров
                    </span>

                </h1>
                <div class="line-intro__text">
                    Линейка CyberLine с экранами от 15,6" - это идеальный продукт для тех, кто ценит высокую скорость,
                    четкость изображения и стиль. Мощный и стильный ноутбук
                    для игр и работы!
                </div>
                <div class="line-intro__btns">
                    <a href="#" class="line-intro__buy-btn">
                        купить
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="line-intro__download-btn">
                        драйверы и документация
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#document"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="line-intro__image-wrapper">
                <img src="/images/cyberline/intro/laptop.webp" alt="" class="line-intro__image">
            </div>
        </div>
    </div>
    <div class="line-intro__toggle line-intro__toggle--inverted-on-mobile">
        <ul class="line-intro__toggle-list">
            <li class="line-intro__toggle-list-item">
                <a href="#" class="line-intro__toggle-link active">
                    опиСАНИЕ
                </a>
            </li>
            <li class="line-intro__toggle-list-item">
                <a href="#" class="line-intro__toggle-link">
                    ХАРАКТЕРИСТИКИ
                </a>
            </li>
        </ul>
    </div>
</section>