<section class="cyberline-specs">
    <div class="cyberline-specs__content">
        <ul class="cyberline-specs__list">
            <li class="cyberline-specs__list-item">
                <div class="cyberline-specs__card">
                    <div class="cyberline-specs__card-bg">
                        <img src="/images/cyberline/specs/1.webp" alt="" class="cyberline-specs__card-bg-image">
                    </div>
                    <div class="cyberline-specs__card-content">
                        <h3 class="cyberline-specs__card-title">
                            Выбирай видеокарту
                        </h3>
                        <div class="cyberline-specs__card-text">
                            <p>
                                В&nbsp;зависимости от&nbsp;модели ноутбука, предлагается широкое портфолио видеокарт:
                                оптимальная
                                RTX 2050 4Gb 55W, RTX 4050 6Gb 100W и&nbsp;сверхмощная RTX 4060 8Gb 100W.
                            </p>
                            <p>
                                Альтернативный вариант во&nbsp;всех моделях&nbsp;&mdash; это видеокарта RTX 3050&nbsp;с
                                полноценными 6Gb видеопамяти и&nbsp;мощностью 95W. Идеальный вариант для игр
                                и&nbsp;работы с&nbsp;контентом, без дополнительных затрат.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cyberline-specs__list-item">
                <div class="cyberline-specs__card">
                    <div class="cyberline-specs__card-bg">
                        <img src="/images/cyberline/specs/2.webp" alt="" class="cyberline-specs__card-bg-image">
                    </div>
                    <div class="cyberline-specs__card-content">
                        <h3 class="cyberline-specs__card-title">
                            Мощные процессоры
                        </h3>
                        <div class="cyberline-specs__card-text">
                            <p>
                                Intel Core i5&mdash;12600Н и&nbsp;Core i7&mdash;12650Н&nbsp;&mdash; это процессоры 12-го
                                поколения из&nbsp;высокопроизводительной серии, значительно опережающей по&nbsp;тестам
                                как конкурентов, так и&nbsp;аналогичные процессоры в&nbsp;своей линейке.
                            </p>
                            <p>
                                Особую мощность процессору Intel Core i5&mdash;12600Н придают 12&nbsp;ядер, позволяющих
                                по&nbsp;характеристикам приблизиться к&nbsp;процессорам старшего поколения.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>