<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/cyberline/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/1.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            яркий<br>
                            IPS дисплей
                        </h3>
                        <div class="line-features__card-text">
                            250-400 нит
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/cyberline/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/2.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            видеокарты
                        </h3>
                        <div class="line-features__card-text">
                            NVIDIA GeForce RTX 2050,<br>
                            3050 (6Gb), 4050, 4060
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/cyberline/features/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/3.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            3 диагонали<br>
                            и 3 цвета
                        </h3>
                        <div class="line-features__card-text">
                            на выбор
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/cyberline/features/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/4.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            78% stbr
                        </h3>
                        <div class="line-features__card-text">
                            тонкие рамки, полное<br> погружение
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/cyberline/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/5.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            мощные процессоры
                        </h3>
                        <div class="line-features__card-text">
                            Intel Core i5–12600H,<br> Intel Core i7–12650H
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/cyberline/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/6.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Апгрейд<br>
                            RAM и ssd
                        </h3>
                        <div class="line-features__card-text">
                            без потери гарантии
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/cyberline/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/7.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Камера<br>
                            2 Mp
                        </h3>
                        <div class="line-features__card-text">
                            высокое разрешение
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/cyberline/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/cyberline/features/8.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            большой<br>
                            тачпад
                        </h3>
                        <div class="line-features__card-text">
                            15 режимов подсветки
                            клавиатуры
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>