<section class="line-fullscreen-image line-fullscreen-image--ports">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/cyberline/ports-bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/ports-bg.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
        <picture>
            <source srcset="/images/cyberline/ports-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/ports.webp" alt="MDN" class="line-fullscreen-image__main-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-text-content">
            <img src="/images/cyberline/icons/9.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Максимум возможностей
                для подключения
            </h2>
            <div class="line-text-content__text">
                Ноутбук обладает всеми необходимыми разъёмами для подключения аксессуаров.
                Для удобства, самые важные вынесены на&nbsp;заднюю часть устройства.
                К&nbsp;ноутбуку можно подключить одновременно до&nbsp;трёх мониторов используя
                разъёмы HDMI, USB Type-C и&nbsp;MiniDP.
            </div>
        </div>
    </div>
</section>