<section class="cyberline-style dark-bg">
    <div class="cyberline-style__content">
        <div class="cyberline-style__left-col">
            <div class="cyberline-style__text-content">
                <img src="/images/new-blocks/icons/18.svg" alt="" class="cyberline-style__icon">
                <h2 class="cyberline-style__heading">
                    стиль в каждом
                    элементе
                </h2>
            </div>
            <div class="cyberline-style__image-wrapper">
                <img src="/images/new-blocks/cyberline-style/illustration.webp" alt="" class="cyberline-style__image">
                <div class="line-tooltip" style="--x: 42%; --y: 12%; --mobile-x: 27%; --mobile-y: 20%;">
                    <button class="line-tooltip__btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#tooltip-plus"></use>
                        </svg>
                    </button>
                    <div class="line-tooltip__content">
                        <div class="line-tooltip__content-inner">
                            <div class="line-tooltip__text">
                                Защита зрения Eye Comfort
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cyberline-style__right-col">


            <picture>
                <source srcset="/images/new-blocks/cyberline-style/illustration-2-mobile.webp"
                    media="(max-width: 640px)" />
                <img src="/images/new-blocks/cyberline-style/illustration-2.webp" alt=""
                    class="cyberline-style__second-illustration">
            </picture>
        </div>
    </div>
</section>