<section class="two-images-with-text two-images-with-text--screen">
    <div class="two-images-with-text__content">
        <div class="two-images-with-text__row">
            <div class="two-images-with-text__left-col">
                <div class="two-images-with-text__left-image-wrapper">

                    <picture>
                        <source srcset="/images/cyberline/screen-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/cyberline/screen.webp" alt="" class="two-images-with-text__image" />
                    </picture>
                    <div class="line-tooltip" style="--x: 62%; --y: 63%; --mobile-x: 19%; --mobile-y: 27%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-tooltip" style="--x: 47%; --y: 18%; --mobile-x: 12%; --mobile-y: 49%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-tooltip" style="--x: 26%; --y: 28%; --mobile-x: 30%; --mobile-y: 70%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two-images-with-text__right-col">
                <div class="line-text-content">
                    <img src="/images/cyberline/icons/10.svg" alt="" class="line-text-content__icon">
                    <h2 class="line-text-content__heading">
                        Full HD<br>
                        IPS дисплей
                    </h2>
                    <div class="line-text-content__text">
                        <p>
                            15&nbsp;и&nbsp;17-дюймовые ноутбуки CyberLine обеспечивают достаточную яркость экрана
                            в&nbsp;250&nbsp;нит,
                            а&nbsp;также частоту кадров в&nbsp;144&nbsp;Гц, которая подойдёт для любых игр и&nbsp;задач.
                        </p>
                        <p>
                            16-дюймовый ноутбук готов сразить вас IPS FULL&nbsp;HD дисплеем с&nbsp;яркостью 400 нит
                            и&nbsp;соотношением
                            сторон 16:10. С&nbsp;плотностью 142 ppi и&nbsp;цветовым охватом SRGB 100%. Он&nbsp;станет
                            отличным
                            инструментом для работы с&nbsp;контентом.
                        </p>
                    </div>
                    <div class="line-text-content__weight">
                        от <b>15,6”</b>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>