<section class="line-geography">
    <div class="line-geography__map">
        <picture>
            <source srcset="/images/cyberline/map-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/map.webp" alt="MDN" class="line-geography__map-image" />
        </picture>
    </div>
    <div class="line-geography__content">
        <div class="line-geography__row">
            <div class="line-text-content">
                <img src="/images/cyberline/icons/12.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    География<br>
                    Cyberline
                </h2>
                <div class="line-text-content__text">
                    Пользователи OSiO по всей России получают оперативную сервисную поддержку и гарантийное
                    обслуживание. Благодаря нашей горячей линии и быстрой обратной связи, мы реагируем на все запросы и
                    замечания, обечпечивая надежность и уверенность в нашей технике.
                </div>
                <ul class="line-text-content__features-list">
                    <li class="line-text-content__features-list-item">
                        <div class="line-text-content__features-card">
                            <div class="line-text-content__features-card-amount">
                                100%
                            </div>
                            <div class="line-text-content__features-card-text">
                                Сервисная поддержка на всей территории страны
                            </div>
                        </div>
                    </li>
                    <li class="line-text-content__features-list-item">
                        <div class="line-text-content__features-card">
                            <div class="line-text-content__features-card-amount">
                                24/7
                            </div>
                            <div class="line-text-content__features-card-text">
                                Горячая линия с сервисной поддержкой
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="" class="line-text-content__link">
                    Все сервисные центры
                </a>
            </div>
        </div>
    </div>
</section>