<section class="line-fullscreen-image line-fullscreen-image--webcamera line-fullscreen-image--webcamera-cyberline">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/cyberline/webcamera-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/webcamera.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-text-content">
            <img src="/images/cyberline/icons/3.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                веб-камера
            </h2>
            <div class="line-text-content__text">
                Камера 2&nbsp;Mp c&nbsp;высоким разрешением позволит не&nbsp;только проводить детальные звонки,
                но&nbsp;и&nbsp;осуществлять ваши
                веб-стриминги с&nbsp;высокой чёткостью.
            </div>
        </div>
    </div>
</section>