<section class="line-fullscreen-image line-fullscreen-image--impressions">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/cyberline/impressions-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/impressions.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-text-content">
            <img src="/images/cyberline/icons/5.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                яркие впечатления
            </h2>
            <div class="line-text-content__text">
                Экран с&nbsp;тонкими рамками обеспечивает полное погружение в&nbsp;игровую реальность. Ноутбуки обладают
                высоким показателем STBR&nbsp;78% (screen to&nbsp;body ration)&nbsp;&mdash; большая часть верхней деки
                отдана под экран ноутбука. Тонкие рамки стирают грань контента.
            </div>
            <div class="line-text-content__weight">
                <b>78% STBR</b>
            </div>
        </div>
    </div>
</section>