<section class="cyberline-memory-upgrade">
    <div class="cyberline-memory-upgrade__bg">
        <picture>
            <source srcset="/images/new-blocks/cyberline-memory-upgrade-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/cyberline-memory-upgrade.webp" alt="" />
        </picture>
    </div>
    <div class="cyberline-memory-upgrade__content">
        <div class="cyberline-memory-upgrade__wrapper">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/6.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Лёгкий апгрейд памяти без потери гарантии
                </h2>
                <div class="line-text-content__text">
                    В ноутбуке предусмотрено 2 слота для оперативной памяти.
                    Это даёт возможность реализации памяти в двухканальном режиме, существенно поднимающем эффективность
                    работы.
                </div>
            </div>
            <div class="line-text-content">

                <h2 class="line-text-content__small-heading">
                    x 2 SSD
                </h2>
                <div class="line-text-content__text">
                    2 слота для SSD обеспечат больше места для ваших<br> любимых игр или для работы.
                </div>
            </div>
        </div>
    </div>
</section>