<section class="line-promo line-promo--cyberline">
    <div class="line-promo__content">
        <img src="/images/cyberline/title.svg" alt="" class="line-promo__cyberline-title">
        <div class="line-promo__top-row">
            <h2 class="line-promo__heading">
                Ваш мощный союзник
                в игровых сражениях
            </h2>
            <div class="line-promo__text">
                Погрузитесь в мир высоких скоростей и динамичного геймплея с OSiO CyberLine.
                Мощные компоненты, передовая система охлаждения и четкий отклик клавиатуры обеспечивают комфорт и
                стабильность даже в самых напряженных игровых моментах.
            </div>
        </div>
        <div class="line-promo__image-wrapper">

            <picture>
                <source srcset="/images/cyberline/partner/1-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/cyberline/partner/1.webp" alt="MDN" class="line-promo__image" />
            </picture>
        </div>
    </div>
</section>