<section class="line-guarantee line-guarantee--cyberline">
    <div class="line-guarantee__content">
        <div class="line-guarantee__top">
            <div class="line-text-content">
                <img src="/images/cyberline/icons/4.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    гарантия качества
                </h2>
                <div class="line-text-content__text">
                    На нашем собственном современном заводе каждое устройство проходит многоэтапную проверку, включая
                    проверку портов, интерфейсов и нагрузочное тестирование компонентов в стресс-зоне. В течение 72
                    часов устройства подвергаются стресс-тестам, что гарантирует их надежность и стабильную работу. Это
                    обеспечивает высокое качество нашей продукции.
                </div>
            </div>
        </div>
        <div class="line-guarantee__images-grid">
            <div class="line-guarantee__images-grid-item line-guarantee__images-grid-item--medium">
                <img src="/images/focusline/images-grid/1.webp" alt="" class="line-guarantee__images-grid-item-image">
            </div>
            <div class="line-guarantee__images-grid-item line-guarantee__images-grid-item--short">
                <img src="/images/focusline/images-grid/2.webp" alt="" class="line-guarantee__images-grid-item-image">
            </div>
            <div class="line-guarantee__images-grid-item">
                <img src="/images/focusline/images-grid/3.webp" alt="" class="line-guarantee__images-grid-item-image">
            </div>
        </div>
    </div>
</section>