<section class="line-fullscreen-image line-fullscreen-image--for-office">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/cyberline/for-office-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/cyberline/for-office.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-fullscreen-image__text-content">
            <div class="line-text-content">
                <img src="/images/cyberline/icons/6.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    для офиса, игр<br>
                    и творчества
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Ноутбук легко справится не&nbsp;только с&nbsp;требовательными играми, но&nbsp;и&nbsp;будет
                        мощным помощником для работы с&nbsp;контентом: от&nbsp;обработки видео ультравысокой чёткости,
                        до&nbsp;построения и&nbsp;работы с&nbsp;3D&nbsp;моделями.
                    </p>
                    <p>
                        Выбирайте сами как использовать свой Cyberline&nbsp;&mdash; для сложных рабочих задач, для
                        жарких баталий
                        в&nbsp;Cybepunk 2077 или для наслаждения красивой, ультрареалистичной графикой в&nbsp;MSFS 2024.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>