<section class="line-image-with-text line-image-with-text--preinstalled">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/cyberline/icons/7.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    управляй<br>
                    эмоциями
                </h2>
                <div class="line-text-content__text">
                    Выбирайте подсветку клавиатуры под своё
                    настроение. 15 цветов, 4 режима яркости.
                </div>
                <div class="line-text-content__weight">
                    <b>15 rgb</b>
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/cyberline/keyboard.webp" alt="" class="line-image-with-text__image">
            <div class="line-tooltip" style="--x: 43%; --y: 81%; --mobile-x: 24%; --mobile-y: 34%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-tooltip" style="--x: 61%; --y: 38%; --mobile-x: 33%; --mobile-y: 75%;">
                <button class="line-tooltip__btn">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#tooltip-plus"></use>
                    </svg>
                </button>
                <div class="line-tooltip__content">
                    <div class="line-tooltip__content-inner">
                        <div class="line-tooltip__text">
                            Защита зрения Eye Comfort
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>