<section class="line-gallery line-gallery--cyberline">
    <div class="line-gallery__content">
        <div class="line-gallery__main">
            <div class="line-gallery__tabs js-tabs">
                <div class="line-gallery__tabs-nav">
                    <button class="line-gallery__tabs-nav-btn line-gallery__tabs-nav-btn--grey js-tabs-btn active"
                        style="">
                        <span class="line-gallery__tabs-nav-btn-text">
                            15,6”
                        </span>
                    </button>
                    <button class="line-gallery__tabs-nav-btn line-gallery__tabs-nav-btn--brown js-tabs-btn">
                        <span class="line-gallery__tabs-nav-btn-text">
                            16”
                        </span>
                    </button>
                    <button class="line-gallery__tabs-nav-btn line-gallery__tabs-nav-btn--graphite js-tabs-btn">
                        <span class="line-gallery__tabs-nav-btn-text">
                            17,3”
                        </span>
                    </button>
                </div>
                <div class="line-gallery__tabs-items">
                    <div class="line-gallery__tabs-item js-tabs-item active">
                        <div class="line-gallery__slider">

                            <div class="line-gallery__main-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__thumbs-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__arrows">
                                <button class="line-gallery__arrow line-gallery__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="line-gallery__arrow line-gallery__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="line-gallery__tabs-item js-tabs-item">
                        <div class="line-gallery__slider">

                            <div class="line-gallery__main-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__thumbs-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__arrows">
                                <button class="line-gallery__arrow line-gallery__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="line-gallery__arrow line-gallery__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="line-gallery__tabs-item js-tabs-item">
                        <div class="line-gallery__slider">

                            <div class="line-gallery__main-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__main-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__main-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__thumbs-slider">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/1.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/2.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="line-gallery__thumbs-slider-card">
                                                <img src="/images/cyberline/gallery/3.webp" alt=""
                                                    class="line-gallery__thumbs-slider-card-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-gallery__arrows">
                                <button class="line-gallery__arrow line-gallery__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="line-gallery__arrow line-gallery__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>