<section class="display-block">
    <div class="display-block__bg">
        <picture>
            <source srcset="/images/new-blocks/display-block-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/display-block.webp" alt="" />
        </picture>

        <div class="line-tooltip" style="--x: 24%; --y: 17%; --mobile-x: 26%; --mobile-y: 67%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>

            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                    <button class="line-tooltip__close-btn">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#popover-close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="display-block__content">
        <div class="display-block__wrapper">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/3.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    дисплей 15,6”<br> с тонкими рамками
                </h2>
                <div class="line-text-content__text">
                    Яркая матрица IPS-дисплея с яркостью 250 нит обеспечивает насыщенные цвета,
                    четкие детали и широкие углы обзора. Разрешение Full HD идеально подходит для работы и просмотра
                    фильмов
                    в высоком качестве. Тонкие рамки создают эффект полного погружения, позволяя наслаждаться контентом
                    без
                    границ и отвлекающих элементов.
                </div>
            </div>
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/4.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__small-heading">
                    Угол раскрытия 180º
                </h2>
                <div class="line-text-content__text">
                    Позволит вам настроить ноутбук<br> максимально удобно
                </div>
            </div>
        </div>
    </div>
</section>