<section class="drivers">
  <div class="drivers__content">
    <div class="breadcrumbs">
      <a href="#"> ГЛАВНАЯ </a>
      <a href="#"> поддержка </a>
      <a class="active"> драйверы и по </a>
    </div>
    <div class="drivers__categories">
      <a href="#" class="active"> Драйверы и по </a>
      <span>/</span>
      <a href="#"> документация </a>
    </div>
    <div class="drivers__search">
      <div class="drivers__search-text">
        Найдите нужный драйвер в списке ниже или воспользуйтесь поиском по
        серийному номеру устройства.
      </div>
      <form action="/" method="GET" class="drivers__search-form">
        <div class="drivers__search-form-wrapper">
          <input type="search" class="drivers__search-form-input" placeholder="введите серийный номер" />
          <button class="drivers__search-form-submit" type="submit">
            Найти
          </button>
        </div>
        <div class="drivers__search-form-remark">
          Заводской номер можно найти на шильдике корпуса устройства.<br />
          Формат серийного номера: 0123XX4567890
        </div>
      </form>
    </div>
    <div class="drivers__not-found">
      По данному запросу ничего не найдено, пожалуйста свяжитесь с службой поддержки
      по адресу: <a href="mailto:getdrivers@icl.kazan.ru">getdrivers@icl.kazan.ru</a> с указанием серийного номера
      изделия.
    </div>
  </div>
</section>