<section class="drivers">
    <div class="drivers__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                поддержка
            </a>
            <a class="active">
                драйверы и по
            </a>
        </div>
        <div class="drivers__categories">
            <a href="#">
                Драйверы и по
            </a>
            <span>/</span>
            <a href="#" class="active">
                документация
            </a>
        </div>
        <div class="drivers__filters">
            <form action="/" method="GET" class="drivers__filters-form">
                <div class="drivers__filters-selects">
                    <div class="drivers__filters-select">


                        <div class="select js-select" data-placeholder="тип оборудования">
                            <button class="select__btn" type="button">
                                <span class="select__btn-text js-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="select__dropdown">
                                <div class="select__dropdown-inner">
                                    <ul class="select__choices-list">
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="type" value="Тип 1"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 1
                                                </span>
                                            </label>
                                        </li>
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="type" value="Тип 2"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 2
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="drivers__filters-select">


                        <div class="select js-select" data-placeholder="линейка">
                            <button class="select__btn" type="button">
                                <span class="select__btn-text js-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="select__dropdown">
                                <div class="select__dropdown-inner">
                                    <ul class="select__choices-list">
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="ruler" value="Тип 1"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 1
                                                </span>
                                            </label>
                                        </li>
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="ruler" value="Тип 2"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 2
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="drivers__filters-select">


                        <div class="select js-select" data-placeholder="модель">
                            <button class="select__btn" type="button">
                                <span class="select__btn-text js-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="select__dropdown">
                                <div class="select__dropdown-inner">
                                    <ul class="select__choices-list">
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="model" value="Модель 1"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 1
                                                </span>
                                            </label>
                                        </li>
                                        <li class="select__choices-list-item">
                                            <label class="select__choice">
                                                <input type="radio" name="model" value="Модель 2"
                                                    class="select__choice-input">
                                                <span class="select__choice-text">
                                                    Тип 2
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button class="drivers__filters-reset" type="reset">
                    сбросить фильтры
                </button>
            </form>
        </div>
        <div class="drivers__results">
            <h3 class="drivers__results-heading">
                Найдено драйверов <span>(42)</span>
            </h3>
            <div class="drivers__results-wrapper">

                <ul class="drivers__results-list drivers__results-list--documents">
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO FocusLine F140i 11Gen
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        focusline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO BaseLine B150i
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        baseline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO CyberLine C150i-004 (RTX 2050)
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        cyberline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO FocusLine F140i 11Gen
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        focusline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO BaseLine B150i
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        baseline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>
                    <li class="drivers__results-list-item">
                        <a href="#" class="drivers__results-card drivers__results-card--document">
                            <div class="drivers__results-card-info">
                                <div class="drivers__results-card-info-heading-wrapper">
                                    <h4 class="drivers__results-card-title">
                                        Руководство по эксплуатации ноутбука
                                        OSiO CyberLine C150i-004 (RTX 2050)
                                    </h4>
                                    <div class="drivers__results-card-label">
                                        cyberline
                                    </div>
                                </div>


                            </div>
                            <div class="drivers__results-card-right-col">
                                <div class="drivers__results-card-info-description">
                                    Этот драйвер обеспечивает оптимальную стабильность и производительность. Драйверы
                                    Production Branch оснащены сертификатами ISV, поддержкой всего жизненного цикла и
                                    обеспечивают все функции драйверов Studio такой же версии.
                                </div>
                                <span class="drivers__results-card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#download"></use>
                                    </svg>
                                </span>
                            </div>


                        </a>
                    </li>

                </ul>
                <a href="#" class="drivers__show-more">
                    показать еще
                </a>
            </div>
        </div>
    </div>
</section>