<section class="drivers">
  <div class="drivers__content">
    <div class="breadcrumbs">
      <a href="#"> ГЛАВНАЯ </a>
      <a href="#"> поддержка </a>
      <a class="active"> драйверы и по </a>
    </div>
    <div class="drivers__categories">
      <a href="#" class="active"> Драйверы и по </a>
      <span>/</span>
      <a href="#"> документация </a>
    </div>
    <div class="drivers__search">
      <div class="drivers__search-text">
        Найдите нужный драйвер в списке ниже или воспользуйтесь поиском по
        серийному номеру устройства.
      </div>
      <form action="/" method="GET" class="drivers__search-form">
        <div class="drivers__search-form-wrapper">
          <input
            type="search"
            class="drivers__search-form-input"
            placeholder="введите серийный номер"
          />
          <button class="drivers__search-form-submit" type="submit">
            Найти
          </button>
        </div>
        <div class="drivers__search-form-remark">
          Заводской номер можно найти на шильдике корпуса устройства.<br />
          Формат серийного номера: 0123XX4567890
        </div>
      </form>
    </div>
    <div class="drivers__results">
      <h3 class="drivers__results-heading">результаты поиска</h3>
      <div class="drivers__results-wrapper">
        <div class="drivers__results-header">
          <span class="drivers__results-header-item"> название </span>
          <span class="drivers__results-header-item"> размер файла </span>
        </div>
        <ul class="drivers__results-list drivers__results-list--drivers">
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбука OSiO BaseLine B150i
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбука OSiO FocusLine F140i 11Gen
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбука OSiO BaseLine B240i 11Gen
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбука OSiO CyberLine C150i-004 (RTX 2050)
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбука OSiO FocusLine F150i 11Gen
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
          <li class="drivers__results-list-item">
            <a href="#" class="drivers__new-card">
              <h3 class="drivers__new-card-title">
                Драйверы для ноутбуков OSiO CyberLine (RTX 3050,4050,4060)
              </h3>
              <div class="drivers__new-card-wrapper">
                <div class="drivers__new-card-file">502.9 MB</div>
                <span class="drivers__new-card-icon">
                  <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                  </svg>
                </span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
