<section class="easy-upgrade">
    <div class="easy-upgrade__bg">
        <picture>
            <source srcset="/images/new-blocks/easy-upgrade-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/easy-upgrade.webp" alt="" />
        </picture>
    </div>
    <div class="easy-upgrade__content">
        <div class="easy-upgrade__wrapper">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/10.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Лёгкий апгрейд
                </h2>
                <div class="line-text-content__text">
                    Крышка компьютера на магнитах и легко снимается, обеспечивая лёгкий доступ
                    к внутренней части. Замену компонентов можно производить самостоятельно
                    и без потери гарантии*
                </div>
                <div class="line-text-content__remark">
                    *За исключением поломок, вызванных самостоятельным апгрейдом устройства
                </div>
            </div>
        </div>
    </div>
</section>