<section class="features">
    <div class="features__bg">

        <picture>
            <source srcset="/images/features-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/features.webp" alt="MDN" class="features__bg-image" />
        </picture>
    </div>
    <div class="features__content">
        <div class="features__top">
            <div class="features__title">
                OSIO
            </div>
            <h2 class="features__heading">
                Объединение людей и технологий
            </h2>
        </div>
        <div class="features__large-text"
            data-text="OSiO® сочетает в себе инновации и проверенные решения, позволяя создавать устройства, отвечающие вашим потребностям">
            OSiO® сочетает в себе инновации и проверенные решения, позволяя создавать устройства, отвечающие вашим
            потребностям
        </div>
        <ul class="features__list">
            <li class="features__list-item">
                <div class="features__card">
                    <div class="features__card-amount">
                        33 года
                    </div>
                    <div class="features__card-text">
                        опыта в Российском IT бизнесе
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card">
                    <div class="features__card-amount">
                        100% поддержка
                    </div>
                    <div class="features__card-text">
                        на всей территории страны
                    </div>
                </div>
            </li>
            <li class="features__list-item">
                <div class="features__card">
                    <div class="features__card-amount">
                        1 МЛН единиц
                    </div>
                    <div class="features__card-text">
                        техники мощность собственного производства
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>