<div class="fixed-menu">
    <div class="fixed-menu__content">
        <a href="#" class="fixed-menu__logo">
            <img src="/images/logo-dark.svg" alt="" class="fixed-menu__logo-image">
        </a>
        <div class="fixed-menu__mobile-wrapper">
            <div class="fixed-menu__nav">
                <ul class="fixed-menu__nav-list">
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link active">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    Ноутбуки
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    Моноблоки
                                </span>
                            </span>

                        </a>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    мини пк
                                </span>
                            </span>

                        </a>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    мониторы
                                </span>
                            </span>

                        </a>
                    </li>
                </ul>
                <ul class="fixed-menu__nav-list">
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    О компании
                                </span>
                            </span>

                        </a>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    Поддержка
                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#small-arrow-down"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="fixed-menu__nav-dropdown">
                            <div class="fixed-menu__nav-dropdown-inner">
                                <ul class="fixed-menu__submenu-list">
                                    <li class="fixed-menu__submenu-list-item">
                                        <a href="#" class="fixed-menu__submenu-link">
                                            поддержка
                                        </a>
                                    </li>
                                    <li class="fixed-menu__submenu-list-item">
                                        <a href="#" class="fixed-menu__submenu-link">
                                            сервисные центры
                                        </a>
                                    </li>
                                    <li class="fixed-menu__submenu-list-item">
                                        <a href="#" class="fixed-menu__submenu-link">
                                            драйверы
                                        </a>
                                    </li>
                                    <li class="fixed-menu__submenu-list-item">
                                        <a href="#" class="fixed-menu__submenu-link">
                                            документация
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    Медиацентр
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="fixed-menu__nav-list-item">
                        <a href="#" class="fixed-menu__nav-link">
                            <span class="fixed-menu__nav-link-inner">
                                <span class="fixed-menu__nav-link-text">
                                    Контакты
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#partners-modal" class="fixed-menu__callback-btn">
                где Купить
            </a>
        </div>
        {{!-- <button class="fixed-menu__burger">

        </button> --}}
    </div>
</div>