<section class="line-fullscreen-image line-fullscreen-image--webcamera">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/focusline/webcamera-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/focusline/webcamera.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-text-content">
            <img src="/images/focusline/icons/3.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                веб-камера
            </h2>
            <div class="line-text-content__text">
                Ноутбук оснащен камерой с разрешением 1.9 Мп для видеоконференцсвязи и общения с друзьями, когда
                важна каждая деталь встречи.
            </div>
        </div>
    </div>
</section>