<section class="line-specs">
    <div class="line-specs__content">
        <div class="line-specs__top">
            <div class="line-text-content">
                <img src="/images/focusline/icons/4.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Быстродействие в ритме с пользователем
                </h2>
                <div class="line-text-content__text">
                    Процессоры Intel® Core i5, Intel® Core i3 или AMD Ryzen 5, в зависимости от модели ноутбука, в
                    комбинации с ОЗУ объемом до 16 Гб обеспечивают
                    высокую производительность для любых повседневных задач.
                </div>
            </div>
        </div>
        <div class="line-specs__cpu">
            <div class="line-specs__cpu-card">
                <img src="/images/focusline/cpu/1.webp" alt="" class="line-specs__cpu-card-image">
            </div>
            <div class="line-specs__cpu-card">
                <img src="/images/focusline/cpu/2.webp" alt="" class="line-specs__cpu-card-image">
            </div>
        </div>
        <ul class="line-specs__list">
            <li class="line-specs__list-item">
                <div class="line-specs__card">
                    <img src="/images/focusline/specs/1.svg" alt="" class="line-specs__card-icon">
                    <div class="line-specs__card-text-content">
                        <h3 class="line-specs__card-title">
                            Тип оперативной памяти
                        </h3>
                        <div class="line-specs__card-text">
                            ddr4
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-specs__list-item">
                <div class="line-specs__card">
                    <img src="/images/focusline/specs/2.webp" alt="" class="line-specs__card-icon">
                    <div class="line-specs__card-text-content">
                        <h3 class="line-specs__card-title">
                            Максимальная оперативная память
                        </h3>
                        <div class="line-specs__card-text">
                            64 gb
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-specs__list-item">
                <div class="line-specs__card">
                    <img src="/images/focusline/specs/3.svg" alt="" class="line-specs__card-icon">
                    <div class="line-specs__card-text-content">
                        <h3 class="line-specs__card-title">
                            Расширение памяти без потери гарантии
                        </h3>
                        <div class="line-specs__card-text">
                            озу+
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>