<section class="line-image-with-text line-image-with-text--preinstalled">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/focusline/icons/6.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    предустановленные
                    программы
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Все наши ноутбуки оснащены обязательным пакетом предустановленного программного обеспечения,
                        которое останется с вами навсегда.
                    </p>
                    <p>
                        В него входят <b>антивирус Kaspersky Internet Security, Яндекс Браузер и офисные программы
                            МойОфис.</b>
                    </p>
                    <p>
                        Это экономит ваше время на установку и настройку программ, позволяя вам сразу же приступить к
                        работе или развлечениям.
                    </p>
                </div>
                <ul class="line-text-content__apps-list">
                    <li class="line-text-content__apps-list-item">
                        <div class="line-text-content__apps-card">
                            <img src="/images/focusline/preinstalled/1.svg" alt=""
                                class="line-text-content__apps-card-icon">
                        </div>
                    </li>
                    <li class="line-text-content__apps-list-item">
                        <div class="line-text-content__apps-card">
                            <img src="/images/focusline/preinstalled/2.webp" alt=""
                                class="line-text-content__apps-card-icon">
                        </div>
                    </li>
                    <li class="line-text-content__apps-list-item">
                        <div class="line-text-content__apps-card">
                            <img src="/images/focusline/preinstalled/3.webp" alt=""
                                class="line-text-content__apps-card-icon">
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/focusline/preinstalled.webp" alt="" class="line-image-with-text__image">
        </div>
    </div>
</section>