<section class="two-images-with-text two-images-with-text--screen">
    <div class="two-images-with-text__content">
        <div class="two-images-with-text__row">
            <div class="two-images-with-text__left-col">
                <div class="two-images-with-text__left-image-wrapper">

                    <picture>
                        <source srcset="/images/focusline/screen-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/focusline/screen.webp" alt="" class="two-images-with-text__image" />
                    </picture>
                    <div class="line-tooltip" style="--x: 62%; --y: 63%; --mobile-x: 19%; --mobile-y: 27%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-tooltip" style="--x: 47%; --y: 18%; --mobile-x: 12%; --mobile-y: 49%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-tooltip" style="--x: 26%; --y: 28%; --mobile-x: 30%; --mobile-y: 70%;">
                        <button class="line-tooltip__btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#tooltip-plus"></use>
                            </svg>
                        </button>
                        <div class="line-tooltip__content">
                            <div class="line-tooltip__content-inner">
                                <div class="line-tooltip__text">
                                    Защита зрения Eye Comfort
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two-images-with-text__right-col">
                <div class="line-text-content">
                    <img src="/images/focusline/icons/10.svg" alt="" class="line-text-content__icon">
                    <h2 class="line-text-content__heading">
                        преВОСХОДНОЕ<br>
                        КАЧЕСТВО ЭКРАНА
                    </h2>
                    <div class="line-text-content__text">
                        IPS-матрица экрана с разрешением Full HD обладает широкими углами обзора.
                        Яркость дисплея в 300 нит позволит работать даже при ярком солнечном свете.
                        Цветовая температура дисплея настроена настроена на 6600К. Это сделано для максимального
                        комфорта глаз при длительной работе за ноутбуком.
                    </div>
                    <div class="line-text-content__weight">
                        от <b>14”</b>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>