<section class="line-catalog">
    <div class="line-catalog__content">
        <h2 class="line-catalog__heading">
            полный каталог моделей
        </h2>

        <div class="line-catalog__text-content">
            <div class="line-catalog__large-text"
                data-text="Хотите ознакомиться с полным спектром линеек ноутбуков, доступных у наших партнеров? Откройте каталог и найдите модель, которая идеально подойдет именно вам.">
                Хотите ознакомиться с полным спектром линеек ноутбуков, доступных у наших партнеров?
                Откройте каталог и найдите модель, которая
                идеально подойдет именно вам.
            </div>
            <div class="line-catalog__divider">

            </div>
            <a href="#" class="line-catalog__link">
                смотреть все модели
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#document"></use>
                </svg>
            </a>
        </div>
    </div>
</section>