<section class="line-fullscreen-image">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/focusline/fullscreen-image-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/focusline/fullscreen-image.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-fullscreen-image__text-content">
            <h2 class="line-fullscreen-image__title">
                идеальный.<br>
                мобильный.<br>
                твой.
            </h2>
            <div class="line-fullscreen-image__text">
                В центре нашего мира – человек – то, что он чувствует, то, ради чего развивается, то, куда он движется,
                о чем мечтает. Человек – это ось, вокруг которой выстроен наш бренд.
                OSiO всегда рядом.
            </div>
        </div>
    </div>
</section>