<section class="line-promo line-promo--with-slider" style="--slides-count: 2;">
    <div class="line-promo__content">
        <div class="line-promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Ваш надежный партнёр<br>
                                    для продуктивного дня
                                </h2>
                                <div class="line-promo__text">
                                    Ноутбук OSiO FocusLine идеально подходит для выполнения повседневных рабочих задач.
                                    Высокая
                                    производительность и удобная клавиатура обеспечивают комфортную работу
                                    с документами, почтой и корпоративными приложениями как в офисе, так и удалённо.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/focusline/partner/1.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Отдыхайте с комфортом<br>
                                    и удовольствием
                                </h2>
                                <div class="line-promo__text">
                                    OSiO FocusLine — это не только работа, но и отдых. Наслаждайтесь фильмами в высоком
                                    разрешении, играйте в игры и слушайте музыку благодаря мощной аудиосистеме
                                    и яркому дисплею, который делает любые развлечения более захватывающими.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/focusline/children.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="line-promo__slider-pagination"></div>
        </div>
        <div class="line-promo__pin-spacer"></div>
    </div>
</section>