<section class="two-images-with-text two-images-with-text--interface">
    <div class="two-images-with-text__content">
        <div class="two-images-with-text__row two-images-with-text__row--interface">
            <div class="two-images-with-text__left-col two-images-with-text__left-col--interface">
                <div class="line-text-content">
                    <img src="/images/focusline/icons/2.svg" alt="" class="line-text-content__icon">
                    <h2 class="line-text-content__heading">
                        Удобные <br>
                        интерфейсы
                    </h2>
                    <div class="line-text-content__text">
                        <p>
                            Основные разъемы используемые каждый день, для удобства расположены
                            на задней части монитора и направлены вниз для большей эргономичности.
                        </p>
                        <p>
                            У монитора есть два разъема для подключения колонки или наушников.
                        </p>
                    </div>
                    <ul class="line-text-content__apps-list line-text-content__apps-list--large-gap">
                        <li class="line-text-content__apps-list-item">
                            <div class="line-text-content__apps-card">
                                <img src="/images/focusline/interface/1.svg" alt=""
                                    class="line-text-content__apps-card-icon">
                            </div>
                            <div class="line-text-content__apps-title">
                                1×VGA
                            </div>
                        </li>
                        <li class="line-text-content__apps-list-item">
                            <div class="line-text-content__apps-card">
                                <img src="/images/focusline/interface/2.svg" alt=""
                                    class="line-text-content__apps-card-icon">
                            </div>
                            <div class="line-text-content__apps-title">
                                1×HDMI
                            </div>
                        </li>
                        <li class="line-text-content__apps-list-item">
                            <div class="line-text-content__apps-card">
                                <img src="/images/focusline/interface/3.svg" alt=""
                                    class="line-text-content__apps-card-icon">
                            </div>
                            <div class="line-text-content__apps-title">
                                1×DisplayPort
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="two-images-with-text__right-col">
                <div
                    class="two-images-with-text__right-image-wrapper two-images-with-text__right-image-wrapper--interface">
                    <picture>
                        <source srcset="/images/focusline/interface-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/focusline/interface.webp" alt="" class="two-images-with-text__image" />
                    </picture>
                </div>
            </div>

        </div>
    </div>
</section>