<section class="line-promo">
    <div class="line-promo__content">
        <div class="line-promo__top-row">
            <h2 class="line-promo__heading">
                Ваш надежный партнёр
                для продуктивного дня
            </h2>
            <div class="line-promo__text">
                Ноутбук OSiO FocusLine идеально подходит для выполнения повседневных рабочих задач. Высокая
                производительность и удобная клавиатура обеспечивают комфортную работу
                с документами, почтой и корпоративными приложениями как в офисе, так и удалённо.
            </div>
        </div>
        <div class="line-promo__image-wrapper">
            <img src="/images/focusline/partner/1.webp" alt="" class="line-promo__image">
        </div>
    </div>
</section>