<section class="line-intro">
    <div class="line-intro__bg">
        <picture>
            <source srcset="/images/focusline/intro/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/focusline/intro/bg.webp" alt="" class="line-intro__bg-image" />
        </picture>
    </div>
    <div class="line-intro__content">
        <div class="breadcrumbs line-intro__breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                НОУТБУКИ
            </a>
            <a class="active">
                линейки focusline
            </a>
        </div>
        <div class="line-intro__row">
            <div class="line-intro__text-content">

                <h1 class="line-intro__heading">
                    <span class="line-intro__heading-name">
                        FocusLine
                    </span>
                    <span class="line-intro__heading-text">
                        Мощный и стильный ноутбук для работы
                        и развлечений
                    </span>

                </h1>
                <div class="line-intro__text">
                    Ноутбуки линейки FocusLine с&nbsp;диагональю экрана от&nbsp;14&Prime;&nbsp;&mdash; это серия
                    ноутбуков, ориентированная на
                    пользователей, которым требуется баланс производительности
                    и&nbsp;элегантного дизайна.
                </div>
                <div class="line-intro__btns">
                    <a href="#" class="line-intro__buy-btn">
                        купить
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="line-intro__download-btn">
                        драйверы и документация
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#document"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="line-intro__image-wrapper">
                <img src="/images/focusline/intro/laptop.webp" alt="" class="line-intro__image">
            </div>
        </div>
    </div>
</section>