<section class="line-connection">
    <div class="line-connection__content">
        <div class="line-connection__row">
            <div class="line-text-content">
                <img src="/images/focusline/icons/11.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Прямая связь<br>
                    с брендом
                </h2>
                <div class="line-text-content__text">
                    Сервисное обслуживание, консультации, гарантия — всё это доступно без посредников.
                </div>
            </div>
        </div>
        <img src="/images/focusline/connection.webp" alt="" class="line-connection__image">

    </div>
</section>