<section class="line-image-with-text">
    <div class="line-image-with-text__content">
        <div class="line-image-with-text__text-content">
            <div class="line-text-content">
                <img src="/images/focusline/icons/1.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    широкий угол<br>
                    раскрытия
                </h2>
                <div class="line-text-content__text">
                    Забудьте об ограничениях — ноутбук подстраивается под вас. Регулируйте наклон дисплея как вам удобно
                    для работы, учебы или отдыха. Наслаждайтесь комфортом и гибкостью
                    в любых условиях.
                </div>
            </div>
        </div>
        <div class="line-image-with-text__image-wrapper">
            <img src="/images/focusline/image-with-text.webp" alt="" class="line-image-with-text__image">
        </div>
    </div>
</section>