<section class="line-fullscreen-image line-fullscreen-image--style">
    <div class="line-fullscreen-image__bg">
        <picture>
            <source srcset="/images/focusline/style-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/focusline/style.webp" alt="MDN" class="line-fullscreen-image__bg-image" />
        </picture>
    </div>
    <div class="line-fullscreen-image__content">
        <div class="line-fullscreen-image__text-content">
            <div class="line-text-content">
                <img src="/images/focusline/icons/9.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    компактность <br>
                    и стиль
                </h2>
                <div class="line-text-content__text">
                    Тонкий и легкий дизайн для тех, кто ценит эстетику
                    и удобство — корпус ноутбука выполнен из алюминия,
                    а вес устройства составляет всего 1,7 кг — компьютер с легкостью поместится в сумку или рюкзак,
                    он подчеркнет ваш стиль.
                </div>
                <div class="line-text-content__weight">
                    <b>1.7</b> кг
                </div>
            </div>
        </div>
        <div class="line-tooltip" style="--x: 58%; --y: 42%; --mobile-x: 12%; --mobile-y: 52%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>
            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                </div>
            </div>
        </div>
        <div class="line-tooltip" style="--x: 48%; --y: 62%; --mobile-x: 26%; --mobile-y: 67%;">
            <button class="line-tooltip__btn">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#tooltip-plus"></use>
                </svg>
            </button>
            <div class="line-tooltip__content">
                <div class="line-tooltip__content-inner">
                    <div class="line-tooltip__text">
                        Защита зрения Eye Comfort
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>