<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/focusline/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/1.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Full HD<br>
                            IPS дисплей
                        </h3>
                        <div class="line-features__card-text">
                            300 нит
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/focusline/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/2.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            3 диагонали
                        </h3>
                        <div class="line-features__card-text">
                            на выбор: 14”, 15.6”, 16.1”
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <img src="/images/focusline/features/3.webp" alt="" class="line-features__card-bg-image">
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title line-features__card-title--small-on-mobile">
                            предустановленные программы
                        </h3>
                        <div class="line-features__card-text line-features__card-text--hide-on-mobile">
                            антивирус Kaspersky Internet Security, Яндекс Браузер и офисные программы МойОфис
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <img src="/images/focusline/features/4.webp" alt="" class="line-features__card-bg-image">
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            широкий выбор<br>
                            портов
                        </h3>
                        <div class="line-features__card-text">
                            3 порта USB Type-A и HDMI
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/focusline/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/5.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            процессоры
                        </h3>
                        <div class="line-features__card-text">
                            Intel® Core i5, Intel® Core i3<br>
                            или AMD Ryzen 5
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/focusline/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/6.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Апгрейд<br>
                            RAM до 16 Gb
                        </h3>
                        <div class="line-features__card-text">
                            возможность увеличения памяти
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/focusline/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/7.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            новая <br>OC Uncom
                        </h3>
                        <div class="line-features__card-text">
                            для надежности <br>и удобства без границ
                        </div>
                        <div class="line-features__made-in-russia">
                            <img src="/images/rus.svg" alt="" class="line-features__made-in-russia-icon">
                            <span class="line-features__made-in-russia-text">
                                Сделано <br>в России
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/focusline/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/focusline/features/8.webp" alt="MDN"
                                class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            большой<br>
                            тачпад
                        </h3>
                        <div class="line-features__card-text">
                            отдельная цифровая клавиатура
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>