<div class="osio-header">
    <div class="osio-header__content">
        <a href="#" class="osio-header__logo">
            <img src="/images/logo.svg" alt="" class="osio-header__logo-image">
        </a>
        <div class="osio-header__wrapper">
            <div class="osio-header__scroll-wrapper">


                <div class="osio-header__wrapper-inner">


                    <div class="osio-header__top">
                        <nav class="osio-header__nav">
                            <ul class="osio-header__nav-list">
                                <li class="osio-header__nav-list-item">
                                    <a href="#" class="osio-header__nav-link">
                                        О компании
                                    </a>
                                </li>
                                <li class="osio-header__nav-list-item">
                                    <a href="#" class="osio-header__nav-link">
                                        Где купить
                                    </a>
                                </li>
                                <li class="osio-header__nav-list-item">
                                    <a href="#" class="osio-header__nav-link">
                                        Сервисы
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#submenu-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="osio-header__submenu-dropdown">
                                        <div class="osio-header__submenu-dropdown-inner">
                                            <button class="osio-header__submenu-dropdown-back" type="button">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#back"></use>
                                                </svg>
                                                <span class="osio-header__submenu-dropdown-back-text">
                                                    сервисы
                                                </span>
                                            </button>
                                            <ul class="osio-header__submenu-list">
                                                <li class="osio-header__submenu-list-item">
                                                    <a href="#" class="osio-header__submenu-nav-link">
                                                        поддержка
                                                    </a>
                                                </li>
                                                <li class="osio-header__submenu-list-item">
                                                    <a href="#" class="osio-header__submenu-nav-link">
                                                        сервисные центры
                                                    </a>
                                                </li>
                                                <li class="osio-header__submenu-list-item">
                                                    <a href="#" class="osio-header__submenu-nav-link">
                                                        драйверы
                                                    </a>
                                                </li>
                                                <li class="osio-header__submenu-list-item">
                                                    <a href="#" class="osio-header__submenu-nav-link">
                                                        документация
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="osio-header__nav-list-item">
                                    <a href="#" class="osio-header__nav-link">
                                        Блог
                                    </a>
                                </li>
                                <li class="osio-header__nav-list-item">
                                    <a href="#" class="osio-header__nav-link">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <a href="tel:+78002011178" class="osio-header__phone">8 800 201 11 78</a>
                        <a href="#" class="osio-header__lang">
                            EN
                        </a>
                        <div class="osio-header__social">
                            <ul class="osio-header__social-list">
                                <li class="osio-header__social-list-item">
                                    <a href="#" class="osio-header__social-link">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="osio-header__social-list-item">
                                    <a href="#" class="osio-header__social-link">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#vk"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="osio-header__buy">
                            Купить
                        </a>
                    </div>
                    <div class="osio-header__bottom">
                        <div class="osio-header__categories">
                            <ul class="osio-header__categories-list">
                                <li class="osio-header__categories-list-item">
                                    <a href="#" class="osio-header__categories-link">
                                        Ноутбуки
                                    </a>
                                    <div class="osio-header__categories-dropdown">
                                        <div class="osio-header__categories-dropdown-inner">
                                            <button class="osio-header__categories-dropdown-back" type="button">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#back"></use>
                                                </svg>
                                                <span class="osio-header__categories-dropdown-back-text">
                                                    Ноутбуки
                                                </span>

                                            </button>
                                            <div class="osio-header__categories-dropdown-list-wrapper">


                                                <ul class="osio-header__categories-dropdown-list">
                                                    <li class="osio-header__categories-dropdown-list-item">
                                                        <a href="#" class="osio-header__categories-dropdown-card">
                                                            <div class="osio-header__categories-dropdown-card-bg">
                                                                <picture>
                                                                    <source
                                                                        srcset="/images/header-dropdown/1-mobile.webp"
                                                                        media="(min-width: 600px)" />
                                                                    <img src="/images/header-dropdown/1.webp" alt=""
                                                                        class="osio-header__categories-dropdown-card-bg-image" />
                                                                </picture>
                                                            </div>
                                                            <div class="osio-header__categories-dropdown-card-content">
                                                                <h3 class="osio-header__categories-dropdown-card-title">
                                                                    FocusLine
                                                                </h3>
                                                                <p class="osio-header__categories-dropdown-card-text">
                                                                    Мощный и стильный ноутбук для работы
                                                                    и развлечений
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="osio-header__categories-dropdown-list-item">
                                                        <a href="#" class="osio-header__categories-dropdown-card">
                                                            <div class="osio-header__categories-dropdown-card-bg">
                                                                <picture>
                                                                    <source
                                                                        srcset="/images/header-dropdown/2-mobile.webp"
                                                                        media="(min-width: 600px)" />
                                                                    <img src="/images/header-dropdown/2.webp" alt=""
                                                                        class="osio-header__categories-dropdown-card-bg-image" />
                                                                </picture>
                                                            </div>
                                                            <div class="osio-header__categories-dropdown-card-content">
                                                                <h3 class="osio-header__categories-dropdown-card-title">
                                                                    BaseLine
                                                                </h3>
                                                                <p class="osio-header__categories-dropdown-card-text">
                                                                    Идеальный компаньон для работы и учёбы
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="osio-header__categories-dropdown-list-item">
                                                        <a href="#" class="osio-header__categories-dropdown-card">
                                                            <div class="osio-header__categories-dropdown-card-bg">
                                                                <picture>
                                                                    <source
                                                                        srcset="/images/header-dropdown/3-mobile.webp"
                                                                        media="(min-width: 600px)" />
                                                                    <img src="/images/header-dropdown/3.webp" alt=""
                                                                        class="osio-header__categories-dropdown-card-bg-image" />
                                                                </picture>
                                                            </div>
                                                            <div class="osio-header__categories-dropdown-card-content">
                                                                <h3 class="osio-header__categories-dropdown-card-title">
                                                                    CyberLine
                                                                </h3>
                                                                <p class="osio-header__categories-dropdown-card-text">
                                                                    Игровой ноутбук для взыскательных геймеров
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="osio-header__categories-list-item">
                                    <a href="#" class="osio-header__categories-link">
                                        Моноблоки
                                    </a>
                                </li>
                                <li class="osio-header__categories-list-item">
                                    <a href="#" class="osio-header__categories-link">
                                        Системные блоки
                                    </a>
                                </li>
                                <li class="osio-header__categories-list-item">
                                    <a href="#" class="osio-header__categories-link">
                                        Мониторы
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="osio-header__search-wrapper">


                            <a href="#" class="osio-header__search">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                            <div class="osio-header__search-dropdown">
                                <div class="osio-header__search-dropdown-inner">
                                    <h3 class="osio-header__search-title">
                                        Поиск
                                    </h3>
                                    <div class="osio-header__search-width-wrapper">


                                        <form action="/" method="GET" class="osio-header__search-form">
                                            <input type="search" name="q" class="osio-header__search-input"
                                                placeholder="Поиск по сайту">
                                            <button class="osio-header__search-submit" type="submit">
                                                Найти
                                            </button>
                                        </form>
                                        <div class="osio-header__search-results">
                                            <h3 class="osio-header__search-results-title">
                                                Рекомендованные результаты
                                            </h3>
                                            <ul class="osio-header__search-results-list">
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Ноутбуки OSiO <span>Base</span>Line
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Моноблоки OSiO <span>Base</span>Line
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Мини ПК OSiO <span>Base</span>Line
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Обзор на Ноутбук OSiO <span>Base</span>Line B150i-006s
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Обзор на Мини ПК OSiO <span>Base</span>Line B51i-016
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Представлена новая линейка OSiO <span>Base</span>Line
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Советы по выбору ноутбука среди линеек <span>Base</span>Line
                                                        и Focusline
                                                    </a>
                                                </li>
                                                <li class="osio-header__search-results-list-item">
                                                    <a href="#" class="osio-header__search-results-link">
                                                        Драйверы для Мини ПК OSiO <span>Base</span>Line B51i-016
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="osio-header__mobile-search">
            <button class="osio-header__mobile-search-btn" type="button">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
            <div class="osio-header__mobile-search-dropdown">
                <div class="osio-header__mobile-search-dropdown-inner">
                    <form action="/" method="GET" class="osio-header__mobile-search-dropdown-form">
                        <input type="search" class="osio-header__mobile-search-dropdown-form-input" placeholder="Поиск">
                    </form>
                    <div class="osio-header__search-results">
                        <h3 class="osio-header__search-results-title">
                            Рекомендованные результаты
                        </h3>
                        <ul class="osio-header__search-results-list">
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Ноутбуки OSiO <span>Base</span>Line
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Моноблоки OSiO <span>Base</span>Line
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Мини ПК OSiO <span>Base</span>Line
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Обзор на Ноутбук OSiO <span>Base</span>Line B150i-006s
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Обзор на Мини ПК OSiO <span>Base</span>Line B51i-016
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Представлена новая линейка OSiO <span>Base</span>Line
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Советы по выбору ноутбука среди линеек <span>Base</span>Line
                                    и Focusline
                                </a>
                            </li>
                            <li class="osio-header__search-results-list-item">
                                <a href="#" class="osio-header__search-results-link">
                                    Драйверы для Мини ПК OSiO <span>Base</span>Line B51i-016
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="osio-header__burger">

        </button>
    </div>

</div>