<section class="interfaces">
    <div class="interfaces__content">
        <div class="interfaces__left-col">
            <div class="line-text-content">
                <img src="/images/block/icons/10.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Удобные<br>
                    интерфейсы
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    <p>
                        Основные разъемы используемые каждый день, для удобства расположены на задней части монитора и
                        направлены вниз для большей эргономичности.
                    </p>
                    <p>
                        У моноблока есть два разъема для подключения колонки или наушников.
                    </p>
                </div>
            </div>
            <ul class="interfaces__list">
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/1.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            5×USB<br> Type-A
                        </div>
                    </div>
                </li>
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/2.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            1×USB<br>
                            Type-C
                        </div>
                    </div>
                </li>
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/3.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            1×RJ-45<br>
                            10M/100M/1000M
                        </div>
                    </div>
                </li>
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/4.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            1×HDMI
                        </div>
                    </div>
                </li>
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/5.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            1×DisplayPort
                        </div>
                    </div>
                </li>
                <li class="interfaces__list-item">
                    <div class="interfaces__card">
                        <img src="/images/block-2/interfaces/6.svg" alt="" class="interfaces__card-icon">
                        <div class="interfaces__card-title">
                            1×Audio in<br>
                            1×Audio out
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="interfaces__right-col">
            <div class="interfaces__image-wrapper">
                <picture>
                    <source srcset="/images/block-2/interfaces/photo-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/block-2/interfaces/photo.webp" alt="" class="interfaces__image">
                </picture>
            </div>
        </div>
    </div>
</section>