<section class="intro">
    <div class="intro__bg">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">

                        <picture>
                            <source srcset="/images/intro-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/intro-bg.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/intro-bg.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/intro-bg.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__ticker js-ticker">
        <div class="intro__ticker-track js-ticker-track">
            <div class="intro__ticker-track-inner js-ticker-inner-track">
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="intro__content">
        <div class="osio-header">
            <div class="osio-header__content">
                <a href="#" class="osio-header__logo">
                    <img src="/images/logo.svg" alt="" class="osio-header__logo-image">
                </a>
                <div class="osio-header__wrapper">
                    <div class="osio-header__scroll-wrapper">


                        <div class="osio-header__wrapper-inner">


                            <div class="osio-header__top">
                                <nav class="osio-header__nav">
                                    <ul class="osio-header__nav-list">
                                        <li class="osio-header__nav-list-item">
                                            <a href="#" class="osio-header__nav-link">
                                                О компании
                                            </a>
                                        </li>
                                        <li class="osio-header__nav-list-item">
                                            <a href="#" class="osio-header__nav-link">
                                                Где купить
                                            </a>
                                        </li>
                                        <li class="osio-header__nav-list-item">
                                            <a href="#" class="osio-header__nav-link">
                                                Сервисы
                                            </a>
                                        </li>
                                        <li class="osio-header__nav-list-item">
                                            <a href="#" class="osio-header__nav-link">
                                                Блог
                                            </a>
                                        </li>
                                        <li class="osio-header__nav-list-item">
                                            <a href="#" class="osio-header__nav-link">
                                                Контакты
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <a href="tel:+78002011178" class="osio-header__phone">8 800 201 11 78</a>
                                <a href="#" class="osio-header__lang">
                                    EN
                                </a>
                                <div class="osio-header__social">
                                    <ul class="osio-header__social-list">
                                        <li class="osio-header__social-list-item">
                                            <a href="#" class="osio-header__social-link">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="osio-header__social-list-item">
                                            <a href="#" class="osio-header__social-link">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#vk"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="osio-header__buy">
                                    Купить
                                </a>
                            </div>
                            <div class="osio-header__bottom">
                                <div class="osio-header__categories">
                                    <ul class="osio-header__categories-list">
                                        <li class="osio-header__categories-list-item">
                                            <a href="#" class="osio-header__categories-link">
                                                Ноутбуки
                                            </a>
                                            <div class="osio-header__categories-dropdown">
                                                <div class="osio-header__categories-dropdown-inner">
                                                    <div class="osio-header__categories-subcategories-nav">
                                                        <a href="#"
                                                            class="osio-header__categories-subcategories-nav-link active">
                                                            Все Ноутбуки
                                                        </a>
                                                        <a href="#"
                                                            class="osio-header__categories-subcategories-nav-link">
                                                            baseline
                                                        </a>
                                                        <a href="#"
                                                            class="osio-header__categories-subcategories-nav-link">
                                                            FocusLine
                                                        </a>
                                                    </div>
                                                    <div class="osio-header__categories-subcategories">


                                                        <div class="osio-header__categories-subcategory active">
                                                            <button class="osio-header__categories-subcategory-btn">
                                                                Все Ноутбуки
                                                            </button>
                                                            <div class="osio-header__categories-subcategory-content">
                                                                <div
                                                                    class="osio-header__categories-subcategory-content-inner">
                                                                    <ul
                                                                        class="osio-header__categories-subcategory-list">
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div
                                                                        class="osio-header__categories-subcategory-links">
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Подробнее о серии
                                                                        </a>
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Все ноутбуки
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="osio-header__categories-subcategory">
                                                            <button class="osio-header__categories-subcategory-btn">
                                                                baseline
                                                            </button>
                                                            <div class="osio-header__categories-subcategory-content">
                                                                <div
                                                                    class="osio-header__categories-subcategory-content-inner">
                                                                    <ul
                                                                        class="osio-header__categories-subcategory-list">
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div
                                                                        class="osio-header__categories-subcategory-links">
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Подробнее о серии
                                                                        </a>
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Все ноутбуки
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="osio-header__categories-subcategory">
                                                            <button class="osio-header__categories-subcategory-btn">
                                                                focusline
                                                            </button>
                                                            <div class="osio-header__categories-subcategory-content">
                                                                <div
                                                                    class="osio-header__categories-subcategory-content-inner">
                                                                    <ul
                                                                        class="osio-header__categories-subcategory-list">
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                        <li
                                                                            class="osio-header__categories-subcategory-list-item">
                                                                            <a href="#"
                                                                                class="osio-header__categories-subcategory-card">
                                                                                <h3
                                                                                    class="osio-header__categories-subcategory-card-title">
                                                                                    FocusLine 140i-001
                                                                                </h3>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-image-container">
                                                                                    <img src="/images/subcategory.webp"
                                                                                        alt=""
                                                                                        class="osio-header__categories-subcategory-card-image">
                                                                                </div>
                                                                                <div
                                                                                    class="osio-header__categories-subcategory-card-specs">
                                                                                    15.6”<br>
                                                                                    AMD Ryzen 5 5560u<br>
                                                                                    16GB · SSD 512GB
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div
                                                                        class="osio-header__categories-subcategory-links">
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Подробнее о серии
                                                                        </a>
                                                                        <a href="#"
                                                                            class="osio-header__categories-subcategory-link">
                                                                            Все ноутбуки
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="osio-header__categories-list-item">
                                            <a href="#" class="osio-header__categories-link">
                                                Моноблоки
                                            </a>
                                        </li>
                                        <li class="osio-header__categories-list-item">
                                            <a href="#" class="osio-header__categories-link">
                                                Системные блоки
                                            </a>
                                        </li>
                                        <li class="osio-header__categories-list-item">
                                            <a href="#" class="osio-header__categories-link">
                                                Мониторы
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="osio-header__search-wrapper">


                                    <a href="#" class="osio-header__search">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </a>
                                    <div class="osio-header__search-dropdown">
                                        <div class="osio-header__search-dropdown-inner">
                                            <h3 class="osio-header__search-title">
                                                Поиск
                                            </h3>
                                            <form action="/" method="GET" class="osio-header__search-form">
                                                <input type="search" name="q" class="osio-header__search-input"
                                                    placeholder="Поиск по сайту">
                                                <button class="osio-header__search-submit" type="submit">
                                                    Найти
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="osio-header__burger">

                </button>
            </div>

        </div>
        <div class="intro__slider-wrapper">
            <div class="intro__slider-wrapper-content">


                <div class="intro__text-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__bottom">

                    <div class="intro__slider-nav">
                        <ul class="intro__slider-nav-list">
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link active">
                                    <span class="intro__slider-nav-link-number">
                                        1
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Новая линейка
                                    </span>
                                </a>
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link">
                                    <span class="intro__slider-nav-link-number">
                                        2
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Открылись в Москве
                                    </span>
                                </a>
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link">
                                    <span class="intro__slider-nav-link-number">
                                        3
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Рейтинг топ-100
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__overlay"></div>
</section>