<section class="intro">
    <div class="intro__bg">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro/1.webp" media="(max-width: 640px)" />
                            <img src="/images/intro/1.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro/2.webp" media="(max-width: 640px)" />
                            <img src="/images/intro/2.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro/3.webp" media="(max-width: 640px)" />
                            <img src="/images/intro/3.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="intro__bg-slider-card" data-swiper-parallax="25%">
                        <picture>
                            <source srcset="/images/intro/4.webp" media="(max-width: 640px)" />
                            <img src="/images/intro/4.webp" alt="" class="intro__bg-slider-card-image" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__ticker js-ticker">
        <div class="intro__ticker-track js-ticker-track">
            <div class="intro__ticker-track-inner js-ticker-inner-track">
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
                <div class="intro__ticker-track-item">
                    Получите скидку 20% на ноутбуки линейки FocusLine!&nbsp;&nbsp;&mdash;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="intro__content">
        {{> header }}
        <div class="intro__slider-wrapper">
            <div class="intro__slider-wrapper-content">
                <div class="intro__text-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="intro__shop-link">
                                        <div class="intro__shop-link-icon">
                                            <img src="/images/dns.svg" alt="" class="intro__shop-link-icon-image">
                                        </div>
                                        <div class="intro__shop-link-content">
                                            <div class="intro__shop-link-title">
                                                всего за
                                            </div>
                                            <div class="intro__shop-link-price">
                                                19 999 ₽
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="intro__shop-link">
                                        <div class="intro__shop-link-icon">
                                            <img src="/images/dns.svg" alt="" class="intro__shop-link-icon-image">
                                        </div>
                                        <div class="intro__shop-link-content">
                                            <div class="intro__shop-link-title">
                                                всего за
                                            </div>
                                            <div class="intro__shop-link-price intro__shop-link-price--yellow">
                                                19 999 ₽
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro__text-slider-card">
                                    <h2 class="intro__text-slider-card-heading">
                                        Новая линейка
                                    </h2>
                                    <h3 class="intro__text-slider-card-secondary-heading">
                                        Баланс между ценой и качеством
                                    </h3>
                                    <div class="intro__text-slider-card-text">
                                        Ноутбуки линейки FocusLine с диагональю экрана от 14" до сочетание
                                        производительности,
                                        стиля и доступности.
                                    </div>
                                    <a href="#" class="intro__text-slider-link">
                                        Перейти
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#link-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro__bottom">

                    <div class="intro__slider-nav">
                        <ul class="intro__slider-nav-list">
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link active">
                                    <span class="intro__slider-nav-link-number">
                                        1
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Новая линейка
                                    </span>
                                </a>
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link">
                                    <span class="intro__slider-nav-link-number">
                                        2
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Открылись в Москве
                                    </span>
                                </a>
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link">
                                    <span class="intro__slider-nav-link-number">
                                        3
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Рейтинг топ-100
                                    </span>
                                </a>
                            </li>
                            <li class="intro__slider-nav-list-item">
                                <a href="#" class="intro__slider-nav-link">
                                    <span class="intro__slider-nav-link-number">
                                        4
                                    </span>
                                    <span class="intro__slider-nav-link-text">
                                        — Лучшие OSIO
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__overlay"></div>
</section>