<section class="lines">
    <div class="lines__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                НОУТБУКИ
            </a>
        </div>
        <ul class="lines__list">
            <li class="lines__list-item">
                <a href="#" class="lines__card">
                    <div class="lines__card-bg">
                        <picture>
                            <source srcset="/images/lines/1-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/lines/1-bg.webp" alt="MDN" class="lines__card-bg-image" />
                        </picture>
                    </div>
                    <div class="lines__card-content">
                        <div class="lines__card-text-content">
                            <h2 class="lines__card-title">
                                FocusLine
                            </h2>
                            <div class="lines__card-title-text">
                                Мощный и стильный ноутбук для работы
                                и развлечений
                            </div>
                            <div class="lines__card-text">
                                Ноутбуки линейки FocusLine с диагональю экрана от 14" - это серия ноутбуков,
                                ориентированная на пользователей, которым требуется баланс производительности
                                и элегантного дизайна.
                            </div>
                        </div>
                        <div class="lines__card-image-wrapper">
                            <img src="/images/lines/1.webp" alt="" class="lines__card-image">
                        </div>
                        <div class="lines__card-link">
                            Перейти
                        </div>
                    </div>
                </a>
            </li>
            <li class="lines__list-item">
                <a href="#" class="lines__card">
                    <div class="lines__card-bg">
                        <picture>
                            <source srcset="/images/lines/2-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/lines/2-bg.webp" alt="MDN" class="lines__card-bg-image" />
                        </picture>
                    </div>
                    <div class="lines__card-content">
                        <div class="lines__card-text-content">
                            <h2 class="lines__card-title">
                                BaseLine
                            </h2>
                            <div class="lines__card-title-text">
                                Идеальный компаньон для работы и учёбы
                            </div>
                            <div class="lines__card-text">
                                Ноутбуки серии BaseLine с диагональю экрана от 13" до 14" - бюджетное решение для
                                пользователей, которым необходим надежный и функциональный ноутбук для повседневных
                                задач.
                            </div>
                        </div>
                        <div class="lines__card-image-wrapper">
                            <img src="/images/lines/2.webp" alt="" class="lines__card-image">
                        </div>
                        <div class="lines__card-link">
                            Перейти
                        </div>
                    </div>
                </a>
            </li>
            <li class="lines__list-item lines__list-item--wide">
                <a href="#" class="lines__card">
                    <div class="lines__card-bg">
                        <picture>
                            <source srcset="/images/lines/3-bg-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/lines/3-bg.webp" alt="MDN" class="lines__card-bg-image" />
                        </picture>
                    </div>
                    <div class="lines__card-content">
                        <div class="lines__card-text-content">
                            <h2 class="lines__card-title">
                                CyberLine
                            </h2>
                            <div class="lines__card-title-text">
                                Игровой ноутбук для
                                взыскательных геймеров
                            </div>
                            <div class="lines__card-text">
                                Линейка Cyberline с экранами от 16" - это идеальный продукт для тех, кто ценит высокую
                                скорость, четкость изображения и стиль. Мощный и стильный ноутбук для игр и работы!
                            </div>
                        </div>
                        <div class="lines__card-image-wrapper">
                            <img src="/images/lines/3.webp" alt="" class="lines__card-image">
                        </div>
                        <div class="lines__card-link">
                            Перейти
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>