<section class="mediacenter">
    <div class="mediacenter__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                медиа-центр
            </a>
        </div>
        <h1 class="mediacenter__heading">
            медиа-центр
        </h1>
        <div class="mediacenter__row">


            <div class="mediacenter__nav">
                <ul class="mediacenter__nav-list">
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-link">
                            новости
                        </a>
                    </li>
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-link active">
                            обзоры
                        </a>
                    </li>


                </ul>
            </div>
            <div class="mediacenter__filters">
                <button class="mediacenter__filters-btn js-mediacenter-filters-open-btn" type="button">
                    фильтры
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#filters"></use>
                    </svg>
                </button>
                <div class="mediacenter__filters-dropdown">
                    <div class="mediacenter__filters-dropdown-inner">
                        <div class="mediacenter__filters-dropdown-inner-touch-area">

                        </div>
                        <button class="mediacenter__filters-close js-mediacenter-filters-close-btn" type="button">
                            фильтры
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#filters-close"></use>
                            </svg>
                        </button>
                        <form action="/" method="GET" class="mediacenter__filters-form">
                            <div class="mediacenter__filters-selects">
                                <div class="mediacenter__filters-select">


                                    <div class="select js-select" data-placeholder="все линейки">
                                        <div class="select__accordion-btn">
                                            <span class="select__btn-accordion-text">
                                                все линейки
                                            </span>
                                            <span class="select__btn-accordion-icon">

                                            </span>
                                        </div>
                                        <button class="select__btn" type="button">

                                            <span class="select__btn-text js-btn-text">

                                            </span>
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                        </button>
                                        <div class="select__dropdown">
                                            <div class="select__dropdown-inner">
                                                <ul class="select__choices-list">
                                                    <li class="select__choices-list-item">
                                                        <label class="select__choice">
                                                            <input type="radio" name="type" value="Baseline"
                                                                class="select__choice-input">
                                                            <span class="select__choice-mark"></span>
                                                            <span class="select__choice-text">
                                                                Baseline
                                                            </span>

                                                        </label>
                                                    </li>
                                                    <li class="select__choices-list-item">
                                                        <label class="select__choice">
                                                            <input type="radio" name="type" value="Focusline"
                                                                class="select__choice-input">
                                                            <span class="select__choice-mark"></span>
                                                            <span class="select__choice-text">
                                                                Focusline
                                                            </span>

                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="mediacenter__filters-apply js-mediacenter-filters-close-btn" type="button">
                                применить
                            </button>
                            <button class="mediacenter__filters-reset" type="reset">
                                сбросить фильтры
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <ul class="mediacenter__list">
            <li class="mediacenter__list-item mediacenter__list-item--large">
                <a href="#" data-fancybox="" data-src="#rutube-video-1" class="reviews__video-card"
                    data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/1.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                focusline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Всего лишь у 20% ноутбуков
                            других брендов камера больше
                            1 мегапикселя.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                анна
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Magic Family”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/2.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                cyberline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Очень удобный в работе и функциональный
                            ноут с отличной
                            веб-камерой.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                антон
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Форсаж”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/3.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                baseline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Серьезная начинка, которая будет актуальна еще много лет.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                константин
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “AcademeG DailyStream”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/2.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                cyberline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Очень удобный в работе и функциональный
                            ноут с отличной
                            веб-камерой.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                антон
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Форсаж”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/3.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                baseline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Серьезная начинка, которая будет актуальна еще много лет.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                константин
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “AcademeG DailyStream”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/2.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                cyberline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Очень удобный в работе и функциональный
                            ноут с отличной
                            веб-камерой.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                антон
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Форсаж”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/3.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                baseline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Серьезная начинка, которая будет актуальна еще много лет.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                константин
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “AcademeG DailyStream”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/2.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                cyberline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Очень удобный в работе и функциональный
                            ноут с отличной
                            веб-камерой.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                антон
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Форсаж”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" data-fancybox="" data-src="#vk-video-1" class="reviews__video-card" data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/3.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                baseline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Серьезная начинка, которая будет актуальна еще много лет.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                константин
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “AcademeG DailyStream”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item mediacenter__list-item--large">
                <a href="#" data-fancybox="" data-src="#rutube-video-1" class="reviews__video-card"
                    data-fancybox="reviews">
                    <div class="reviews__video-card-bg">
                        <img src="/images/mediacenter-reviews/1.webp" alt="" class="reviews__video-card-bg-image">
                    </div>
                    <div class="reviews__video-card-content">
                        <div class="reviews__video-card-tags">
                            <div class="reviews__video-card-tag">
                                focusline
                            </div>
                        </div>
                        <h3 class="reviews__video-card-title">
                            “Всего лишь у 20% ноутбуков
                            других брендов камера больше
                            1 мегапикселя.”
                        </h3>
                        <div class="reviews__video-card-author">
                            <div class="reviews__video-card-name">
                                анна
                            </div>
                            <div class="reviews__video-card-role">
                                Канал “Magic Family”
                            </div>
                        </div>
                        <div class="reviews__video-card-play">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#reviews-play"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="mediacenter__show-more">
            показать еще
        </a>
    </div>
</section>
<div id="rutube-video-1" class="reviews-russian-video" style="display:none;">
    <iframe width="720" height="405" src="https://rutube.ru/play/embed/bd42ae858d9fec2ea3bdc5ff70ddf28f/"
        frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen
        loading="lazy"></iframe>
</div>
<div id="vk-video-1" class="reviews-russian-video reviews-russian-video--vk" style="display:none;">
    <iframe src="https://vkvideo.ru/video_ext.php?oid=-49879051&id=456244287&hd=2&autoplay=1" width="853" height="480"
        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"
        allowfullscreen loading="lazy"></iframe>
</div>