<section class="mediacenter">
    <div class="mediacenter__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                медиа-центр
            </a>
        </div>
        <h1 class="mediacenter__heading">
            медиа-центр
        </h1>
        <div class="mediacenter__row">


            <div class="mediacenter__nav">
                <ul class="mediacenter__nav-list">
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-link active">
                            новости
                        </a>
                    </li>
                    <li class="mediacenter__nav-list-item">
                        <a href="#" class="mediacenter__nav-link">
                            обзоры
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <ul class="mediacenter__list">
            <li class="mediacenter__list-item mediacenter__list-item--large">
                <a href="#" class="open-world__slider-card open-world__slider-card--large">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">

                            <picture>
                                <source srcset="/images/open-world/7-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/open-world/7.webp" alt="" class="open-world__slider-card-image" />
                            </picture>

                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            Новости
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Российский бренд OSiO делится успехами
                            и новинками на своем первом Дне рождения
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/1.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            Продукты
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Представляем новинку: серия BaseLine доступная каждому
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/2.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            Продукты
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Обзор игровых ноутбуков от Влада Филатова: какой ноутбук выбрать в 2024 году?
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/5.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            пресс-релизы
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Представляем новинку: серия BaseLine доступная каждому
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/4.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            Новости
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Обзор игровых ноутбуков от Влада Филатова: какой ноутбук выбрать в 2024 году?
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/6.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            пресс-релизы
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Российский бренд OSiO делится успехами и новинками на своем первом Дне рождения
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
            <li class="mediacenter__list-item">
                <a href="#" class="open-world__slider-card">
                    <div class="open-world__slider-card-image-container">
                        <div class="open-world__slider-card-image-wrapper">
                            <img src="/images/open-world/1.webp" alt="" class="open-world__slider-card-image">
                        </div>
                    </div>
                    <div class="open-world__slider-card-content">
                        <div class="open-world__slider-card-category">
                            Продукты
                        </div>
                        <h3 class="open-world__slider-card-heading">
                            Представляем новинку: серия BaseLine доступная каждому
                        </h3>
                        <div class="open-world__slider-card-date">
                            03.08.2024
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="mediacenter__show-more">
            показать еще
        </a>
    </div>
</section>