<section class="memory-upgrade">
    <div class="memory-upgrade__bg">
        <picture>
            <source srcset="/images/new-blocks/memory-upgrade-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/memory-upgrade.webp" alt="" />
        </picture>
    </div>
    <div class="memory-upgrade__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/2.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Апгрейд без<br> потери гарантии
            </h2>
            <div class="line-text-content__text">
                Недостаточно памяти? Мы предусмотрели расширение оперативной памяти в ноутбуке: два слота стандарта
                SODIMM DDR4 позволят вам расширить объем ОЗУ до 64 Гб.
            </div>
        </div>
    </div>
</section>