<section class="line-features">
    <div class="line-features__content">
        <ul class="line-features__list">
            <li class="line-features__list-item line-features__list-item--large">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/minipc/features/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/1.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            современный Дизайн
                        </h3>
                        <div class="line-features__card-text">
                            в ультракомпактном корпусе
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/minipc/features/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/2.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Мощный процессор
                        </h3>
                        <div class="line-features__card-text">
                            Intel Core i5 12 поколения
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/minipc/features/3-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/3.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Апгрейд <br>
                            RAM до 64 Gb
                        </h3>
                        <div class="line-features__card-text">
                            работа в режиме двухканальной памяти
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--wide">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/minipc/features/4-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/4.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Подключение 2-х мониторов
                        </h3>
                        <div class="line-features__card-text">
                            разъем HDMI и DisplayPort
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/minipc/features/5-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/5.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title line-features__card-title--small-on-mobile">
                            Широкий выбор<br> портов
                        </h3>
                        <div class="line-features__card-text">
                            4 стандартных USB порта + 1 разъем Type-C
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">

                        <picture>
                            <source srcset="/images/minipc/features/6-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/6.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            легкий<br>
                            на подъем
                        </h3>
                        <div class="line-features__card-text">
                            масса изделия не более 0.4 кг.
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/minipc/features/7-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/7.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            Простая<br> конструкция
                        </h3>
                        <div class="line-features__card-text">
                            для самостоятельного апгрейда
                        </div>
                    </div>
                </div>
            </li>
            <li class="line-features__list-item line-features__list-item--square">
                <div class="line-features__card">
                    <div class="line-features__card-bg">
                        <picture>
                            <source srcset="/images/minipc/features/8-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/minipc/features/8.webp" alt="MDN" class="line-features__card-bg-image" />
                        </picture>
                    </div>
                    <div class="line-features__card-content">
                        <h3 class="line-features__card-title">
                            креплениЯ VESA
                        </h3>
                        <div class="line-features__card-text">
                            для вертикального размещения на задней стенке монитора
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>