<section class="minipc-comfort">
    <div class="minipc-comfort__content">
        <div class="line-text-content">
            <img src="/images/minipc/icons/4.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                удобство<br>
                размещения
            </h2>
            <div class="line-text-content__text">
                <p>
                    Устройство комплектуется креплением типа VESA для его удобного размещения на задней стенке
                    монитора.<br>
                    Компьютер можно установить и использовать вертикально.
                </p>
            </div>

        </div>
        <div class="minipc-comfort__image-wrapper">

            <picture>
                <source srcset="/images/minipc/comfort-mobile.svg" media="(max-width: 640px)" />
                <img src="/images/minipc/comfort.svg" alt="MDN" class="minipc-comfort__image" />
            </picture>
        </div>
    </div>
</section>