<section class="line-promo">
    <div class="line-promo__content">
        <div class="line-promo__top-row">
            <h2 class="line-promo__heading">
                Лаконичное решение
                больших задач
            </h2>
            <div class="line-promo__text">
                OSiO MiniPC сочетает высокую производительность и компактный размер, идеально подходя для рабочих задач.
                Широкий выбор современных разъёмов обеспечивет комфортную работу в офисе или удалённо.
            </div>
        </div>
        <div class="line-promo__image-wrapper">
            <img src="/images/minipc/partner.webp" alt="" class="line-promo__image">
        </div>
    </div>
</section>