<section class="minipc-design">
    <div class="minipc-design__content">
        <div class="minipc-design__image-wrapper">
            <img src="/images/minipc/design.webp" alt="" class="minipc-design__image">
        </div>
        <div class="line-text-content">
            <img src="/images/minipc/icons/3.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Ультракомпактный дизайн
            </h2>
            <div class="line-text-content__text">
                <p>
                    Размеры корпуса минимальны. При этом это полноценный компьютер, способный выполнять все ваши
                    поставленные задачи.
                </p>
                <p>
                    Стильный дизайн с закруглёнными углами, серебряной окантовкой и приятным кофейным цветом, найдёт
                    место в любом современно интерьере.
                </p>
            </div>
            <div class="line-text-content__weight">
                <b>126 × 126 × 45 мм</b>
            </div>
        </div>
    </div>
</section>