<section class="minipc-upgrade">
    <div class="minipc-upgrade__content">
        <div class="minipc-upgrade__top-row">
            <div class="line-text-content">
                <img src="/images/minipc/icons/6.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Лёгкий апгрейд
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    <p>
                        Крышка компьютера на магнитах и легко снимается, обеспечивая лёгкий доступ к внутренней части.
                        Замену компонентов можно производить самостоятельно и без потери гарантии *
                    </p>
                </div>
                <div class="line-text-content__remark">
                    * за исключением поломок, вызванных самостоятельным апгрейдом устройства
                </div>
            </div>
        </div>
        <div class="minipc-upgrade__row">
            <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD" class="reviews__video-card"
                data-fancybox="reviews">
                <div class="reviews__video-card-bg">
                    <img src="/images/minipc/upgrade-preview.webp" alt="" class="reviews__video-card-bg-image">
                </div>
                <div class="reviews__video-card-content">
                    <div class="reviews__video-card-tags">
                        <div class="reviews__video-card-tag">
                            Инструкция
                        </div>
                    </div>
                    <h3 class="reviews__video-card-title">
                        Как самостоятельно увеличить объем оперативной памяти в устройстве
                    </h3>
                    <div class="reviews__video-card-author">
                        <div class="reviews__video-card-name">
                            Владимир
                        </div>
                        <div class="reviews__video-card-role">
                            Эксперт компании OSiO
                        </div>
                    </div>
                    <div class="reviews__video-card-play">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#reviews-play"></use>
                        </svg>
                    </div>
                </div>
            </a>
            <div class="minipc-upgrade__image-wrapper">
                <img src="/images/minipc/upgrade.webp" alt="" class="minipc-upgrade__image">
            </div>
        </div>
    </div>
</section>