<section class="line-promo line-promo--with-slider" style="--slides-count: 1;">
    <div class="line-promo__content">
        <div class="line-promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="line-promo__slider-card">
                            <div class="line-promo__top-row">
                                <h2 class="line-promo__heading">
                                    Лаконичное решение
                                    больших задач
                                </h2>
                                <div class="line-promo__text">
                                    OSiO MiniPC сочетает высокую производительность и компактный размер, идеально
                                    подходя для рабочих задач.
                                    Широкий выбор современных разъёмов обеспечивет комфортную работу в офисе или
                                    удалённо.
                                </div>
                            </div>
                            <div class="line-promo__image-wrapper">
                                <img src="/images/minipc/partner.webp" alt="" class="line-promo__image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-promo__slider-pagination"></div>
        </div>
        <div class="line-promo__pin-spacer"></div>
    </div>
</section>