<section class="block-interfaces">
    <div class="block-interfaces__content">
        <div class="block-interfaces__top-row">
            <div class="line-text-content">
                <img src="/images/minipc/icons/2.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Множество портов для ваших устройств
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Устройство снабжено 4-мя портами стандартных USB входов для подключения ваших устройства и одним
                        входом USB Type-C.
                    </p>
                    <p>
                        Для удобстве часть портов вынесено на переднюю панель. Компьютер также снабжён портом RJ-45 для
                        подключения к высокоскоростному интернету или внутренней локальной сети.
                    </p>
                </div>
            </div>
        </div>
        <ul class="block-interfaces__list">
            <li class="block-interfaces__list-item">
                <div class="block-interfaces__card">
                    <picture>
                        <source srcset="/images/minipc/ports/1-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/minipc/ports/1.webp" alt="MDN" class="block-interfaces__card-image" />
                    </picture>
                </div>
            </li>
            <li class="block-interfaces__list-item">
                <div class="block-interfaces__card">
                    <picture>
                        <source srcset="/images/minipc/ports/2-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/minipc/ports/2.webp" alt="MDN" class="block-interfaces__card-image" />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>