<section class="block-dynamic">
    <div class="block-dynamic__content">
        <div class="block-dynamic__row">
            <div class="line-text-content line-text-content--no-padding">
                <img src="/images/minipc/icons/1.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Активная система<br>
                    охлаждения
                </h2>
                <div class="line-text-content__text line-text-content__text--wide">
                    <p>
                        Несмотря на свои компактные размер, корпус компьютера включает в себя элементы активного
                        охлаждения: радиатор и вентилятор охлаждения.
                    </p>
                    <p>
                        Такое сочетание важно при работе устройства на постоянных нагрузках, особенно вкупе с мощным
                        процессором.
                    </p>
                </div>
            </div>
            <div class="block-dynamic__image-wrapper">
                <picture>
                    {{!-- <source srcset="/images/block/dynamic-mobile.webp" media="(max-width: 640px)" /> --}}
                    <img src="/images/minipc/cooling.webp" alt="" class="block-dynamic__image" />
                </picture>
            </div>
        </div>
    </div>
</section>