<section class="line-efficiency line-efficiency--no-bg">
    <div class="line-efficiency__content">
        <div class="line-efficiency__top-row">
            <div class="line-text-content">
                <img src="/images/minipc/icons/7.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Широкий выбор линеек
                    процессоров
                </h2>
                <div class="line-text-content__text">
                    Выбирайте между процессором начального уровня N100 и мощными процессорами Core i3 и Core i5.
                </div>
                <ul class="line-text-content__apps-list line-text-content__apps-list--small-mobile-gap">
                    <li class="line-text-content__apps-list-item">
                        <div class="line-text-content__apps-card line-text-content__apps-card--rounded">
                            <img src="/images/minipc/intel-1.webp" alt="" class="line-text-content__apps-card-icon">
                        </div>
                    </li>
                    <li class="line-text-content__apps-list-item">
                        <div class="line-text-content__apps-card line-text-content__apps-card--rounded">
                            <img src="/images/minipc/intel-2.webp" alt="" class="line-text-content__apps-card-icon">
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="line-efficiency__image-wrapper">
            <picture>
                <source srcset="/images/baseline/efficiency-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/baseline/efficiency.webp" alt="" class="line-efficiency__image" />
            </picture>
            <picture>
                <source srcset="/images/baseline/efficiency-specs-mobile.svg" media="(max-width: 640px)" />
                <img src="/images/baseline/efficiency-specs.svg" alt="" class="line-efficiency__specs" />
            </picture>
        </div>

    </div>
</section>