<section class="minipc-memory">
    <div class="minipc-memory__content">
        <div class="line-text-content">
            <img src="/images/minipc/icons/5.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                2 слота для оперативной<br>
                памяти <em>*</em>
            </h2>
            <div class="line-text-content__text">
                <p>
                    Компьютер поддерживает до 64Gb оперативной памяти, а также работу в режиме двухканальной памяти, что
                    существенно увеличивает производительность устройства.
                </p>
            </div>
            <div class="line-text-content__remark">
                * кроме моделей с процессором N100
            </div>
        </div>
        <div class="minipc-memory__image-wrapper">
            <picture>
                <source srcset="/images/minipc/memory-mobile.svg" media="(max-width: 640px)" />
                <img src="/images/minipc/memory.webp" alt="" class="minipc-memory__image" />
            </picture>
        </div>
    </div>
</section>