<section class="not-found">
    <div class="not-found__content">
        <img src="/images/not-found.webp" alt="" class="not-found__image">
        <h1 class="not-found__heading">
            упс, что-то пошло не&nbsp;так!
        </h1>
        <div class="not-found__text">
            Страница, которую вы запрашиваете, не существует. Возможно она устарела,
            была удалена, или был введен неверный адрес.
        </div>
        <a href="#" class="not-found__link">
            перейти на главную страницу
        </a>
    </div>
</section>