<section class="open-world">
    <div class="open-world__content">
        <div class="open-world__top-row">
            <h2 class="open-world__heading">
                Открывайте мир OSIO
            </h2>
            <a href="#" class="open-world__more-link">
                Перейти в блог
            </a>
        </div>
        <div class="open-world__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="open-world__slider-card">
                            <div class="open-world__slider-card-image-container">
                                <div class="open-world__slider-card-image-wrapper">
                                    <img src="/images/open-world/1.webp" alt="" class="open-world__slider-card-image">
                                </div>
                            </div>
                            <div class="open-world__slider-card-content">
                                <div class="open-world__slider-card-category">
                                    Продукты
                                </div>
                                <h3 class="open-world__slider-card-heading">
                                    Представляем новинку: серия BaseLine доступная каждому
                                </h3>
                                <div class="open-world__slider-card-desc">
                                    Описание новости блога, Описание новости блога, Описание новости блога, Описание
                                    новости блога,Описание новости блога...
                                </div>
                                <div class="open-world__slider-card-date">
                                    03.08.2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="open-world__slider-card">
                            <div class="open-world__slider-card-image-container">
                                <div class="open-world__slider-card-image-wrapper">
                                    <img src="/images/open-world/2.webp" alt="" class="open-world__slider-card-image">
                                </div>
                            </div>
                            <div class="open-world__slider-card-content">
                                <div class="open-world__slider-card-category">
                                    Продукты
                                </div>
                                <h3 class="open-world__slider-card-heading">
                                    Обзор игровых ноутбуков от Влада Филатова: какой ноутбук выбрать в 2024 году?
                                </h3>
                                <div class="open-world__slider-card-desc">
                                    Описание новости блога, Описание новости...
                                </div>
                                <div class="open-world__slider-card-date">
                                    03.08.2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="open-world__slider-card open-world__slider-card--video">
                            <div class="open-world__slider-card-image-container">
                                <div class="open-world__slider-card-image-wrapper">
                                    <img src="/images/open-world/3.webp" alt="" class="open-world__slider-card-image">
                                </div>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </div>
                            <div class="open-world__slider-card-content">
                                <div class="open-world__slider-card-category">
                                    Видеообзор
                                </div>
                                <h3 class="open-world__slider-card-heading">
                                    Обзор игровых ноутбуков от Влада Филатова: какой ноутбук выбрать в 2024 году?
                                </h3>
                                <div class="open-world__slider-card-date">
                                    03.08.2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="open-world__slider-card">
                            <div class="open-world__slider-card-image-container">
                                <div class="open-world__slider-card-image-wrapper">
                                    <img src="/images/open-world/4.webp" alt="" class="open-world__slider-card-image">
                                </div>
                            </div>
                            <div class="open-world__slider-card-content">
                                <div class="open-world__slider-card-category">
                                    Новости
                                </div>
                                <h3 class="open-world__slider-card-heading">
                                    Обзор игровых ноутбуков от Влада Филатова: какой ноутбук выбрать в 2024 году?
                                </h3>
                                <div class="open-world__slider-card-date">
                                    03.08.2024
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="open-world__slider-card">
                            <div class="open-world__slider-card-image-container">
                                <div class="open-world__slider-card-image-wrapper">
                                    <img src="/images/open-world/1.webp" alt="" class="open-world__slider-card-image">
                                </div>
                            </div>
                            <div class="open-world__slider-card-content">
                                <div class="open-world__slider-card-category">
                                    Продукты
                                </div>
                                <h3 class="open-world__slider-card-heading">
                                    Представляем новинку: серия BaseLine доступная каждому
                                </h3>
                                <div class="open-world__slider-card-date">
                                    03.08.2024
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="open-world__bottom-row">
            <div class="open-world__small-text">
                Новости, обзоры, скидки и советы в нашем блоге
            </div>
            <div class="open-world__arrows">
                <button class="open-world__arrow open-world__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="open-world__arrow open-world__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>