<section class="other-materials">
    <div class="other-materials__content">
        <div class="other-materials__top-row">
            <h2 class="other-materials__heading">
                другие материалы
            </h2>
            <a href="#" class="other-materials__link">
                Перейти в центр самообслуживания
            </a>
        </div>
        <div class="other-materials__slider">
            <div class="other-materials__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/1.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        первый запуск
                                    </div>
                                    <h3 class="material-card__title">
                                        Быстрая настройка устройства: шаг за шагом
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/2.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        установка драйверов
                                    </div>
                                    <h3 class="material-card__title">
                                        Как установить драйверы
                                        и обновления ПО самостоятельно
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/3.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        настройка по
                                    </div>
                                    <h3 class="material-card__title">
                                        Устранение распространённых неполадок: простые решения
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/4.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        wi-fi
                                    </div>
                                    <h3 class="material-card__title">
                                        Подключение к Wi-Fi
                                        и настройка сети за 5 минут
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/1.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        первый запуск
                                    </div>
                                    <h3 class="material-card__title">
                                        Быстрая настройка устройства: шаг за шагом
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="material-card">
                                <div class="material-card__image-container">
                                    <img src="/images/materials/2.webp" alt="" class="material-card__image">
                                    <div class="material-card__duration">
                                        2:17
                                    </div>
                                </div>
                                <div class="material-card__content">
                                    <div class="material-card__category">
                                        установка драйверов
                                    </div>
                                    <h3 class="material-card__title">
                                        Как установить драйверы
                                        и обновления ПО самостоятельно
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-materials__slider-controls">
                <div class="other-materials__slider-remark">
                    Новости, скидки и советы в нашем блоге
                </div>
                <div class="other-materials__arrows">
                    <button class="other-materials__arrow other-materials__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="other-materials__arrow other-materials__arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>