<section class="partner-video">
    <div class="partner-video__content">
        <h2 class="partner-video__heading">
            Ваш надежный партнёр<br>
            для продуктивного дня
        </h2>
        <a href="/videos/partner-video.mp4" class="partner-video__card" data-fancybox>
            <div class="partner-video__card-bg">
                <img src="/images/partner-video.webp" alt="" class="partner-video__card-bg-image">
            </div>
            <svg aria-hidden="true" width="14" height="14">
                <use xlink:href="#partner-play"></use>
            </svg>
        </a>
    </div>
</section>