<div class="partners-modal js-modal" id="partners-modal" data-lenis-prevent="">
    <div class="partners-modal__inner">
        <button class="partners-modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#partners-close"></use>
            </svg>
        </button>
        <h3 class="partners__subtitle">
            купить ноутбук osio focusline
        </h3>
        <h2 class="partners__heading">
            Выберите магазин<br>
            из списка партнёров
        </h2>
        <div class="partners__count">
            10 партнеров
        </div>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/dns.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">

                            DNS
                        </h3>

                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/eldorado.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            Эльдорадо
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/mvideo.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            М.Видео
                        </h3>

                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/technopark.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            Технопарк
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/citylink.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            Ситилинк
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/wb.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            Wildberries
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/ozon.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            Ozon
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/coxo.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            coxo.ru
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/domtechnica.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            домотехника
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <div class="partners__card-bg">
                        <img src="/images/partners/xcom.svg" alt="" class="partners__card-bg-image">
                    </div>
                    <div class="partners__card-content">
                        <div class="partners__card-arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#partners-arrow"></use>
                            </svg>
                        </div>
                        <h3 class="partners__card-title">
                            xcom-shop
                        </h3>
                    </div>
                    <div class="partners__card-overlay">
                        <ul class="partners__card-contacts-list">
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        горячая линия:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        8 800 250 25 25
                                    </div>
                                </div>
                            </li>
                            <li class="partners__card-contacts-list-item">
                                <div class="partners__card-contacts-item">
                                    <div class="partners__card-contacts-item-key">
                                        сайт:
                                    </div>
                                    <div class="partners__card-contacts-item-value">
                                        ozon.ru
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
        <div class="partners__remark">
            Покупайте с выгодой – где и когда вам удобно
        </div>
    </div>
</div>