<section class="ports">
    <div class="ports__content">
        <div class="ports__top-row">
            <div class="ports__wrapper">
                <div class="line-text-content">
                    <img src="/images/new-blocks/icons/12.svg" alt="" class="line-text-content__icon">
                    <h2 class="line-text-content__heading">
                        оптимальный набор портов
                    </h2>
                    <div class="line-text-content__text">
                        <p>
                            Устройство снабжено 4-мя портами стандартных USB входов для подключения ваших устройства и
                            одним входом USB Type-C.
                        </p>
                        <p>
                            Для удобства часть портов вынесено на переднюю панель. Компьютер также снабжён портом RJ-45
                            для подключения к высокоскоростному интернету или внутренней локальной сети.
                        </p>
                    </div>
                </div>
                <ul class="ports__list">
                    <li class="ports__list-item">
                        <div class="ports__card">
                            <img src="/images/new-blocks/ports/1.svg" alt="" class="ports__card-icon">
                            <div class="ports__card-title">
                                4×USB<br> Type-A
                            </div>
                        </div>
                    </li>
                    <li class="ports__list-item">
                        <div class="ports__card">
                            <img src="/images/new-blocks/ports/2.svg" alt="" class="ports__card-icon">
                            <div class="ports__card-title">
                                1×USB<br>
                                Type-C
                            </div>
                        </div>
                    </li>
                    <li class="ports__list-item">
                        <div class="ports__card">
                            <img src="/images/new-blocks/ports/3.svg" alt="" class="ports__card-icon">
                            <div class="ports__card-title">
                                1×RJ-45<br>
                                10M/100M/1000M
                            </div>
                        </div>
                    </li>
                    <li class="ports__list-item">
                        <div class="ports__card">
                            <img src="/images/new-blocks/ports/4.svg" alt="" class="ports__card-icon">
                            <div class="ports__card-title">
                                1×HDMI
                            </div>
                        </div>
                    </li>
                    <li class="ports__list-item">
                        <div class="ports__card">
                            <img src="/images/new-blocks/ports/5.svg" alt="" class="ports__card-icon">
                            <div class="ports__card-title">
                                1×DisplayPort
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="ports__bottom-row">
            <div class="ports__image-card">
                <picture>
                    <source srcset="/images/new-blocks/ports-1-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/new-blocks/ports-1.webp" alt="" class="ports__image-card-image">
                </picture>
            </div>
            <div class="ports__image-card">
                <picture>
                    <source srcset="/images/new-blocks/ports-2-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/new-blocks/ports-2.webp" alt="" class="ports__image-card-image">
                </picture>
            </div>
        </div>
    </div>
</section>