<section class="products">
    <div class="products__content">
        <div class="products__top-row">
            <div class="products__tabs-nav">
                <ul class="products__tabs-nav-list">
                    <li class="products__tabs-nav-list-item">
                        <a href="#" class="products__tabs-nav-link active">
                            Лидеры продаж
                        </a>
                    </li>
                    <li class="products__tabs-nav-list-item">
                        <a href="#" class="products__tabs-nav-link">
                            Новинки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="products__links">
                <a href="#" class="products__link active">
                    Все Лидеры продаж
                </a>
                <a href="#" class="products__link">
                    Новинки
                </a>
            </div>
        </div>
        <div class="products__tabs-items">
            <div class="products__tabs-item">
                <div class="products__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150a
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/1.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        AMD Ryzen 5 5560u<br>
                                        8GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150i-004

                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/2.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        Intel Core i3<br>
                                        16GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Моноблок OSIO BaseLine B240i
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/3.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        Intel Core i3<br>
                                        16GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150a-001
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag products__slider-card-tag--red">
                                                NEW
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/4.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        AMD Ryzen 5 5560u<br>
                                        8GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__tabs-item">
                <div class="products__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150a
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/1.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        AMD Ryzen 5 5560u<br>
                                        8GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150i-004

                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/2.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        Intel Core i3<br>
                                        16GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Моноблок OSIO BaseLine B240i
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag">
                                                Самый быстрый
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/3.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        Intel Core i3<br>
                                        16GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="products__slider-card">
                                    <div class="products__slider-card-title-wrapper">
                                        <h3 class="products__slider-card-title">
                                            Ноутбук OSIO FocusLine F150a-001
                                        </h3>
                                        <div class="products__slider-card-tags">
                                            <div class="products__slider-card-tag products__slider-card-tag--red">
                                                NEW
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__slider-card-image-container">
                                        <img src="/images/products/4.webp" alt="" class="products__slider-card-image">
                                    </div>
                                    <div class="products__slider-card-specs">
                                        15.6”<br>
                                        AMD Ryzen 5 5560u<br>
                                        8GB · SSD 512GB
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>