<section class="ram-slots">
    <div class="ram-slots__bg">
        <picture>
            <source srcset="/images/new-blocks/ram-slots-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/ram-slots.webp" alt="" />
        </picture>
    </div>
    <div class="ram-slots__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/11.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                2 слота для оперативной
                памяти*
            </h2>
            <div class="line-text-content__text">
                Компьютер поддерживает до 64Gb оперативной памяти, а также работу в режиме двухканальной памяти, что
                существенно увеличивает производительность устройства.
            </div>
            <div class="line-text-content__remark">
                *Кроме моделей с процессором N100
            </div>
        </div>
    </div>
</section>