<section class="raytracing">
    <div class="raytracing__bg">
        <picture>
            <source srcset="/images/new-blocks/raytracing/bg-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/raytracing/bg.webp" alt="MDN" class="raytracing__bg-image" />
        </picture>
    </div>
    <div class="raytracing__content">
        <div class="raytracing__text-content">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/15.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    Поддержка трассировки лучей Ray Tracing
                </h2>
                <div class="line-text-content__text">
                    <p>
                        Принципиально новый уровень погружения и реализма, который стирает грань между игрой и
                        реальностью. Каждый луч света, будь то отблеск неона на стекле небоскреба или тусклый свет
                        факела в подземелье, ведет себя так же, как и в реальном мире. Окружающая среда оживает и
                        приобретает невиданную глубину.
                    </p>
                    <p>
                        Тени становятся максимально детализированными и мягкими, естественно меняя свою плотность и
                        резкость
                        в зависимости от источника света и расстояния. Технология Ray Tracing в видеокартах NVIDIA
                        GeForce
                        RTX кардинально меняет представление о реалистичности в играх.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>