<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="reviews__heading">
                обзоры
            </h2>
            <a href="#" class="reviews__show-more">
                посмотреть все
            </a>
        </div>
        <div class="reviews__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/1.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Самое главное, что он мощный и при этом в рюкзак поместится. Можно с собой носить и
                                    работать.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/2.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Очень удобный в работе и функциональный ноут с отличной веб-камерой.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/1.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Самое главное, что он мощный и при этом в рюкзак поместится. Можно с собой носить и
                                    работать.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/2.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Очень удобный в работе и функциональный ноут с отличной веб-камерой.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/1.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Самое главное, что он мощный и при этом в рюкзак поместится. Можно с собой носить и
                                    работать.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.youtube.com/watch?v=K4TOrB7at0Y&ab_channel=StealthMediaLTD"
                            class="reviews__video-card" data-fancybox="reviews">
                            <div class="reviews__video-card-bg">
                                <img src="/images/reviews-new/2.webp" alt="" class="reviews__video-card-bg-image">
                            </div>
                            <div class="reviews__video-card-content">
                                <div class="reviews__video-card-tags">
                                    <div class="reviews__video-card-tag">
                                        cyberline
                                    </div>
                                </div>
                                <h3 class="reviews__video-card-title">
                                    “Очень удобный в работе и функциональный ноут с отличной веб-камерой.”
                                </h3>
                                <div class="reviews__video-card-author">
                                    <div class="reviews__video-card-name">
                                        Денис
                                    </div>
                                    <div class="reviews__video-card-role">
                                        Канал “Айден”
                                    </div>
                                </div>
                                <div class="reviews__video-card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#reviews-play"></use>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </div>
        <div class="reviews__bottom-row">
            <div class="reviews__text">
                Смотрите обзоры наших ноутбуков от блогеров и экспертов,
                чтобы узнать больше о технике OSiO.
            </div>

            <div class="reviews__arrows">
                <button class="reviews__arrow reviews__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="reviews__arrow reviews__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>