<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="reviews__heading">
                Отзывы
            </h2>

        </div>
        <div class="reviews__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews__slider-card">
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div class="reviews__slider-card-content-short">
                                    Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                    установленной операционной системой. Сколько бы я ни открывал вкладок или приложений
                                    модель не зависает. А все из-за того, что у нее шестиядерный процессор.
                                    На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать в
                                    вечернее время, все отлично видно без дополнительного освещения.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        ЕвгениЯ М.
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Менеджер из Оренбурга
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card reviews__slider-card--grayscale">
                            <div class="reviews__slider-card-bg">
                                <img src="/images/review-grayscale-bg.webp" alt=""
                                    class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado-grayscale.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div
                                    class="reviews__slider-card-content-short reviews__slider-card-content-short--large">
                                    Очень удобный в работе и функциональный ноут с отличном веб-камерой.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        Алиша
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Стримерка Твич
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card">
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div class="reviews__slider-card-content-short">
                                    Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                    установленной операционной системой. Сколько бы я ни открывал вкладок или приложений
                                    модель не зависает. А все из-за того, что у нее шестиядерный процессор.
                                    На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать в
                                    вечернее время, все отлично видно без дополнительного освещения.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        ЕвгениЯ М.
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Менеджер из Оренбурга
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card reviews__slider-card--grayscale">
                            <div class="reviews__slider-card-bg">
                                <img src="/images/review-grayscale-bg.webp" alt=""
                                    class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado-grayscale.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div
                                    class="reviews__slider-card-content-short reviews__slider-card-content-short--large">
                                    Очень удобный в работе и функциональный ноут с отличном веб-камерой.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        Алиша
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Стримерка Твич
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card">
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div class="reviews__slider-card-content-short">
                                    Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                    установленной операционной системой. Сколько бы я ни открывал вкладок или приложений
                                    модель не зависает. А все из-за того, что у нее шестиядерный процессор.
                                    На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать в
                                    вечернее время, все отлично видно без дополнительного освещения.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        ЕвгениЯ М.
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Менеджер из Оренбурга
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card reviews__slider-card--grayscale">
                            <div class="reviews__slider-card-bg">
                                <img src="/images/review-grayscale-bg.webp" alt=""
                                    class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado-grayscale.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div
                                    class="reviews__slider-card-content-short reviews__slider-card-content-short--large">
                                    Очень удобный в работе и функциональный ноут с отличном веб-камерой.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        Алиша
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Стримерка Твич
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card">
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div class="reviews__slider-card-content-short">
                                    Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                    установленной операционной системой. Сколько бы я ни открывал вкладок или приложений
                                    модель не зависает. А все из-за того, что у нее шестиядерный процессор.
                                    На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать в
                                    вечернее время, все отлично видно без дополнительного освещения.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        ЕвгениЯ М.
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Менеджер из Оренбурга
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews__slider-card reviews__slider-card--grayscale">
                            <div class="reviews__slider-card-bg">
                                <img src="/images/review-grayscale-bg.webp" alt=""
                                    class="reviews__slider-card-bg-image">
                            </div>
                            <div class="reviews__slider-card-top-row">
                                <img src="/images/eldorado-grayscale.webp" alt="" class="reviews__slider-card-logo">
                            </div>
                            <div class="reviews__slider-card-content">
                                <div
                                    class="reviews__slider-card-content-short reviews__slider-card-content-short--large">
                                    Очень удобный в работе и функциональный ноут с отличном веб-камерой.
                                </div>
                                <div class="reviews__slider-card-content-full">
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор. На клавиатуре предусмотрена подсветка клавиш, с таким новшеством
                                        удобно работать в вечернее время, все отлично видно без дополнительного
                                        освещения.
                                    </p>
                                    <p>
                                        Подыскивала себе ноутбук для работы на дому. Понравился этот вариант с уже
                                        установленной операционной системой. Сколько бы я ни открывал вкладок или
                                        приложений модель не зависает. А все из-за того, что у нее шестиядерный
                                        процессор.
                                    </p>
                                    <p>
                                        На клавиатуре предусмотрена подсветка клавиш, с таким новшеством удобно работать
                                        в вечернее время, все отлично видно без дополнительного освещения.
                                    </p>
                                </div>
                            </div>
                            <div class="reviews__slider-card-bottom-row">
                                <div class="reviews__slider-card-author">
                                    <div class="reviews__slider-card-author-name">
                                        Алиша
                                    </div>
                                    <div class="reviews__slider-card-author-role">
                                        Стримерка Твич
                                    </div>
                                </div>
                                <div class="reviews__slider-card-plus">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="reviews__bottom-row">
            <a href="#" class="reviews__link">
                Написать отзыв
            </a>
            <div class="reviews__arrows">
                <button class="reviews__arrow reviews__arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="reviews__arrow reviews__arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>