<section class="search">
    <div class="search__content">
        <form action="/" method="GET" class="search__form-wrapper">
            <div method="POST" class="search__form">
                <input type="text" name="q" class="search__form-input" value="baseLine" placeholder="Поиск по сайту">
                <button class="search__form-submit" type="submit">
                    Найти
                </button>
            </div>
        </form>
        <div class="search__not-found">
            <div class="search__not-found-wrapper">
                <img src="/images/search-not-found.webp" alt="" class="search__not-found-image">
                <div class="search__not-found-text">
                    Кажется, сейчас у нас нет того, что вы ищете.
                </div>
            </div>
        </div>
    </div>

</section>