<div class="search-form">
    <form action="/" method="POST" class="search-form__form">
        <div class="search-form__form-wrapper">
            <input type="search" name="q" class="search-form__form-input" placeholder="поиск по названию">
            <button class="search-form__form-submit" type="submit">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </div>
    </form>
</div>