<section class="service-centers">
    <div class="service-centers__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                поддержка
            </a>
            <a class="active">
                сервисные центры
            </a>
        </div>
        <div class="service-centers__top-row">
            <h1 class="service-centers__heading">
                сервисные центры
            </h1>
            <div class="service-centers__info">
                <div class="service-centers__text">
                    Пользователи компьютерной техники OSiO по всей территории России обеспечены оперативной сервисной
                    поддержкой и гарантийным обслуживанием.
                </div>
                <div class="service-centers__contacts">
                    <div class="service-centers__contacts-card">
                        <h3 class="service-centers__contacts-card-title">
                            Горячая линия:
                        </h3>
                        <a href="tel:+78002011178" class="service-centers__contacts-card-link">
                            8 800 201 11 78
                        </a>
                    </div>
                    <div class="service-centers__contacts-card">
                        <h3 class="service-centers__contacts-card-title">
                            Почта:
                        </h3>
                        <a href="mailto:osio@osio.ru" class="service-centers__contacts-card-link">
                            osio@osio.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-centers__map">
            <div class="service-centers__choose-city">
                <h3 class="service-centers__choose-city-title">
                    Выберите свой город
                </h3>
                <div class="service-centers__choose-city-text">
                    Позвоните на горячую линию OSIO, если сервисный центр
                    не отвечает или если вы не нашли свой город в списке.
                </div>
            </div>
            <div class="service-centers__grid">
                <div class="service-centers__map-element" data-lat="56.838958" data-lng="60.597146" data-zoom="16"
                    data-pin-url="/images/pin.svg">
                    <div class="service-centers__map-element-inner">

                    </div>
                </div>
                <div class="service-centers__points">
                    <a href="#service-centers-modal" class="service-centers__select-city">
                        <span class="service-centers__select-city-text">
                            екатеринбург
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#select-arrow"></use>
                        </svg>
                    </a>
                    <div class="service-centers__points-count">
                        Найдено сервисов:
                        <span class="service-centers__points-count-amount">
                            4
                        </span>
                    </div>
                    <div class="service-centers__points-scroll-wrapper">
                        <div class="service-centers__points-scroll-wrapper-inner">


                            <div class="service-centers__points-results">
                                <ul class="service-centers__points-results-list">
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card active" data-lat="56.818548"
                                            data-lng="60.587584">
                                            <h3 class="service-centers__points-card-title">
                                                Rss
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Московская, д. 82
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    +7 (343) 239-60-12
                                                </div>
                                                <a href="mailto:service@rss.ru"
                                                    class="service-centers__points-card-item">service@rss.ru</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card" data-lat="56.859990"
                                            data-lng="60.630326">
                                            <h3 class="service-centers__points-card-title">
                                                техподдержка
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Июльская, д.53
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    8(343) 365-62-62; 227-60-75
                                                </div>
                                                <a href="mailto:bds@techsupport66.ru"
                                                    class="service-centers__points-card-item">
                                                    bds@techsupport66.ru
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card" data-lat="56.854176"
                                            data-lng="60.607118">
                                            <h3 class="service-centers__points-card-title">
                                                Rss
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Азина
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    +7 (343) 239-60-12
                                                </div>
                                                <a href="mailto:service@rss.ru"
                                                    class="service-centers__points-card-item">
                                                    service@rss.ru
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card" data-lat="56.862502"
                                            data-lng="60.618622">
                                            <h3 class="service-centers__points-card-title">
                                                техподдержка
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Маяковского
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    +7 (343) 239-60-12
                                                </div>
                                                <a href="mailto:service@rss.ru"
                                                    class="service-centers__points-card-item">service@rss.ru</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card" data-lat="56.860321"
                                            data-lng="60.626155">
                                            <h3 class="service-centers__points-card-title">
                                                техподдержка
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Уральская
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    8(343) 365-62-62; 227-60-75
                                                </div>
                                                <a href="mailto:bds@techsupport66.ru"
                                                    class="service-centers__points-card-item">
                                                    bds@techsupport66.ru
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="service-centers__points-results-list-item">
                                        <div class="service-centers__points-card" data-lat="56.856546"
                                            data-lng="60.628895">
                                            <h3 class="service-centers__points-card-title">
                                                Rss
                                            </h3>
                                            <div class="service-centers__points-card-text">
                                                <div class="service-centers__points-card-item">
                                                    ул. Красина
                                                </div>
                                                <div class="service-centers__points-card-item">
                                                    +7 (343) 239-60-12
                                                </div>
                                                <a href="mailto:service@rss.ru"
                                                    class="service-centers__points-card-item">
                                                    service@rss.ru
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-centers__cities-modal js-modal" id="service-centers-modal" data-lenis-prevent="">
        <div class="service-centers__cities-modal-inner">
            <div class="service-centers__cities-modal-row">


                <div class="service-centers__cities-modal-text-content">
                    <h3 class="service-centers__cities-modal-heading">
                        ваш город
                    </h3>
                    <div class="service-centers__cities-modal-text">
                        Выберите свой город в списке или воспользуйтесь поиском.
                    </div>
                </div>
                <button class="service-centers__cities-modal-close js-modal-close">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
            <form action="/" method="GET" class="service-centers__cities-modal-search">
                <input type="text" class="service-centers__cities-modal-search-input" name="city"
                    placeholder="найти город">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#search"></use>
                </svg>
            </form>
            <div class="service-centers__cities-scroll-wrapper">
                <div class="service-centers__cities-scroll-wrapper-inner">
                    <ul class="service-centers__cities-list">
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Абакан
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Великие Луки
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Грозный
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Великий Новгород
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Владивосток
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Владикавказ
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Владимир
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Волгоград
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Воронеж
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link active">
                                Екатеринбург
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Ессентуки
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Архангельск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Барнаул
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Белгород
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Биробиджан
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Брянск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Заинск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Ижевск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Йошкар-Ола
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Иркутск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Казань
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Калининград
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Калуга
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Караганда
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Кемерово
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Киров
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Кострома
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Краснодар
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Красноярск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Курган
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Липецк
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Караганда
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Кемерово
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Киров
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Кострома
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Краснодар
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Красноярск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Курган
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Курск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Липецк
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Магадан
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Магнитогорск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Майкоп
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Махачкала
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Москва
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Нальчик
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Нижний Новгород
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Новосибирск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Новотроицк
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Ногинск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Омск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Орел
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Оренбург
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Орск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Пенза
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Пермь
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Петрозаводск
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Петропавловск-
                                Камчатский
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Псков
                            </a>
                        </li>
                        <li class="service-centers__cities-list-item">
                            <a href="#" class="service-centers__cities-link">
                                Пугачев
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>