<section class="shops">
    <div class="shops__content">
        <h2 class="shops__heading">
            Покупайте с выгодой — где и когда вам удобно
        </h2>
        <div class="shops__slider">
            <h3 class="shops__slider-title">
                7 магазинов
            </h3>
            <div class="shops__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{> shop-cards }}
                        {{> shop-cards }}
                    </div>
                </div>
            </div>
        </div>
        <div class="shops__remark">
            Вы можете приобрести продукцию OSiO в магазине партнёров
        </div>
    </div>
</section>