<section class="shops">
    <div class="shops__content">
        <h2 class="shops__heading">
            Покупайте с выгодой — где и когда вам удобно
        </h2>
        <div class="shops__slider">
            <h3 class="shops__slider-title">
                7 магазинов
            </h3>
            <div class="shops__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/1.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        DNS
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/2.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        Эльдорадо
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/3.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        М.Видео
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/4.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        Технопарк
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/5.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        Ситилинк
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/6.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        Wildberries
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="shops__slider-card">
                                <div class="shops__slider-card-content">


                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#diagonal-arrow"></use>
                                    </svg>
                                    <div class="shops__slider-card-image-container">
                                        <img src="/images/shops/7.webp" alt="" class="shops__slider-card-image">
                                    </div>
                                    <h3 class="shops__slider-card-title">
                                        Ozon
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shops__remark">
            Вы можете приобрести продукцию OSiO в магазине партнёров
        </div>
    </div>
</section>