<section class="single-news">
    <div class="single-news__content">
        <div class="single-news__grid">
            <div class="breadcrumbs single-news__breadcrumbs">
                <a href="#">
                    ГЛАВНАЯ
                </a>
                <a href="#">
                    медиа-центр
                </a>
                <a href="#" class="active">
                    Российский бренд OSiO делится успехами и новинками на своем первом Дне рождения
                </a>
            </div>
            <h1 class="single-news__heading">
                Российский бренд OSiO делится успехами
                и новинками на своем первом Дне рождения
            </h1>
            <div class="single-news__left-wrapper">


                <div class="single-news__info">
                    <h3 class="single-news__info-title">
                        новости
                    </h3>
                    <div class="single-news__info-date">
                        18.11.2024
                    </div>
                </div>
                <div class="single-news__sharing">
                    <ul class="single-news__sharing-list">
                        <li class="single-news__sharing-list-item">
                            <a href="#" class="single-news__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#social-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="single-news__sharing-list-item">
                            <a href="#" class="single-news__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#social-whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="single-news__sharing-list-item">
                            <a href="#" class="single-news__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#social-vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="single-news__sharing-list-item">
                            <a href="#" class="single-news__sharing-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#social-download"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-news__image-wrapper">
                <img src="/images/single-news.webp" alt="" class="single-news__image">
            </div>
            <div class="single-news__main-wrapper">
                <div class="single-news__text-content">
                    <p>
                        Российский бренд OSiO отметил свой первый год работы и организовал торжественное событие для
                        представителей СМИ и партнеров. За прошедший год компания зарекомендовала себя как надежный
                        игрок на
                        рынке, а в ближайшем будущем готова представить новые продукты, которые укрепят её позиции в
                        сфере
                        отечественной компьютерной техники.
                    </p>
                    <h3>
                        Мини-ПК: компактность
                        и производительность
                    </h3>
                    <p>
                        На мероприятии участники познакомились со всеми линейками продукции OSiO и новинкой - мини-ПК.
                        Это
                        устройство, предлагающее оптимальное сочетание очень компактных размеров, весом около 400
                        граммов и
                        высокой производительности с процессорами Intel N100, Intel Core I3 12 поколения, Intel Core i5
                        12
                        поколения, будет доступно для покупки в ближайшие месяцы и уже вызывает интерес у клиентов,
                        стремящихся найти компактное решение для работы и дома.
                    </p>
                    <h3>
                        Локализация производства
                        и планы на будущее
                    </h3>
                    <p>
                        В ходе мероприятия с гостями обсуждались ключевые аспекты развития российских брендов в сфере
                        технологий. Представители OSiO поделились планом по расширению каналов продвижения своей
                        продукции,
                        выходу на рынок B2B и повышению уровня локализации производства. На заводе ICL Techno в Казани,
                        с
                        более 33-х летним стажем успешного опыта в ИТ отрасли, реализуются все производственные
                        процессы,
                        что служит гарантией высокого качества выпускаемой продукции бренда.
                    </p>
                    <blockquote class="single-news__blockquote">
                        <div class="single-news__blockquote-row">


                            <div class="single-news__blockquote-image-wrapper">
                                <img src="/images/blockquote-1.webp" alt="" class="single-news__blockquote-image">
                            </div>
                            <div class="single-news__blockquote-content">
                                <div class="single-news__blockquote-text">
                                    Мы гордимся тем, что за этот год смогли завоевать доверие наших клиентов, предложив
                                    решения,
                                    соответствующие самым высоким стандартам.
                                </div>
                                <div class="single-news__blockquote-author">
                                    <div class="single-news__blockquote-author-title">
                                        Ильдар Вагизов
                                    </div>
                                    <div class="single-news__blockquote-author-role">
                                        Коммерческий директор ICL Techno
                                    </div>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                    <p>
                        Он также подчеркнул важность постоянной обратной связи с пользователями, что позволяет OSiO
                        быстро
                        реагировать на их запросы.
                    </p>
                    <h3>
                        Доверие клиентов и стремление
                        к современным трендам
                    </h3>
                    <p>
                        За первый год своего существования OSiO завоевал множество положительных отзывов от клиентов,
                        которые подчеркивают высокое качество сборки, надежность и стабильную работу устройств.
                        Пользователи
                        отмечают доступность и высокий уровень обслуживания, что делает бренд привлекательным как для
                        частных пользователей, так и для бизнес-клиентов.
                    </p>

                    <p>
                        Бренд также акцентирует внимание на локализации производства, что является важным аспектом его
                        стратегии. Сотрудничество с творческой студией Артемия Лебедева по разработке уникального
                        дизайна
                        новых продуктов подтверждает стремление OSiO следовать современным трендам и предлагать
                        интересные
                        решения для российского потребителя.
                    </p>
                    <blockquote class="single-news__blockquote">
                        <div class="single-news__blockquote-row">
                            <div class="single-news__blockquote-image-wrapper">
                                <img src="/images/blockquote-2.webp" alt="" class="single-news__blockquote-image">
                            </div>
                            <div class="single-news__blockquote-content">
                                <div class="single-news__blockquote-text">
                                    Мы верим, что наш первый день рождения — это только начало большого пути. В
                                    следующем
                                    году
                                    мы продолжим радовать наших пользователей новыми продуктами, улучшать качество и,
                                    конечно,
                                    поддерживать открытый диалог с каждым, кто доверился нашему бренду.
                                </div>
                                <div class="single-news__blockquote-author">
                                    <div class="single-news__blockquote-author-title">
                                        Анастасия Черкасенко
                                    </div>
                                    <div class="single-news__blockquote-author-role">
                                        Руководитель направления по работе с розничными сетями «ICL Техно»
                                    </div>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                </div>

                <div class="single-news__bottom">
                    <div class="single-news__bottom-row">
                        <div class="single-news__author">
                            <div class="single-news__author-image-container">
                                <img src="/images/blockquote-2.webp" alt="" class="single-news__author-image">
                            </div>
                            <div class="single-news__author-content">
                                <h3 class="single-news__author-name">
                                    анна смирнова
                                </h3>
                                <div class="single-news__author-role">
                                    Редактор новостного-портала NEWGEN
                                </div>
                            </div>
                        </div>
                        <a href="#" class="single-news__source-link">
                            перейти к источнику
                        </a>
                    </div>
                    <div class="single-news__sharing">
                        <ul class="single-news__sharing-list">
                            <li class="single-news__sharing-list-item">
                                <a href="#" class="single-news__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#social-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="single-news__sharing-list-item">
                                <a href="#" class="single-news__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#social-whatsapp"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="single-news__sharing-list-item">
                                <a href="#" class="single-news__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#social-vk"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="single-news__sharing-list-item">
                                <a href="#" class="single-news__sharing-link">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#social-download"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>