<section class="specs" id="specs">
    <div class="specs__content">
        <h2 class="specs__heading">
            характеристики
        </h2>
        <div class="specs__tabs js-tabs">
            <div class="specs__tabs-nav">
                <ul class="specs__tabs-nav-list">
                    <li class="specs__tabs-nav-list-item">
                        <a href="#" class="specs__tabs-nav-link js-tabs-btn active">
                            23.8”
                        </a>
                    </li>
                    <li class="specs__tabs-nav-list-item">
                        <a href="#" class="specs__tabs-nav-link js-tabs-btn">
                            27”
                        </a>
                    </li>

                </ul>
            </div>
            <div class="specs__tabs-items">
                <div class="specs__tabs-item js-tabs-item active">
                    <ul class="specs__list">
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    цвет
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list specs__card-list--flex">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <img src="/images/block-2/specs-page/color-grey.svg" alt=""
                                                    class="specs__card-feature-image">
                                                <div class="specs__card-feature-text">
                                                    Серебристый<br>
                                                    (Silver)
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <img src="/images/block-2/specs-page/color-darkgrey.svg" alt=""
                                                    class="specs__card-feature-image">
                                                <div class="specs__card-feature-text">
                                                    Темно-серый<br>
                                                    (Dark grey)
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    Внешний вид
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Материал корпуса
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    пластик
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Материал стойки
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    металл
                                                </div>
                                            </div>
                                        </li>


                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    экран
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Размер
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    23.8 дюймов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Максимальная яркость
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    300 Кд/м²
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Тип
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    IPS
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Контрастность
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    1200:1
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Цветовой охват NTSC
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    72%
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Цветовой охват RGB
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    99%
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Соотношение сторон
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    16:9
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Частота обновления экрана max
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    100 Hz
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Покрытие экрана
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    Матовое
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Разрешение
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    1920x1080
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="specs__card-remark">
                                        *Значения яркости, цветового охвата, контрастности и угла обзора являются
                                        типичными значениями.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    размер
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Вес
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    5,5 кг
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <img src="/images/block-2/specs-page/size.webp" alt=""
                                        class="specs__card-illustration specs__card-illustration--medium">
                                    <div class="specs__card-remark">
                                        * Размер, вес и другие характеристики устройства являются теоретическими
                                        значениями. Фактические размеры и другие характеристики устройства могут
                                        отличаться. Все характеристики зависят от фактического устройства.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    порты
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">

                                                <div class="specs__card-feature-text">
                                                    <p>
                                                        HDMI 2.0
                                                    </p>
                                                    <p>
                                                        Порты Audio in и out ( для наушников и источника звука)
                                                        3,5 мм × 2
                                                    </p>
                                                    <p>
                                                        USB Type-C × 1, Type-A × 5
                                                    </p>
                                                    <p>
                                                        DisplayPort 1.4
                                                    </p>
                                                    <p>
                                                        Питание
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <img src="/images/block-2/specs-page/ports.webp" alt=""
                                        class="specs__card-illustration specs__card-illustration--wide">
                                </div>
                            </div>
                        </li>

                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    Аудиосистема
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Динамик
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    2шт по 3W
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    комплектация
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list specs__card-list--compact">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Моноблок
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Сетевой кабель
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Стойка с основанием
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Документация
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Адаптер питания
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="specs__tabs-item js-tabs-item">
                    <ul class="specs__list">
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    цвет
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list specs__card-list--flex">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <img src="/images/block-2/specs-page/color-grey.svg" alt=""
                                                    class="specs__card-feature-image">
                                                <div class="specs__card-feature-text">
                                                    Серебристый<br>
                                                    (Silver)
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <img src="/images/block-2/specs-page/color-darkgrey.svg" alt=""
                                                    class="specs__card-feature-image">
                                                <div class="specs__card-feature-text">
                                                    Темно-серый<br>
                                                    (Dark grey)
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    Внешний вид
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Материал корпуса
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    пластик
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Материал стойки
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    металл
                                                </div>
                                            </div>
                                        </li>


                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    экран
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Размер
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    23.8 дюймов
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Максимальная яркость
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    300 Кд/м²
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Тип
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    IPS
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Контрастность
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    1200:1
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Цветовой охват NTSC
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    72%
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Цветовой охват RGB
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    99%
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Соотношение сторон
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    16:9
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Частота обновления экрана max
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    100 Hz
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Покрытие экрана
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    Матовое
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Разрешение
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    1920x1080
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="specs__card-remark">
                                        *Значения яркости, цветового охвата, контрастности и угла обзора являются
                                        типичными значениями.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    размер
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Вес
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    5,5 кг
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <img src="/images/block-2/specs-page/size.webp" alt=""
                                        class="specs__card-illustration specs__card-illustration--medium">
                                    <div class="specs__card-remark">
                                        * Размер, вес и другие характеристики устройства являются теоретическими
                                        значениями. Фактические размеры и другие характеристики устройства могут
                                        отличаться. Все характеристики зависят от фактического устройства.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    порты
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">

                                                <div class="specs__card-feature-text">
                                                    <p>
                                                        HDMI 2.0
                                                    </p>
                                                    <p>
                                                        Порты Audio in и out ( для наушников и источника звука)
                                                        3,5 мм × 2
                                                    </p>
                                                    <p>
                                                        USB Type-C × 1, Type-A × 5
                                                    </p>
                                                    <p>
                                                        DisplayPort 1.4
                                                    </p>
                                                    <p>
                                                        Питание
                                                    </p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <img src="/images/block-2/specs-page/ports.webp" alt=""
                                        class="specs__card-illustration specs__card-illustration--wide">
                                </div>
                            </div>
                        </li>

                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    Аудиосистема
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <h4 class="specs__card-feature-title">
                                                    Динамик
                                                </h4>
                                                <div class="specs__card-feature-text">
                                                    2шт по 3W
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="specs__list-item">
                            <div class="specs__card">
                                <h3 class="specs__card-title">
                                    комплектация
                                </h3>
                                <div class="specs__card-content">
                                    <ul class="specs__card-list specs__card-list--compact">
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Моноблок
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Сетевой кабель
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Стойка с основанием
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Документация
                                                </div>
                                            </div>
                                        </li>
                                        <li class="specs__card-list-item">
                                            <div class="specs__card-feature">
                                                <div class="specs__card-feature-text">
                                                    Адаптер питания
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>