<section class="line-intro">
    <div class="line-intro__bg">
        <picture>
            <source srcset="/images/block-2/intro/intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/block-2/intro/intro.webp" alt="" class="line-intro__bg-image" />
        </picture>
    </div>
    <div class="line-intro__content">
        <div class="breadcrumbs line-intro__breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                моноблоки
            </a>
            <a class="active">
                линейки Focusline
            </a>
        </div>
        <div class="line-intro__row">
            <div class="line-intro__text-content">
                <h1 class="line-intro__heading">
                    <span class="line-intro__heading-name">
                        FocusLine
                    </span>
                    <span class="line-intro__heading-text">
                        Тонкий как монитор, производительный как компьютер
                    </span>
                </h1>
                <div class="line-intro__text">
                    Надежные моноблоки с качественной IPS-матрицей, эргономичным дизайном и продуманной цветопередачей —
                    полноценное производительное рабочее место
                </div>
                <div class="line-intro__btns">
                    <a href="#" class="line-intro__buy-btn">
                        купить
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="line-intro__download-btn">
                        документация
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#document"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="line-intro__image-wrapper">
                <img src="/images/block-2/intro/photo.webp" alt="" class="line-intro__image">
            </div>
        </div>
    </div>
    <div class="line-intro__toggle">
        <ul class="line-intro__toggle-list">
            <li class="line-intro__toggle-list-item">
                <a href="#" class="line-intro__toggle-link">
                    опиСАНИЕ
                </a>
            </li>
            <li class="line-intro__toggle-list-item">
                <a href="/specs.html#specs" class="line-intro__toggle-link active">
                    ХАРАКТЕРИСТИКИ
                </a>
            </li>
        </ul>
    </div>
</section>