<section class="subscribe">
    <div class="subscribe__content">
        <div class="subscribe__card">
            <img src="/images/subscribe.webp" alt="" class="subscribe__card-image">
            <div class="subscribe__text-content">
                <h2 class="subscribe__heading">
                    будьте в курсе<br>
                    событий!
                </h2>
                <div class="subscribe__text">
                    Подпишитесь на нашу рассылку, чтобы получать актуальную информацию о новостях, релизах, акциях и
                    спец-предложениях.
                </div>
                <form action="/" method="POST" class="subscribe__form">
                    <div class="subscribe__form-field">
                        <div class="subscribe__form-input-wrapper">
                            <input type="email" class="subscribe__form-input" name="your-email" required=""
                                placeholder="Email">
                        </div>
                    </div>
                    <button class="subscribe__form-submit" type="submit">
                        подписаться
                    </button>

                </form>
                <div class="subscribe__policy">
                    Нажимая на кнопку "Подписаться", я соглашаюсь с <a href="#">политикой конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</section>