<div class="success-modal js-modal" id="success-modal" data-lenis-prevent="">
  <div class="success-modal__inner">
    <button class="success-modal__close js-modal-close">
      <svg width="14" height="14" aria-hidden="true">
        <use xlink:href="#success-modal-close"></use>
      </svg>
    </button>
    <img src="/images/success.svg" alt="" class="success-modal__icon" />
    <h3 class="success-modal__title">Спасибо!</h3>
    <div class="success-modal__text">
      Ваша заявка успешно отправлена. В ближайшее время с вами свяжутся наши
      специалисты.
    </div>
  </div>
</div>