<section class="support-detail">
    <div class="support-detail__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a href="#">
                поддержка
            </a>
            <a class="active">
                Подключение к Wi-Fi и настройка сети за 5 минут
            </a>
        </div>
        <h1 class="support-detail__heading">
            Подключение к Wi-Fi и&nbsp;настройка
            сети за 5 минут
        </h1>
        <a href="#" class="support-detail__video">
            <img src="/images/support-detail.webp" alt="" class="support-detail__video-preview">
            <div class="support-detail__play">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#brand-play"></use>
                </svg>
            </div>
        </a>
        <div class="support-detail__text-content">
            <p>
                В этой инструкции мы расскажем, как быстро и просто подключить ваш ноутбук к Wi-Fi сети. Следуйте
                пошаговым рекомендациям, и через несколько минут вы сможете пользоваться интернетом.
            </p>
            <h3>
                Шаги для подключения
            </h3>
            <h4>
                Проблема 1: Ноутбук не находит Wi-Fi сеть
            </h4>
            <ul>
                <li>
                    Убедитесь, что Wi-Fi включен на ноутбуке.
                </li>
                <li>
                    Перезагрузите роутер и попробуйте подключиться снова.
                </li>
            </ul>
            <h4>
                Проблема 2: Неверный пароль
            </h4>
            <ul>
                <li>
                    Проверьте правильность ввода пароля (регистр символов, отсутствие пробелов).
                </li>
            </ul>
            <h4>
                Проблема 3: Нет подключения к интернету
            </h4>
            <ul>
                <li>
                    Подключитесь к другой сети для проверки.
                </li>
                <li>
                    Обновите драйверы сетевой карты (ссылка на инструкцию по установке драйверов).
                </li>
            </ul>
            <h3>
                Дополнительная помощь
            </h3>
            <p>
                Если вы не смогли решить проблему самостоятельно, обратитесь в нашу службу поддержки. Мы всегда готовы
                помочь!
            </p>
        </div>
    </div>
</section>