<section class="support-intro">
    <div class="support-intro__content">
        <div class="breadcrumbs">
            <a href="#">
                ГЛАВНАЯ
            </a>
            <a class="active">
                поддержка
            </a>
        </div>
        <div class="support-intro__top-row">
            <h1 class="support-intro__heading">
                центр<br>
                самообслуживания
            </h1>
            <div class="support-intro__text">
                Решайте вопросы самостоятельно с помощью
                наших пошаговых инструкций и видео-уроков.
                Центр самообслуживания поможет вам разобраться
                с настройками, устранением неполадок и обновлением оборудования.
            </div>
        </div>
        <div class="support-intro__cards">
            <a href="#" class="support-intro__card">
                <div class="support-intro__card-bg">
                    <img src="/images/support-intro/1.webp" alt="" class="support-intro__card-bg-image">
                </div>
                <div class="support-intro__card-content">
                    <div class="support-intro__card-title-text">
                        215 центров по всей россии
                    </div>
                    <h3 class="support-intro__card-title">
                        Сервисные центры
                    </h3>
                    <div class="support-intro__card-text">
                        Найдите ближайший центр для быстрой и качественной поддержки: от диагностики и профилактики до
                        замены деталей и технического обслуживания.
                    </div>
                    <div class="support-intro__card-link">
                        Перейти
                    </div>
                </div>
            </a>
            <a href="#" class="support-intro__card">
                <div class="support-intro__card-bg">
                    <img src="/images/support-intro/2.webp" alt="" class="support-intro__card-bg-image">
                </div>
                <div class="support-intro__card-content">
                    <div class="support-intro__card-title-text">
                        оптимизация в пару кликов
                    </div>
                    <h3 class="support-intro__card-title">
                        драйверы и по
                    </h3>
                    <div class="support-intro__card-text">
                        Мы предлагаем актуальные обновления и полезные инструменты, которые обеспечат стабильную и
                        эффективную работу техники. Найдите нужные драйверы и утилиты для оптимизации работы всего в
                        несколько кликов.
                    </div>
                    <div class="support-intro__card-link">
                        Перейти
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>