<section class="two-monitors">
    <div class="two-monitors__content">
        <div class="line-text-content">
            <img src="/images/new-blocks/icons/13.svg" alt="" class="line-text-content__icon">
            <h2 class="line-text-content__heading">
                Подключение<br>
                двух мониторов
            </h2>
            <div class="line-text-content__text">
                <p>
                    Порты HDMI и Display Port для использования двух
                    мониторов одновременно.
                </p>
            </div>
        </div>
        <picture>
            <source srcset="/images/new-blocks/two-monitors-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/two-monitors.webp" alt="" class="two-monitors__image">
        </picture>
    </div>
</section>