<section class="vesa">
    <div class="vesa__bg">
        <picture>
            <source srcset="/images/new-blocks/vesa-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/new-blocks/vesa.webp" alt="" />
        </picture>
    </div>
    <div class="vesa__content">
        <div class="vesa__wrapper">
            <div class="line-text-content">
                <img src="/images/new-blocks/icons/8.svg" alt="" class="line-text-content__icon">
                <h2 class="line-text-content__heading">
                    VESA<br> крепление
                </h2>
                <div class="line-text-content__text">
                    Для экономии места на рабочем столе разместите
                    устройство на мониторе при помощи VESA крепления.
                </div>
            </div>
            <ul class="vesa__list">
                <li class="vesa__list-item">
                    <div class="vesa__card">
                        <img src="/images/new-blocks/vesa-1.svg" alt="" class="vesa__card-icon">
                        <div class="vesa__card-title">
                            1×планка<br>
                            подвеса
                        </div>
                    </div>
                </li>
                <li class="vesa__list-item">
                    <div class="vesa__card">
                        <img src="/images/new-blocks/vesa-2.svg" alt="" class="vesa__card-icon">
                        <div class="vesa__card-title">
                            4×винт М4
                        </div>
                    </div>
                </li>
                <li class="vesa__list-item">
                    <div class="vesa__card">
                        <img src="/images/new-blocks/vesa-3.svg" alt="" class="vesa__card-icon">
                        <div class="vesa__card-title">
                            2×фигурный<br>
                            винт М4
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>