.about-features {
  @include blockWrapper;
  margin-bottom: 11rem;

  @include breakpoint(mobile) {
    margin-bottom: 8rem;
  }
}

.about-features__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.about-features__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 3.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
  }
}

.about-features__top-item {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #77787d;

  @include breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    &:nth-child(2) {
      text-align: right;
    }
  }
}

.about-features__list-item {
  border-bottom: 1px solid black;

  &:nth-child(1) {
    .about-features__card-decor {
      position: absolute;
      width: 95.7rem;
      z-index: -1;
      pointer-events: none;
      right: 0;
      bottom: 0;
      transition: opacity 0.4s;
      height: auto;
      opacity: 0;
      transform-origin: center bottom;

      @include breakpoint(mobile) {
        width: 34.7rem;
        transform: translateX(50%);
        max-width: none;
        bottom: 2rem;
      }
    }

    .about-features__card.active .about-features__card-decor {
      opacity: 1;

      @include breakpoint(mobile) {
        transition: opacity 0.4s ease 0.4s;
      }
    }
  }

  &:nth-child(2) {
    .about-features__card-decor:nth-of-type(1) {
      position: absolute;
      width: 40rem;
      z-index: -1;
      pointer-events: none;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -20rem;
      bottom: 4.5rem;
      transition: opacity 0.4s;
      height: auto;
      opacity: 0;
      transform-origin: center bottom;

      @include breakpoint(mobile) {
        width: 30rem;
        transform: translateX(50%);
        left: auto;
        right: 0;
        max-width: none;
        bottom: 7rem;
        margin: 0;
      }
    }
    .about-features__card-decor:nth-of-type(2) {
      position: absolute;
      width: 74.2rem;
      z-index: -1;
      pointer-events: none;
      right: 0;

      bottom: 0;
      transform: translate(50%, 50%);
      transition: opacity 0.4s;
      height: auto;
      opacity: 0;
      transform-origin: center;

      @include breakpoint(mobile) {
        width: 34.7rem;
        transform: translateX(50%);
        max-width: none;
        bottom: 2rem;
        display: none;
      }
    }

    .about-features__card.active .about-features__card-decor {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
      @include breakpoint(mobile) {
        transition: opacity 0.4s ease 0.4s;
      }
    }
  }

  &:nth-child(3) {
    .about-features__card-decor {
      position: absolute;
      width: 95.7rem;
      z-index: -1;
      pointer-events: none;
      left: 0;
      bottom: 0;
      transform: translateX(-50%) translateY(50%);
      transition: opacity 0.4s;
      height: auto;
      opacity: 0;
      transform-origin: center bottom;

      @include breakpoint(mobile) {
        width: 34.7rem;
        transform: translateX(50%);
        max-width: none;
        bottom: 2rem;
        left: auto;
        right: 0;
      }
    }

    .about-features__card.active .about-features__card-decor {
      opacity: 1;

      @include breakpoint(mobile) {
        transition: opacity 0.4s ease 0.4s;
      }
    }
  }
  &:nth-child(4) {
    .about-features__card-decor {
      position: absolute;
      width: 74rem;
      z-index: -1;
      pointer-events: none;
      left: 28rem;
      bottom: 0;
      transform: translateY(10%);
      transition: opacity 0.4s;
      height: auto;
      opacity: 0;
      transform-origin: center bottom;

      @include breakpoint(mobile) {
        width: 34.7rem;
        transform: translateX(50%);
        max-width: none;
        bottom: 2rem;
        left: auto;
        right: 0;
      }
    }

    .about-features__card.active .about-features__card-decor {
      opacity: 1;

      @include breakpoint(mobile) {
        transition: opacity 0.4s ease 0.4s;
      }
    }
  }

  &:first-child {
    border-top: 1px solid black;
  }
}

.about-features__card {
  display: grid;
  padding: 3rem 0;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  position: relative;
  overflow-y: clip;

  @supports not (overflow-y: clip) {
    overflow: hidden;
  }
  @include breakpoint(mobile) {
    padding: 2rem 0;
    grid-template-columns: auto 1fr auto;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
  }

  &.active {
    padding: 4rem 0;
    grid-row-gap: 3rem;
    @include breakpoint(mobile) {
      padding: 2rem 0;
      grid-row-gap: 2rem;
    }
  }
}

.about-features__card-number {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  border: 1px solid black;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  background-color: #fff;

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  .about-features__card.active & {
    @include breakpointMF(small-tablet) {
      align-self: flex-end;
      justify-self: flex-start;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    @include breakpoint(mobile) {
      align-self: flex-start;

      order: 50;
      grid-row: unset;
      margin-top: -4rem;
    }
  }
}

.about-features__card-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    white-space: nowrap;
  }

  .about-features__card.active & {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    text-transform: uppercase;

    @include breakpointMF(small-tablet) {
      grid-row: 1 / 2;
      grid-column: 1 / 5;
    }

    @include breakpoint(mobile) {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;

      text-transform: uppercase;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: flex-start;
      justify-self: flex-start;
    }
  }
}

.about-features__card-text {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 7 / 12;
  align-self: flex-start;
  justify-self: flex-start;

  @include breakpoint(mobile) {
    display: none;
  }

  .about-features__card.active & {
    display: none;
  }
}

.about-features__card-text-second {
  display: none;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;

  @include breakpointMF(small-tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
  }
  .about-features__card.active & {
    display: block;
  }
}

.about-features__card-image-wrapper {
  aspect-ratio: 1 / 1;
  position: relative;
  align-self: flex-start;
  width: 13rem;
  justify-self: center;

  @include breakpointMF(small-tablet) {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
  }

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 24rem;
    display: none;
  }

  .about-features__card.active & {
    @include breakpointMF(small-tablet) {
      grid-column: 5 / 9;
      grid-row: 2 / 3;
      width: 100%;
    }

    @include breakpoint(mobile) {
      display: block;
    }
  }
}

.about-features__card-extra-image {
  position: absolute;
  top: 2.4rem;
  width: 20rem;
  height: auto;
  right: -10rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s, transform 0.2s;
  // transform: scale(0);
  @include breakpoint(mobile) {
    width: 10rem;
    top: -2rem;
    right: -2.8rem;
  }
  .active & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s ease 0.2s, visibility 0.4s ease 0.2s,
      transform 0.2s;
    transform: scale(1);
  }
}

.about-features__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-features__card-btn {
  display: grid;
  place-items: center;
  text-align: center;
  width: 8rem;
  height: 4.8rem;
  border-radius: 4rem;
  border: 1px solid black;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 200;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    align-self: flex-start;
    justify-self: flex-end;
  }

  @include breakpoint(mobile) {
    width: 5rem;
    height: 3rem;
    border-radius: 2.5rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: 120%;
    text-transform: uppercase;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: flex-end;
    align-self: center;
  }

  .about-features__card.active & {
    @include breakpointMF(small-tablet) {
      grid-row: 1 / 2;
      grid-column: 12 / 13;
    }

    @include breakpoint(mobile) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      align-self: flex-start;
      justify-self: flex-end;
    }
  }
}

.about-features__card-clickable-area {
  width: 8rem;
  height: 4.8rem;
  z-index: 16;
  opacity: 0;
  cursor: pointer;
  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 12 / 13;
    align-self: flex-start;
    justify-self: flex-end;
    background-color: red;
    grid-column: 1 / -1;

    width: auto;
    height: auto;
    align-self: stretch;
    justify-self: stretch;
    // opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    grid-column: unset;
    grid-row: unset;
  }
  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: flex-end;
    align-self: stretch;
    width: 100%;
    height: auto;
    margin: -2rem 0;
  }
}

.about-features__card-btn-plus {
  transition: transform 0.2s;

  .about-features__card.active & {
    transform: rotate(45deg);
  }
}

.about-features__card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  align-self: flex-start;

  @include breakpoint(mobile) {
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 1.5rem;
    display: contents;
  }

  .about-features__card.active & {
    display: contents;
  }
}

.about-features__card-small-text {
  display: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.1rem;
  font-family: var(--inter);

  @include breakpointMF(small-tablet) {
    grid-column: 10 / -1;
    grid-row: 2 / 3;
    padding-top: 7rem;

    &--align-end {
      align-self: flex-end;
      padding: 0;
    }
  }

  @include breakpoint(mobile) {
    grid-column: 1 / -1;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .about-features__card.active & {
    display: block;
  }
}
