.actual-materials {
  @include blockWrapper;
  margin-bottom: 10rem;

  @include breakpoint(mobile) {
    margin-bottom: 6rem;
  }
}

.actual-materials__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.actual-materials__top-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;
  gap: 2rem;

  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 6rem;
    align-items: stretch;
  }
}

.actual-materials__tabs-nav {
  grid-column: 1 / 4;
  justify-self: flex-start;

  @include breakpoint(mobile) {
    justify-self: stretch;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    @include noScrollbar;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    scroll-padding-left: calc(var(--content-padding) + 1rem + 1px);
  }
}

.actual-materials__tabs-nav-list {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  @include breakpoint(mobile) {
    padding: 1rem;
    margin: 0;
    width: max-content;
  }
}

.actual-materials__tabs-nav-list-item {
  flex-shrink: 0;
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(black, 0.1);
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    &::after {
      display: none;
    }
  }
}

.actual-materials__tabs-nav-link {
  display: block;
  text-align: center;
  padding: 1.4rem 1.5rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  text-transform: uppercase;
  color: #77787d;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4rem;
  user-select: none;
  white-space: nowrap;

  &:link,
  &:visited {
    color: #77787d;
  }

  &.active {
    background-color: black;
    color: white;
  }

  &:not(.active) {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text-color);
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 1.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;

    text-transform: uppercase;
    scroll-snap-align: start;
  }
}

.actual-materials__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
}

.actual-materials__tabs {
  position: relative;
}

.actual-materials__tabs-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  display: flex;
  flex-direction: column;
  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
    position: relative;
    z-index: 10;
  }
}

.actual-materials__arrows {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.actual-materials__arrow {
  flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  transition: background-color 0.2s, opacity 0.2s;

  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.2s;
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--text-color);
        svg {
          fill: white;
        }
      }
    }
  }
}

.actual-materials__slider {
  display: flex;
  flex-direction: column;

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: calc(25% - 2rem * 3 / 4);
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(mobile) {
      width: 30rem;
      margin-right: 0.8rem;
    }
  }
}
