.adapter {
  @include blockWrapper;
  padding: 4rem 0;
}

.adapter__content {
  @include blockContent;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}

.adapter__text-content {
  margin-top: 10rem;
  @include breakpoint(mobile) {
    margin: 0;
  }

  .line-text-content__text {
    max-width: 46.5rem;
    @include breakpoint(mobile) {
      max-width: none;
    }
  }
}

.line-text-content__power {
  margin-top: 3rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  span {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0;
    @include breakpoint(mobile) {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
      letter-spacing: 0;
    }
  }
}

.line-text-content__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    order: 30;
    margin-top: 2rem;
  }
}
.line-text-content__button {
  display: flex;
  align-items: center;
  padding: 1.9rem 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  color: var(--text-color);
  justify-self: flex-start;
  justify-content: center;
  text-align: center;
  @include breakpoint(mobile) {
    padding: 2rem 4rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    grid-area: req;
    align-self: flex-end;
    justify-self: stretch;
  }
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      border-color: var(--text-color);
      color: white;

      svg {
        fill: white;
      }
    }
  }
}

.adapter__image-wrapper {
  @include breakpoint(mobile) {
    margin: 0 calc(-1 * var(--content-padding));
  }
}

.adapter__image {
  width: 100%;
}
