.all-materials {
  @include blockWrapper;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    .search-form {
      display: none;
    }
  }
}

.all-materials__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.all-materials__top-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 4.4rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: stretch;
  }
}

.all-materials__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  grid-column: 1 / 4;
  justify-self: flex-start;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }

  span {
    color: #ccc;
  }
}

.all-materials__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-auto-rows: 1fr;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
  }
}

.all-materials__list-item {
  display: flex;
  flex-direction: column;
}

.all-materials__show-more {
  align-self: center;
  margin-top: 6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  text-transform: uppercase;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  color: var(--text-color);
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @include breakpoint(mobile) {
    margin-top: 4rem;
    align-self: stretch;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    justify-content: center;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      border-color: var(--text-color);
      color: white;
    }
  }
}
