.brand-connection {
  @include blockWrapper;
  margin-bottom: 14rem;
  @include breakpoint(mobile) {
    margin-bottom: 8rem;
  }
}

.brand-connection__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.brand-connection__top-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-bottom: 6.4rem;

  @include breakpoint(mobile) {
    display: block;
    margin-bottom: 2.4rem;
  }

  & > * {
    grid-column: 2 / 3;
  }
}

.brand-connection__video {
  display: block;
  position: relative;
  aspect-ratio: 1840 / 778;
  overflow: hidden;
  border-radius: 1rem;

  @include breakpoint(mobile) {
    aspect-ratio: 16 / 9;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    fill: white;
    @include breakpoint(mobile) {
      width: 4rem;
      height: 4rem;
    }
  }
}

.brand-connection__video-bg {
  position: absolute;
  inset: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.40);
  }
}

.brand-connection__video-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}