.brand {
  @include blockWrapper;
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
}

.brand__content {
  @include blockContent;
  display: flex;

  min-height: 100vh;
  padding: 4rem 0;

  @include breakpoint(mobile) {
    min-height: max(100svh, 77rem);
    padding: 3rem 0;
    gap: 2.4rem;
    flex-direction: column;
  }
}

.brand__bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    backdrop-filter: blur(10px);
  }
}

.brand__bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand__text-content {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include breakpoint(mobile) {
    width: auto;
    flex-grow: 1;
    gap: 2.4rem;
    display: contents;
  }
}

.brand__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    position: relative;
    z-index: 2;
  }
}

.brand__large-text {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 120%;
  text-transform: uppercase;
  max-width: 91rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 120%;
    position: relative;
    z-index: 2;
  }
}

.brand__small-text {
  margin-top: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.1rem;
  font-family: var(--inter);
  max-width: 44.5rem;

  @include breakpoint(mobile) {
    max-width: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    position: relative;
    z-index: 2;
    letter-spacing: 0;
  }
}

.brand__video-link {
  flex-shrink: 0;
  margin: auto;
  margin-right: 10rem;
  width: 70.9rem;
  height: 70.9rem;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 1;

  @include breakpoint(mobile) {
    width: 43rem;
    height: 43rem;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
  }

  svg {
    fill: white;
    width: 11.7rem;
    height: 9.1rem;

    @include breakpoint(mobile) {
      width: 5.3rem;
      height: 6.9rem;
    }
  }
}

.brand__video-link-image-wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  -webkit-mask-image: url("../images/brand-mask.svg");
  mask-image: url("../images/brand-mask.svg");
  mask-size: auto 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(black, 0.4);
  }
}

.brand__video-link-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
}
