.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 8rem;
  min-width: 0;

  @include breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 4rem;
    gap: 1rem;
    letter-spacing: 0.2rem;
  }
  a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: rgba(black, 0.5);
    white-space: nowrap;
    @include breakpoint(mobile) {
      gap: 1rem;
    }

    &::after {
      content: "";
      flex-shrink: 0;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: rgba(black, 0.3);

      @include breakpoint(mobile) {
        width: 0.4rem;
        height: 0.4rem;
      }
    }
    &:link,
    &:visited {
      color: rgba(black, 0.5);
    }
    &.active {
      color: black;
      cursor: default;
      pointer-events: none;
      &::after {
        display: none;
      }
    }

    &:not(.active) {
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: black;
        }
      }
    }
  }
}
