.charger {
  @include blockWrapper;
  position: relative;
  z-index: 1;
  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.charger__bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.charger__content {
  @include blockContent;
  min-height: 96rem;
  padding-top: 14rem;
  padding-bottom: 14rem;

  .line-text-content__text {
    max-width: 43rem;
  }

  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 60rem;
  }
}
