.contact-form {
  background-color: rgba(119, 120, 125, 1);
  color: white;
  padding-bottom: 8.4rem;
  @include blockWrapper;

  @include breakpoint(mobile) {
    padding-bottom: 3rem;
  }
}

.contact-form__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.contact-form__top {
  position: relative;
  padding: 3.6rem 0;
  border-bottom: 1px solid rgba(#cccccc, 0.3);
  margin-bottom: 12rem;

  @include breakpoint(mobile) {
    padding: 2.6rem 0;
    margin-bottom: 10rem;
  }
  &::after {
    content: "";
    top: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(#cccccc, 0.3);
    height: 8rem;
    position: absolute;

    @include breakpoint(mobile) {
      height: 6rem;
    }
  }
}

.contact-form__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 100%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
  }
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__form-heading {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 2.4rem;
  }
}

.contact-form__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: var(--inter);
  align-self: center;
  max-width: 91rem;
  margin-bottom: 8rem;
  text-align: center;

  @include breakpoint(mobile) {
    max-width: none;
    margin-bottom: 5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.05rem;
    line-height: 160%;
  }
}

.contact-form__form-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-self: center;
  max-width: 137.5rem;
  margin-bottom: 16.5rem;
  width: 100%;
  gap: 2rem;
  row-gap: 3rem;

  @include breakpoint(mobile) {
    width: auto;
    max-width: none;
    grid-template-columns: minmax(0, 1fr);

    margin-bottom: 5.5rem;
    align-self: stretch;
    grid-gap: 0.8rem;
  }
}

.contact-form__form-field {
  position: relative;
}

.contact-form__form-text-input {
  display: block;
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  height: 7.4rem;
  padding: 0 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  transition: border-color 0.2s;

  @include breakpoint(mobile) {
    height: 6rem;
    padding: 0 2rem;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
  }

  &::placeholder {
    color: white;
  }

  &:focus {
    border-color: white;
  }

  &.not-valid {
    border-color: var(--error-color);
  }
}

.contact-form__form-select {
  position: relative;
}

.contact-form__form-select-btn {
  display: block;
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  height: 7.4rem;
  padding: 0 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  text-align: left;
  transition: color 0.2s;

  @include breakpoint(mobile) {
    height: 6rem;
    padding: 0 2rem;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
  }

  svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 0.7rem;
    fill: white;
    transition: fill 0.2s, transform 0.2s;
  }

  .contact-form__form-select.active & {
    border-color: white;
    svg {
      transform: rotate(180deg);
    }
  }

  .choice-selected & {
    color: white;
  }
}

.contact-form__form-select-btn-text {
  width: 30%;
  flex-grow: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-form__form-select-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 0.5rem;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  transition: opacity 0.4s, visibility 0s linear 0.4s;

  .contact-form__form-select.active & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.contact-form__form-select-dropdown-inner {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  color: var(--text-color);
  border-radius: 0.8rem;
  overflow: hidden;
}

.contact-form__form-select-choice {
  cursor: pointer;
  user-select: none;
  display: block;
}

.contact-form__form-select-choice-input {
  display: none;
}

.contact-form__form-select-choice-text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 2rem 2rem;
  color: #77787d;
  display: block;

  @include breakpoint(mobile) {
    padding: 2rem 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
  }
}

.contact-form__form-select-choice-input:checked
  ~ .contact-form__form-select-choice-text {
  background-color: #f2f2f2;
}

.contact-form__form-policy {
  align-self: center;
  margin-bottom: 4rem;

  .validation-error {
    display: none;
  }

  @include breakpoint(mobile) {
    margin-bottom: 1.6rem;
  }
}

.contact-form__form-policy-checkbox {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    align-items: flex-start;
  }
  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.2rem;
    transition: text-decoration-color 0.2s;

    @media (hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.contact-form__form-checkbox-input {
  display: none;
}

.contact-form__form-checkbox-mark {
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  transition: border-color 0.2s;

  .contact-form__form-policy:has(.validation-error) & {
    border-color: var(--error-color);
  }

  @include breakpoint(mobile) {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
  }

  &::before {
    content: "";
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    background-color: #fff;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0);

    @include breakpoint(mobile) {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 0.2rem;
    }
  }
}

.contact-form__form-checkbox-input:checked ~ .contact-form__form-checkbox-mark {
  &::before {
    opacity: 1;
    transform: scale(1);
  }
}

.contact-form__form-submit {
  align-self: center;
  padding: 3.3rem 17rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: black;
  background: #feff6a;
  border-radius: 1rem;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: black;
      color: white;
    }
  }
  @include breakpoint(mobile) {
    align-self: stretch;
    padding: 2.5rem 5rem;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
  }
}
