.contacts {
  @include blockWrapper;
  margin-bottom: 14rem;

  @include breakpoint(mobile) {
    margin-bottom: 6rem;
  }
}

.contacts__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.contacts__outside-heading {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
}

.contacts__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  margin-bottom: 10rem;

  @include breakpoint(mobile) {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__image-wrapper {
  position: relative;
  aspect-ratio: 910 / 725;
  border-radius: 1rem;
  overflow: hidden;
  overflow: clip;
  background-color: #f2f2f2;

  @include breakpoint(mobile) {
    aspect-ratio: 343 / 280;
  }
}

.contacts__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__wrapper {
  border-radius: 1rem;
  background-color: #f2f2f2;
  padding: 4rem;
  padding-top: 5rem;
  background-image: url("../images/contacts-decor.svg");
  background-repeat: no-repeat;
  background-position: right 3rem top;
  background-size: 37.5rem auto;
  gap: 4rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    padding: 2rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-areas: "list social" "req req";
    background-image: url("../images/contacts-decor-mobile.svg");
    background-position: right top;
    background-size: 12.8rem auto;
  }
}

.contacts__heading {
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  @include breakpoint(mobile) {
    display: none;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include breakpoint(mobile) {
    grid-area: list;
    gap: 1.4rem;
  }
}

.contacts__card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.2rem;
  }
}

.contacts__card-key {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.1rem;
  font-family: var(--inter);

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.1rem;
  }
}

.contacts__card-value {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  &:link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s, color 0.2s;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }
}

.contacts__bottom {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.contacts__download {
  display: flex;
  align-items: center;
  padding: 1.9rem 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  color: var(--text-color);
  justify-self: flex-start;
  justify-content: center;
  text-align: center;
  @include breakpoint(mobile) {
    padding: 2rem 4rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    grid-area: req;
    align-self: flex-end;
    justify-self: stretch;
  }
  &:link,
  &:visited {
    color: var(--text-color);
  }

  svg {
    flex-shrink: 0;
    transition: fill 0.2s;
    width: 1.8rem;
    height: 1.8rem;
    fill: #797979;

    @include breakpoint(mobile) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      border-color: var(--text-color);
      color: white;

      svg {
        fill: white;
      }
    }
  }
}

.contacts__social-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  @include breakpoint(mobile) {
    grid-area: social;
    align-self: flex-end;
    justify-self: flex-end;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.contacts__social-list-item {
  flex-shrink: 0;
}

.contacts__social-link {
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: background-color 0.2s;
  background-color: rgba(black, 0.1);

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgba(black, 0.4);
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: black;
      svg {
        fill: white;
      }
    }
  }
}

.contacts__partners-heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 14rem;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }
}

.contacts__partners-list {
  column-count: 4;
  column-gap: 2rem;

  @include breakpoint(mobile) {
    column-gap: 0.8rem;
    column-count: 2;
  }
}

.contacts__partners-list-item {
  margin-bottom: 3rem;

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
  }
}

.contacts__partners-link {
  display: block;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  color: #77787d;

  @include breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
  }
  &:link,
  &:visited {
    color: #77787d;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--text-color);
    }
  }
}
