.line-gallery {
  @include blockWrapper;
  overflow-x: clip;
  margin-bottom: 14rem;
  padding-top: 14rem;

  &--cyberline {
    padding-top: 3rem;
  }

  @include breakpoint(mobile) {
    margin-bottom: 8rem;
    padding-top: 4rem;

    &--cyberline {
      padding-top: 0;
    }
  }
}

.line-gallery__content {
  @include blockContent;
}

.line-gallery__slider {
  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
}

.line-gallery__main-slider {
  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    width: 50%;
    margin: 0 7rem;

    @include breakpoint(mobile) {
      margin: 0 2rem;
    }
  }
}

.line-gallery__main-slider-card {
  position: relative;
  aspect-ratio: 800 / 500;
  transition: opacity 0.4s, transform 0.4s;

  .swiper-slide:not(.swiper-slide-active) & {
    opacity: 0.3;
  }

  .swiper-slide-active & {
    transform: scale(1.5);
  }
}

.line-gallery__main-slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line-gallery__thumbs-slider {
  margin-top: 15rem;

  @include breakpointMF(small-tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @include breakpoint(mobile) {
    margin-top: 6rem;

    .line-gallery--cyberline & {
      margin-top: 8rem;
    }
  }
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    margin: 0 0.5rem;
    width: 8rem;

    @include breakpoint(mobile) {
      margin: 0 0.4rem;
      width: 6rem;
    }
  }
}

.line-gallery__thumbs-slider-card {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: border-color 0.2s;
  cursor: pointer;

  @include breakpoint(mobile) {
    width: 6rem;
    height: 6rem;
  }

  .swiper-slide-thumb-active & {
    border-color: #77787d;
    cursor: default;
  }
}

.line-gallery__thumbs-slider-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.line-gallery__arrows {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;

  @include breakpointMF(small-tablet) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    justify-self: center;
    max-width: 74%;
    align-self: center;
    z-index: 60;
    justify-content: space-between;
    pointer-events: none;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.line-gallery__arrow {
  flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  background: #e5e5e5;
  transition: background-color 0.2s, opacity 0.2s;
  border-radius: 50%;

  pointer-events: auto;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: black;
    transition: fill 0.2s;
  }

  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: black;
        svg {
          fill: white;
        }
      }
    }
  }

  .dark-bg & {
    background-color: rgba(white, 0.1);
    svg {
      fill: white;
    }

    &:not(.swiper-button-disabled) {
      @media (hover: hover) {
        &:hover {
          background-color: white;
          svg {
            fill: black;
          }
        }
      }
    }
  }
}

.line-gallery__tabs-nav {
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 40;

  @include breakpoint(mobile) {
    margin-bottom: 8rem;
    gap: 1rem;
  }
}

.line-gallery__tabs-nav-btn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: grid;
  place-items: center;
  transition: border-color 0.2s;
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 4.4rem;
    height: 4.4rem;
  }
  &--brown {
    .line-gallery__tabs-nav-btn-text {
      background: linear-gradient(90deg, #48372c 0%, #281204 100%);
    }
  }

  &--graphite {
    .line-gallery__tabs-nav-btn-text {
      background: linear-gradient(96deg, #3a3848 5.02%, #161618 101.08%);
    }
  }

  &.active {
    border-color: #c7c7c7;
  }
}

.line-gallery__tabs-nav-btn-text {
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 50%;
  background: var(
    --btn-bg,
    linear-gradient(103deg, #c3c2cd 9.13%, #1e1e1e 116.27%)
  );

  @include breakpoint(mobile) {
    width: 3rem;
    height: 3rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 0.8rem */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

.line-gallery__tabs-items {
  position: relative;
}

.line-gallery__tabs-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 5;

  &.active {
    position: relative;
    z-index: 10;
    opacity: 1;
    visibility: inherit;
    opacity: 1;
    transition: opacity 0.4s, visibility 0.4s;
  }
}
