.line-text-content {
  display: flex;
  flex-direction: column;
}

.line-text-content__icon {
  width: 6rem;
  max-height: 6rem;
  height: auto;
  object-fit: contain;
  margin-bottom: 3rem;

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }
}

.line-text-content__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-wrap: balance;

  em {
    color: #01befb;
    line-height: 1;
    font-style: normal;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
}

.line-text-content__text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: var(--inter);
  max-width: 47rem;

  &--wide {
    max-width: 68rem;
  }

  .dark-bg & {
    color: #77787d;
  }

  b {
    font-weight: 700;
  }

  p {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(mobile) {
    max-width: none;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

.line-text-content__apps-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  margin-top: 4rem;

  &--large-gap {
    gap: 7rem;
    row-gap: 1.6rem;
  }

  @include breakpoint(mobile) {
    margin-top: 2rem;
    gap: 1rem;

    &--large-gap {
      gap: 5rem;
      row-gap: 1.6rem;
    }
    &--small-mobile-gap {
      gap: 0.4rem;
    }
  }
}

.line-text-content__apps-list-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.line-text-content__apps-card {
  width: 6.2rem;
  height: 6.2rem;
  position: relative;

  &--rounded {
    border-radius: 0.6rem;
    overflow: hidden;
  }

  @include breakpoint(mobile) {
    width: 4rem;
    height: 4rem;
  }
}

.line-text-content__apps-card-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line-text-content__apps-title {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 132%;
  font-family: var(--inter);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
  }
}

.line-text-content__weight {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 1rem;

  @include breakpoint(mobile) {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  b {
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;

    @include breakpoint(mobile) {
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
  }
}
:nth-child(1 of .line-text-content__weight) {
  margin-top: 2rem;
  @include breakpoint(mobile) {
    margin-top: 1rem;
  }
}

.line-text-content__features-list {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 8rem;

  @include breakpoint(mobile) {
    margin-top: 3rem;
    grid-gap: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.line-text-content__features-list-item {
  width: max-content;
  max-width: 21rem;

  @include breakpoint(mobile) {
    width: auto;
    max-width: none;
  }
}

.line-text-content__features-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpoint(mobile) {
    gap: 0.5rem;
  }
}

.line-text-content__features-card-amount {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
}

.line-text-content__features-card-text {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: var(--inter);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .dark-bg & {
    color: rgba(white, 0.5);
  }
}

.line-text-content__link {
  margin-top: 3rem;
  align-self: flex-start;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  margin-top: 3rem;
  text-transform: uppercase;
  transition: text-decoration-color 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-color: transparent;
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-top: 2rem;
  }
}

.line-text-content__os {
  align-self: flex-start;
  margin-top: 4rem;
  border: 1px solid #77787d;
  width: 12rem;
  height: 12rem;
  position: relative;
  border-radius: 1rem;

  @include breakpoint(mobile) {
    margin-top: 3rem;
    width: 8rem;
    height: 8rem;
  }
}

.line-text-content__os-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line-text-content__remark {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: var(--inter);
  color: rgba(black, 0.3);
  margin-top: 2rem;
}

.line-text-content__small-heading {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.6rem;
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.8rem;
  }
}
