.mediacenter {
  @include blockWrapper;
  margin-bottom: 8rem;
}

.mediacenter__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.mediacenter__heading {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10rem;

  @include breakpoint(mobile) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }
}

.mediacenter__nav {
  align-self: flex-start;
  margin-bottom: 6rem;
  @include breakpoint(mobile) {
    justify-self: stretch;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    @include noScrollbar;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    scroll-padding-left: calc(var(--content-padding) + 1rem + 1px);
    margin-bottom: 4rem;
    align-self: stretch;
  }
}

.mediacenter__nav-list {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  @include breakpoint(mobile) {
    padding: 1rem;
    margin: 0;
    width: max-content;
  }
}

.mediacenter__nav-list-item {
  flex-shrink: 0;
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(black, 0.1);
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    &::after {
      display: none;
    }
  }
}

.mediacenter__nav-link {
  display: block;
  text-align: center;
  padding: 1.4rem 1.5rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #77787d;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 4rem;
  user-select: none;
  white-space: nowrap;

  &:link,
  &:visited {
    color: #77787d;
  }

  &.active {
    background-color: black;
    color: white;
  }

  &:not(.active) {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text-color);
      }
    }
  }

  @include breakpoint(mobile) {
    padding: 1.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
    scroll-snap-align: start;
  }
}

.mediacenter__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 4rem;

  @include breakpointMF(small-tablet) {
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
  }

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
  }
}

.mediacenter__list-item {
  display: flex;
  flex-direction: column;

  &--large {
    @include breakpointMF(small-tablet) {
      grid-column: span 2;
    }
  }
}

.mediacenter__show-more {
  align-self: center;
  margin-top: 6rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  color: var(--text-color);
  &:link,
  &:visited {
    color: var(--text-color);
  }

  @include breakpoint(mobile) {
    margin-top: 4rem;
    align-self: stretch;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    justify-content: center;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--text-color);
      border-color: var(--text-color);
      color: white;
    }
  }
}
