.memory-upgrade {
  @include blockWrapper;
  position: relative;
  z-index: 1;
}

.memory-upgrade__bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.memory-upgrade__content {
  @include blockContent;
  min-height: 96rem;
  padding-top: 14rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  .line-text-content {
    grid-column: 2 / 3;
  }

  .line-text-content__text {
    max-width: 53rem;
  }

  .specs__card-remark {
    margin-top: auto;
  }

  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 75rem;
    display: block;
  }
}
