.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(black, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  z-index: 9;
  body:not(.loaded) & {
    display: none;
  }

  @include breakpointMF(small-tablet) {
    body:has(.osio-header__search-wrapper:hover) &,
    body:has(
        .osio-header__categories-list-item:hover
          .osio-header__categories-dropdown
      )
      & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }

  @include breakpoint(mobile) {
    z-index: 10;
    body.mobile-search-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}
