.reviews {
  @include blockWrapper;
  background-color: #77787d;
  color: white;
  position: relative;
  overflow: hidden;
  overflow: clip;
}

.reviews__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint(mobile) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.reviews__top-row {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.reviews__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  line-height: 120%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 6rem;
  }
}

.reviews__slider {
  @include breakpointMF(small-tablet) {
    width: 137.4rem;
    margin: 0 auto;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @include breakpoint(mobile) {
    min-height: auto;
    width: auto;
    margin-bottom: 7rem;
  }

  .swiper {
    overflow: visible;
    margin: 0;
    margin: auto 0;

    @include breakpoint(mobile) {
      margin: 0;
    }
  }

  .swiper-wrapper {
    align-items: center;

    @include breakpointMF(small-tablet) {
      &::after {
        content: "";
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 150vh;
        z-index: 1;
        background-color: rgba(black, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
        min-width: 1000%;
      }

      &:has(.reviews__slider-card.active) {
        &::after {
          opacity: 1;
          visibility: inherit;
          transition: opacity 0.4s, visibility 0.4s;
        }
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;

    @include breakpointMF(small-tablet) {
      position: static;
      z-index: auto;
      transition: opacity 0.2s;
      &:has(.reviews__slider-card.active) {
        position: relative;
        z-index: 100;
      }
    }

    @include breakpoint(mobile) {
      width: 30.6rem;
      margin-right: 0.8rem;
      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpointMF(small-tablet) {
      &:not(.swiper-slide-active):not(.swiper-slide-next) {
        opacity: 0.2;

        .reviews__slider-card-plus {
          pointer-events: none;
        }
      }
    }
  }
}

.reviews__bottom-row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  @include breakpoint(mobile) {
    display: contents;
  }
}

.reviews__text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.05rem;
  font-family: var(--inter);
  align-self: flex-end;
  max-width: 44rem;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: none;
  }
}

.reviews__link {
  padding: 2rem;
  text-align: center;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  justify-self: flex-start;

  &:link,
  &:visited {
    color: white;
  }

  @include breakpointMF(small-tablet) {
    &.active {
      z-index: 50;
    }
  }

  @include breakpoint(mobile) {
    align-self: stretch;
    padding: 2.5rem 5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  @media (hover: hover) {
    &:hover {
      background-color: white;
      border-color: white;
      color: black;
    }
  }
}

.reviews__video-card {
  position: relative;
  z-index: 1;

  border-radius: 1rem;
  overflow: hidden;
  overflow: clip;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  color: white;

  &:link,
  &:visited {
    color: white;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 77%;
    grid-area: stack;

    @include breakpoint(mobile) {
      padding-bottom: 137%;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .reviews__video-card-bg-image {
        transform: scale(1.04);
      }
    }
  }
}

.reviews__video-card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  overflow: clip;
  backface-visibility: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(black, 0.4);
  }
}

.reviews__video-card-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.reviews__video-card-content {
  grid-area: stack;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 2rem;
  grid-template-areas: "tags nothing" "title title" "author play";
  padding: 4rem;

  @include breakpoint(mobile) {
    padding: 1.6rem;
  }
}

.reviews__video-card-tags {
  grid-area: tags;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-self: flex-start;
  justify-self: flex-start;
}

.reviews__video-card-tag {
  display: block;
  text-align: center;
  padding: 1.1rem 1.3rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  flex-shrink: 0;
  text-transform: uppercase;
  border-radius: 4rem;
  background: rgba(255, 255, 255, 0.3);
  @include breakpoint(mobile) {
    padding: 0.6rem;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: var(--inter);
  }
}

.reviews__video-card-title {
  grid-area: title;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.05rem;
  font-family: var(--inter);
  text-wrap: balance;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }
}

.reviews__video-card-author {
  grid-area: author;
  align-self: flex-end;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.reviews__video-card-name {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.reviews__video-card-role {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.05rem;
  font-family: var(--inter);
  color: rgba(255, 255, 255, 0.5);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }
}

.reviews__video-card-play {
  grid-area: play;
  align-self: flex-end;
  justify-self: flex-end;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s;
  @include breakpoint(mobile) {
    width: 6rem;
    height: 6rem;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }
}

.reviews__slider-card {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(7rem, auto) 1fr minmax(7rem, auto);
  grid-template-areas: "top" "content" "bottom";
  background-color: #fff;
  position: relative;
  isolation: isolate;
  border-radius: 1rem;
  padding: 4rem;
  min-height: 52.2rem;
  gap: 2rem;
  color: black;
  overflow: hidden;
  overflow: clip;

  @include breakpoint(mobile) {
    min-height: 50rem;
    padding: 1.6rem;
  }

  &--grayscale {
    color: white;
    background-color: black;
  }
}

.reviews__slider-card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(black, 0.7);
  }
}

.reviews__slider-card-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.reviews__slider-card-top-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  grid-area: top;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 4.1rem;
    height: 3.3rem;
    background-image: url("../images/quotes.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint(mobile) {
      width: 3.1rem;
      height: 2.2rem;
    }
  }

  .reviews__slider-card--grayscale & {
    &::before {
      background-image: url("../images/quotes-white.svg");
    }
  }
}

.reviews__slider-card-logo {
  flex-shrink: 0;
  height: 4rem;
  width: auto;
  object-fit: contain;
  object-position: right center;
}

.reviews__slider-card-content {
  grid-area: content;
  display: grid;
  grid-template-areas: "stack";
  grid-template-columns: minmax(0, 1fr);
  max-width: 51.7rem;
  width: 100%;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.05rem;
  font-family: var(--inter);
  justify-self: center;
  transition: grid-template-rows 500ms;

  @include breakpoint(mobile) {
    max-width: 85%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }

  p {
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.reviews__slider-card-content-short {
  grid-area: stack;
  align-self: center;
  .reviews__slider-card.active & {
    display: none;
  }
}

.reviews__slider-card-content-short--large {
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 140%;
  text-align: center;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
  }
}

.reviews__slider-card-content-full {
  grid-area: stack;
  display: none;
  align-self: center;
  .reviews__slider-card.active & {
    display: block;
  }
}

.reviews__slider-card-bottom-row {
  grid-area: bottom;
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  justify-content: space-between;
  @include breakpoint(mobile) {
    gap: 2rem;
  }
}

.reviews__slider-card-author {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.reviews__slider-card-author-name {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
    text-transform: uppercase;
  }
}
.reviews__slider-card-author-role {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: #77787d;
  font-family: var(--inter);

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }
}

.reviews__slider-card-plus {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  background-color: #e5e5e5;
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s;

  @include breakpoint(mobile) {
    width: 6rem;
    height: 6rem;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 2.4rem;
    background-color: black;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .reviews__slider-card.active & {
    transform: rotate(45deg);
  }

  .reviews__slider-card--grayscale & {
    background: rgba(255, 255, 255, 0.1);
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

.reviews__arrows {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 2rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.reviews__arrow {
  flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  background: rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s, opacity 0.2s;
  border-radius: 50%;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }
  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: white;
        svg {
          fill: var(--text-color);
        }
      }
    }
  }
}

.reviews__show-more {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  color: white;
  flex-shrink: 0;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 2rem;
  &:link,
  &:visited {
    color: white;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: white;
      color: var(--text-color);
      border-color: white;
    }
  }

  @include breakpoint(mobile) {
    order: 15;
    padding: 2.25rem 2rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.reviews-russian-video {
  width: 90rem;
  max-width: 100%;

  &.fancybox__content {
    padding: 0;
  }

  iframe {
    display: block;
    object-fit: contain;
    aspect-ratio: 720 / 405;
    width: 100%;
    height: auto;
  }

  &.reviews-russian-video--vk iframe {
    aspect-ratio: 853 / 480;
  }
}
