.support-detail {
  @include blockWrapper;
  margin-bottom: 10rem;
}

.support-detail__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.support-detail__heading {
  text-wrap: balance;
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10rem;
  max-width: 120rem;

  @include breakpoint(mobile) {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 3rem;
    max-width: none;
  }
}

.support-detail__video {
  display: block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  overflow: clip;
  margin-bottom: 8rem;

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }
  &::before {
    content: "";
    padding-bottom: 42.3%;
    display: block;

    @include breakpoint(mobile) {
      padding-bottom: 58%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
}

.support-detail__video-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.support-detail__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  z-index: 5;

  @include breakpoint(mobile) {
    width: 6rem;
    height: 6rem;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
  }
}

.support-detail__text-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 2rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.1rem;
  font-family: var(--inter);

  @include breakpoint(mobile) {
    display: block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
  }

  & > * {
    grid-column: 2 / 4;
  }

  :is(p) {
    @include breakpoint(mobile) {
      margin-top: 1.6rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  :is(h1, h2, h3) {
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    font-family: var(--montserrat);
    margin-top: 2rem;

    @include breakpoint(mobile) {
      margin-top: 4rem;
      margin-bottom: 1.6rem;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
    }
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  :is(ol) {
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & > li {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }

    @include breakpoint(mobile) {
      margin-top: 0.6rem;
    }
  }

  :is(ul) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @include breakpoint(mobile) {
      margin-top: 0.6rem;
      gap: 0.4rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
    & > li {
      position: relative;
      padding-left: 3.5rem;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.1rem;
      font-family: var(--inter);

      @include breakpoint(mobile) {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        padding-left: 2.4rem;
      }
      &::before {
        content: "";
        background-color: currentColor;
        transform: translateY(-50%);
        position: absolute;
        left: 1.2rem;
        top: 0.7em;
        border-radius: 50%;
        width: 6px;
        height: 6px;

        @include breakpoint(mobile) {
          left: 0.8rem;
          top: 0.64em;
        }
      }
    }
  }

  :is(h4, h5, h6) {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      margin-top: 1.6rem;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpointMF(small-tablet) {
      & + ul,
      & + ol {
        margin-top: -1.8rem;
      }
    }
  }

  :is(img) {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;

    @include breakpoint(mobile) {
      margin: 3rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.support-detail__images {
  margin: 2rem 0;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: flex-start;

  @include breakpoint(mobile) {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1rem;
    align-items: stretch;
    & > img {
      margin: 0;
    }
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
